.clearfix
  .col-md-1
    = contest.id
  .col-md-2
    = contest.name
  .col-md-3
    = contest.design_category
  .col-md-3
    = contest.design_space
  .col-md-2
    = contest.days_left
  .col-md-1
    = contest.price
.moodboard
  .status
    #{ t('designer_center.responds.item.status') }: #{ t('designer_center.responds.statuses.' + respond.status ) }
  - if respond.submitted?
    .listed-at
      = t('designer_center.responds.item.listed_as',
          answer: t("client_center.entries.answers.#{ respond.answer }"))
  .options
    = render partial: "designer_center_contests/responds/#{ respond.status }_options"
