.col-md-12.no-x-padding
  %h3= t('designer_center.sign_up.show_examples')
  %span.font20.lineHeight60
    %b= t('designer_center.sign_up.links_to_work')
  .clearfix
  .lnk_container
    .col-md-10.form-group.no-x-padding
      %input.form-control{name: 'portfolio[example_links][]', type: 'text'}
    .col-md-2.text-center-xs.text-center-sm
      %a.plus_wrapper{:href => "#"}
        %i.glyphicon.glyphicon-plus.pull-right.glyphic-link.example-link-glyph.glyphiconPlus
      %a.minus_wrapper{:href => "#"}
        %i.glyphicon.glyphicon-minus.pull-right.glyphic-link.example-link-glyph.glyphiconMinus
      .clearfix
  .clearfix
.rooms.text-center-sm.text-center-xs.uploaded-images
  .some-text.col-md-6.no-padding-left
    %h1.font20.makeMeBlack= t('designer_center.sign_up.upload_examples')
    %h1.imageUploadInfo
      %i= t('designer_center.sign_up.examples.image_requirements')
  .clearfix
  #portfolio_pictures_preview.col-md-12.dashedBorder
    .container
      .col-md-3.novice.template.portfolio-item
        = render partial: 'contests/options/example_picture_thumb', locals: { src: '' }
      - if @designer_images.present?
        - @designer_images.split(',').each do |id|
          .col-md-3.novice.thumb.portfolio-item
            = render partial: 'contests/options/example_picture_thumb',
                locals: { src: Image.find(id).medium_size_url }
    .col-md-12.marg-top20
  .clearfix
  .col-md-6.no-x-padding.marg-top40
    %input#portfolio_pictures.hidden{:multiple => "multiple", :name => "image[image]", :type => "file"}/
    %input#portfolio_pictures_ids{:name => "portfolio[picture_ids]", :type => "hidden"}/
    %button.btn3.btn3-confirm.upload-button.margin0{:type => "button"}= t('designer_center.sign_up.examples.upload_button')
    %input#portfolio_background_id{:name => "portfolio[background_id]", :type => "hidden"}/
  .clearfix
.lineBreak
