.field
  %div
    = form.label :state, t('client_center.profile.labels.city')
  %div
    = form.text_field :city
.field
  %div
    = form.label :address, t('client_center.profile.labels.address')
  %div
    = form.text_field :address
.field
  %div
    = form.label :state, t('client_center.profile.labels.state')
  %div
    = form.text_field :state
.field
  %div
    = form.label :zip, t('client_center.profile.labels.zip')
  %div
    = form.text_field :zip
