.field
  %span= t('client_center.profile.labels.address')
  = form.text_field :billing_address
.field
  %span= t('client_center.profile.labels.city')
  = form.text_field :billing_city
.field
  %span= t('client_center.profile.labels.state')
  = form.text_field :billing_state
.field
  %span= t('client_center.profile.labels.zip')
  = form.text_field :billing_zip
