.field
  %div
    = form.label :billing_state, t('client_center.profile.labels.city')
  %div
    = form.text_field :billing_city
.field
  %div
    = form.label :billing_address, t('client_center.profile.labels.address')
  %div
    = form.text_field :billing_address
.field
  %div
    = form.label :billing_state, t('client_center.profile.labels.state')
  %div
    = form.text_field :billing_state
.field
  %div
    = form.label :billing_zip, t('client_center.profile.labels.zip')
  %div
    = form.text_field :billing_zip
