.field
  %span= t('client_center.profile.labels.card_number')
  = form.text_field :card_number
.field
  %span= t('client_center.profile.labels.card_exp_month')
  %div
    = select_month(form.object.card_ex_month,
        {use_month_numbers: true,
        field_name: 'card_ex_month',
        prefix: 'client'}, {class: 'expiration-picker'})
.field
  %span= t('client_center.profile.labels.card_exp_year')
  %div
    = select_year(form.object.card_ex_year,
        {start_year: Date.today.year,
        end_year: Date.today.year + 20,
        field_name: 'card_ex_year',
        prefix: 'client'}, {class: 'expiration-picker'})
.field
  %span= t('client_center.profile.labels.card_cvc')
  = form.text_field :card_cvc
