.container.animated.fadeInDown
  .col-xs-8.col-xs-offset-2.clientLoginBox
    %h3= login_view[:title]
    .row
      .col-sm-12
        - if flash[:error].present?
          .signin-errors= flash[:error].html_safe
        - if flash[:notice].present?
          .signin-errors= flash[:notice].html_safe
    = form_tag login_view[:auth_path], { id: :login } do
      %span#err_u.text-error
      %input#username{ placeholder: t('login.email'), type: 'text', name: 'username' }/
      %span#err_p.text-error
      %input#password{ placeholder: t('login.password'), type: 'password', name: 'password' }/
      .row
        .col-xs-6
          %input#remember-me{ type: 'checkbox'}/
          %label.rememberMe{ for: 'remember-me' }= t('login.remember_me')
        .col-xs-6.text-right
          %a.forgotPass{ href: login_view[:forgot_password_path], class: tracked_link }= t('login.forgot_password')
      %input.btn.loginBtn{ type: 'submit', value: t('login.log_in')}/
      = footer if defined? footer
