= content_for :head do
  = stylesheet_link_tag  'compiled/reset'
  = javascript_include_tag 'sessions/retry_password'

#reset_pwd.reset_page{:style => "padding-top:100px;"}
  .container
    .row
      .col-md-12.box_wrapper
        = form_tag client_retry_password_sessions_path, {:id => :login} do
          .col-md-12
            = render :partial => 'home/msg'
            .box
              .head
                %h4 Enter your email address below.
                .line
              .form
                %form
                  %input#email.control-form{:name => "email", :placeholder => "Email address", :type => "text"}/
                  #err_f.text-error
                  %input{:type => "submit", :value => "Reset password"}/
