= content_for :head do
  = stylesheet_link_tag 'compiled/sign-in'
  = javascript_include_tag 'sessions/login'

.container.animated.fadeInDown.bottom60
  .row
    .col-md-6.col-md-offset-3.loginBox
      %h2= t('login.client.title')
      .row
        .col-md-8.col-md-offset-2
          = render :partial => 'home/msg'

          = form_tag client_authenticate_sessions_path, {:id => :login} do
            %span#err_u.text-error
            %input{ id: 'username', placeholder: t('login.email'), type: "text", name: "username" }/
            %span#err_p.text-error
            %input{ id: 'password', placeholder: t('login.password'), type: "password", name: "password" }/
            .row
              .col-md-6
                %input{:type => "checkbox"}/
                = t('login.remember_me')
              .col-md-6.text-right
                %a.forgotPass{:href => client_retry_password_sessions_path}= t('login.forgot_password')
            %input.btn.loginBtn{:type => "submit", :value => t('login.log_in')}/
