= content_for :head do
  = stylesheet_link_tag  'compiled/reset'
  = javascript_include_tag 'sessions/retry_password'

#reset_pwd.reset_page{:style => "padding-top:100px;"}
  .container
    .row
      .col-md-12.box_wrapper
        = form_tag retry_password_sessions_path, { id: 'reset-password' } do
          .col-md-12
            = render :partial => 'home/msg'
            .box
              .head
                %h4= t('password_reset.enter_email')
                .line
              .form
                %form
                  %input#email.control-form{:name => "email", :placeholder => "Email address", :type => "text"}/
                  %span#err_f.text-error
                  %input{:type => "submit", :value => "Reset password"}/
        %p.already
          = t('password_reset.know_password')
          %a{ href: designer_login_sessions_path, class: tracked_link }= t('password_reset.sign_in')