- content_for :head do
  = javascript_include_tag 'contests/contests_index'

- content_for :designer_center_content do
  #contests-preview
    .row
      = render partial: 'designer_center_contests/index/notifications'
      = render partial: 'designer_center_contests/index/suggested_contests'
    .row
      = render partial: 'designer_center_contests/index/all_contests'

= render partial: 'designer_center/layout'
