- content_for :head do
  = javascript_include_tag 'contests/contests_index'

- content_for :designer_center_content do
  #contests-preview
    .col-md-10.col-md-offset-1.marg-bottom30
      - if @invited_contests.present?
        .joinContestBox
          = render partial: 'designer_center_contests/index/congrats'
      .row
        = render partial: 'designer_center_contests/index/suggested_contests'
      .row
        = render partial: 'designer_center_contests/index/all_contests'
      .row
        = render partial: 'designer_center_requests/index/footer'
= render partial: 'designer_center/layout'
