- content_for :designer_center_content do
  #designer-center-responds
    .row
      .col-md-7
        %h3= t('designer_center.responds.title')
        %h4 #{ t('designer_center.responds.list_title') }:
        - @current_responds.each do |respond|
          .respond
            = render partial: 'designer_center_contests/responds/item',
                locals: { contest: @contest_details[respond], respond: respond }
      .col-md-5
        = render partial: 'designer_center_contests/responds/notifications'
    .row
      = render partial: 'designer_center_contests/responds/footer'

= render partial: 'designer_center/layout'
