- content_for :head do
  = javascript_include_tag 'shared/color_selector'
  = javascript_include_tag 'designer_center_contests/show'
  = javascript_include_tag 'contests/pictures_zoom'
  = render partial: 'shared/setup_colors_table'
  :javascript
    downloadAllI18n = #{ translations_to_json('designer_center.show_page'.split('.')) }

- content_for :designer_center_content do
  = render partial: 'designer_center_contests/show/preview'

  .col-md-12.disablePadding.marg-top30

  .col-md-6.disablePadding
    %a.backToEntries{ href: designer_center_contest_index_path }
      = image_tag 'lt.png'
      &nbsp;&nbsp;&nbsp;
      = t('contests.titles.back')

  = render partial: 'designer_center_contests/show/footer_buttons', locals: { contest: @contest, designer: @designer }
  .clearfix
    %p

= render partial: 'designer_center/layout'
