- content_for :head do
  = javascript_include_tag 'designer_center_contests/show'
  = render partial: 'shared/setup_colors_table'
  :javascript
    downloadAllI18n = #{ translations_to_json('designer_center.show_page'.split('.')) }

- content_for :designer_center_content do
  - if @show_winner_selected_warning
    = render partial: 'designer_center_contests/show/winner_selected_warning'

  = render partial: 'designer_center_contests/show/preview'

  .col-md-12.disablePadding.marg-top30

  .col-md-6.disablePadding
    %a.backToEntries{ href: designer_center_contest_index_path, class: tracked_link }
      = image_tag 'lt.png'
      &nbsp;&nbsp;&nbsp;
      = t('contests.titles.back')

  = render partial: 'designer_center_contests/show/footer_buttons',
      locals: { contest: @contest, designer: @designer }
  .clearfix
    %p

= render partial: 'designer_center/layout'
