- content_for :head do
  = javascript_include_tag 'shared/color_selector'
  = javascript_include_tag 'designer_center_contests/show'

  = render partial: 'shared/setup_colors_table'

- content_for :designer_center_content do
  #designer-center-contest-show
    = render partial: 'contests/preview'
    .row.footer
      = link_to t('designer_center.show_page.back_to_index'), designer_center_contest_index_path
      .pull-right
        - if @contest.response_of(@designer)
          = link_to t('designer_center.show_page.view_response'),
              designer_center_response_path(id: @contest.response_of(@designer).id)
        - else
          = link_to t('designer_center.show_page.join'), new_designer_center_response_path(contest_id: @contest.id)

= render partial: 'designer_center/layout'
