- content_for :head do
  = javascript_include_tag 'shared/color_selector'
  = javascript_include_tag 'designer_center_contests/show'

  = render partial: 'shared/setup_colors_table'
- content_for :designer_center_content do
  = render partial: 'contests/preview'


= render partial: 'designer_center/layout'
