- contests.each do |contest|
  .row.contest-item{ class: "#{border_class if defined? border_class}", data: {id: contest.id} }
    .col-xs-1= contest.id
    .col-xs-2= contest.name
    .col-xs-2= contest.package_name
    .col-xs-2= contest.design_space
    .col-xs-1= contest.price
    .col-xs-2
      = contest.days_count.to_i
      %span= t('designer_center.contests_preview.few_days')
    .col-xs-2= contest.submissions_count
