.row
  .col-md-12= t('designer_center.contests_preview.invite')
  .row.joinContestHeader
    .col-md-2= t('designer_center.contests_preview.contest_id')
    .col-md-2= t('designer_center.contests_preview.contest_name')
    .col-md-2= t('designer_center.contests_preview.type')
    .col-md-2= t('designer_center.contests_preview.room')
    .col-md-2= t('designer_center.contests_preview.price')
    .col-md-2= t('designer_center.contests_preview.days_left_to_enter')
  .row.joinContestBody
    .col-md-2 1234567#
    .col-md-2 My Dream Loft
    .col-md-2
      Update
      %br My Style
    .col-md-2
      Living
      %br Room
    .col-md-2 $199
    .col-md-2 15 days