.row
  .col-md-12= t('designer_center.contests_preview.invite')
  .row.joinContestHeader
    .col-xs-2= t('designer_center.contests_preview.contest_id')
    .col-xs-2= t('designer_center.contests_preview.contest_name')
    .col-xs-2= t('designer_center.contests_preview.type')
    .col-xs-2= t('designer_center.contests_preview.room')
    .col-xs-2= t('designer_center.contests_preview.price')
    .col-xs-2= t('designer_center.contests_preview.days_left_to_enter')
  .row.joinContestBody
    = render partial: 'designer_center_contests/index/contests_list', locals: { contests: @invited_contests }
