%tr{ class: classes, data: { id: id } }
  = content_tag(column_tag, id)
  = content_tag(column_tag, project_name)
  = content_tag(column_tag, design_category_name)
  = content_tag(column_tag, design_space_name)
  = content_tag(column_tag, days_left)
  = content_tag(column_tag, price)
