:javascript

  var fitHeight = function(){
    $('.finalNoteToDesigner .comments').enscroll({
          verticalTrackClass: 'scrollBoxCommentsTrack',
          verticalHandleClass: 'scrollBoxCommentsHandle',
          minScrollbarLength: 28
    });

    var oneInRow = window.matchMedia('(max-width: 768px)').matches

    $('.comment').each(function(i, row){
      var maxHeight = 0
      var parts = $(row).find('> div')
      parts.css('height', '')
      if(!oneInRow){
        parts.each(function(){
          if (maxHeight < $(this).height()){
            maxHeight = $(this).height()
          }
        })
      }
      parts.css('height', maxHeight + 'px')
    })
  }

  $(document).resize(fitHeight)
  $(fitHeight)


.finishedRequest.ccFinalPage
  .clearfix.designerDetail
    .col-sm-2.text-center
      = image_tag '/assets/profile-img1.png', width: 90, height: 90, class: 'img-circle'
    .col-sm-10
      .header= show_page.designer_name
      %p= show_page.contest_request.final_note

  .row.finalMoodboard
    .col-sm-12
      = render 'shared/moodboard', items: show_page.current_lookbook_items

  .row.moodboardInstructions
    .col-sm-12
      - if show_page.contest_request.pull_together_note.present?
        .header= t('client_center.entries.space.pull_together')
        %p= show_page.contest_request.pull_together_note
  - if show_page.image_items.present?
    .header= t('client_center.entries.space.complete_lock')
    .fullWidthLine.marginBottom40.marginTop20
    .row.itemRow
      - show_page.image_items.each do |product_item|
        - unless product_item.image_id.nil?
          = render partial: 'clients/client_center/entries/final_design_image_item',
            locals: { image_item: ImageItemView.new(product_item) }

  .fullWidthLine.marginBottom40.marginTop20
  .row
    .col-sm-12.finalNoteToDesigner
      .titleRow
        %span.header= t('designer_center.finished.final_note.title')
        - if show_page.request_comments.present?
          %span.commentsCount #{ show_page.request_comments.length } comments
      - if show_page.request_comments.present?
        .comments
          = render 'designer_center_requests/show/request_comments_read_only', comments: show_page.request_comments
