.row.marg-top30.response{ data: { id: request.id } }
  .col-md-8.disablePadding
    = render 'design_brief_link', request: request, request_view: request_view
    .initialImage
      - if request.lost?
        .col-md-12.loser-text.big= t('designer_center.responses.loser.title')
        .col-md-12.loser-text.small= t('designer_center.responses.loser.add_to_portfolio')
      - if request.editable?
        = render 'designer_center_requests/show/image_loading',
              items: show_page.current_lookbook_items,
              button_title: t('designer_center.responses.item.edit_concept_board')
      - else
        = render 'shared/moodboard', items: show_page.current_lookbook_items

  .col-md-4.attribute{ data: {attribute: 'feedback', url: designer_center_response_path(request.id) } }

    = render 'designer_center_requests/show/notes', request: request, designer_view: designer_view
    - if request.sound
      .designer-voice
        = render 'contest_requests/listen', request: request
      .hLine
    - if request.comments.present? || request.commenting_enabled?
      = render 'shared/comments',
        request: request,
        comments: request.comments.order(:created_at),
        show_comment_switcher: !request_view.initial_concept_board?,
        readonly: !show_page.editable?
  .clearfix
  - if show_page.image_items_partial
    = render show_page.image_items_partial
  = render 'designer_center_requests/footer_buttons'
