.col-md-12.disablePadding.marginTop40
  = link_to t('client_center.moodboard_details.back'),
      client_center_entry_path(id: contest_request.contest.id),
      class: "backToEntries #{ tracked_link }"
.viewingMoodboard
  .col-md-8.disablePadding
    = render 'contest_requests/moodboard_with_answers',
        contest_request: contest_request, show_answer_options: show_answer_options
  .col-md-4
    = render 'contest_requests/submission_info',
        designer: contest_request.designer, submitted_at: contest_request.created_at, request: contest_request
    - if contest_request.commenting_enabled? || contest_request.comments.present?
      = render 'designer_center_requests/edit/comments',
          request: contest_request, comments: contest_request.comments, show_comment_switcher: false
