.container1
  #bottomCarouselHome.carousel.slide.carousel-fade{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators.visible-xs
      %li{"data-slide-to" => "0", "data-target" => "#bottomCarouselHome"}
      %li.active{"data-slide-to" => "1", "data-target" => "#bottomCarouselHome"}
      %li{"data-slide-to" => "2", "data-target" => "#bottomCarouselHome"}
      %li{"data-slide-to" => "3", "data-target" => "#bottomCarouselHome"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item
        %img#test{"data-original": "/assets/kirsten-room1.jpg"}/
        .carousel-caption
          %div
            %h5 Kirsten
            %p
              %span “
              As soon as the process began, I felt instantly inspired to go out and buy all the new furniture the designer recommended for my space. It was so easy! 
              %span ”
      .item.active
        %img#test{"data-original": "/assets/cathy-room1.jpg"}/
        .carousel-caption
          %div
            %h5 Cathy
            %p
              %span “
              I never felt comfortable in this room - there were just too many things wrong with it. Now, it brings me a lot of joy to be in this room. 
              %span ”
      .item
        %img#test{"data-original": "/assets/kevin-room1.jpg"}/
        .carousel-caption
          %div
            %h5 Kevin
            %p
              %span “
              Our priorities changed a lot when we had kids and our home became cluttered. Our designer provided some amazing solutions that were both practical - and nice to look at. 
              %span ”
      .item
        %img#test{"data-original": "/assets/melanie-room1.jpg"}/
        .carousel-caption
          %div
            %h5 Melanie
            %p
              %span “
              I always thought an interior designer would be too expensive, so I didn’t even consider it. My designer worked with my busy schedule - and it was actually fun! 
              %span ”
    / Controls
    %a.left.carousel-control.hidden-xs{"data-slide" => "prev",
        :href => "#bottomCarouselHome",
        :role => "button",
        :style => "margin-left: 375px;"}
      %img{:src => "/assets/carouselPrev.png"}/
    %a.right.carousel-control.hidden-xs{"data-slide" => "next",
        :href => "#bottomCarouselHome",
        :role => "button",
        :style => "margin-right: 375px;"}
      %img{:src => "/assets/carouselNext.png"}/
  .getStartedBottom.container
    .form-description.col-md-6.col-xs-12
      %h2= t('home.bottom.header')
      %h4= t('home.bottom.description')
    .form-body.col-md-6.col-xs-12
      = form_for @client, { url: ssl_sign_up_with_email_clients_path, method: 'post' } do |f|
        %label.col-xs-12= t('home.about_us.signup_form.name')
        = f.text_field :name, class: 'col-xs-12 form-control'
        %label.col-xs-12= t('home.about_us.signup_form.email')
        = f.text_field :email, class: 'col-xs-12 form-control'
        .error-message
          %span{ id: 'err_email' }
        %label.col-xs-12= t('home.about_us.signup_form.password')
        = f.password_field :password, class: 'col-xs-12 form-control'
        .error-message
          %span{ id: 'err_passwd' }
        %label.col-xs-12= t('home.about_us.signup_form.phone')
        = f.text_field :phone_number, class: 'col-xs-12 form-control'
        .form-button.col-xs-12
          %a.sign-up-from-homepage{ href: '#' }
            %span= t('home.get_started').upcase
            %img.arrow{ src: '/assets/go_right.png' }
  #scrollingAnchor

:javascript
  function loadCSS(href){
    var ss = window.document.createElement('link'),
        ref = window.document.getElementsByTagName('head')[0];

    ss.rel = 'stylesheet';
    ss.href = href;

    // temporarily, set media to something non-matching to ensure it'll
    // fetch without blocking render
    ss.media = 'only x';

    ref.parentNode.insertBefore(ss, ref);

    setTimeout( function(){
      // set media back to `all` so that the stylesheet applies once it loads
      ss.media = 'all';
    },0);
  }
  loadCSS('/assets/home/designer_stories.css.scss');
  loadCSS('/assets/application.css');
