.carousel-shared-content.carousel-caption
  .content
    .main-title= t('home.carousel.main_title')
    %a.getStartedBtn{ href: '#bottomCarouselHome' }
      %span= t('home.get_started').upcase
      %img.arrow{ src: '/assets/go_right.png' }
  .detailsContainer
    .details
      %span.detail= t('home.carousel.price', price: the_only_package.price).upcase
      %span|
      %span.detail= t('home.carousel.choose_designer').upcase
      %span|
      %span.detail= t('home.carousel.fun_and_easy').upcase
