%a.circleDownArrow.hidden-sm.hidden-xs{ href: 'javascript:void(0)' }
.container
  .row
    %h2= t('home.our_network.title')
    %p.title-border= t('home.our_network.description')
    .shortUnderline.marginBottom40

.container.designers-slider

  - t('home.our_network.designers').each_with_index do |designer, index|
    .theDesigner
      .design-example{ style: "background-image: url('/assets/our_designers/design-#{ index + 1 }.jpg');" }
      .image-container
        %img{ src: "/assets/our_designers/personal-#{ index + 1 }.png" }
        %h4= designer[:name]
      .clearfix
      %p= designer[:wording]

:javascript
  function loadCSS(href){
    var ss = window.document.createElement('link'),
        ref = window.document.getElementsByTagName('head')[0];

    ss.rel = 'stylesheet';
    ss.href = href;

    // temporarily, set media to something non-matching to ensure it'll
    // fetch without blocking render
    ss.media = 'only x';

    ref.parentNode.insertBefore(ss, ref);

    setTimeout( function(){
      // set media back to `all` so that the stylesheet applies once it loads
      ss.media = 'all';
    },0);
  }
  loadCSS('/assets/home/designer_stories.css.scss');
  loadCSS('/assets/application.css');
  