%h3.font36= t('home.how_it_works.title')
.smallUnderline
.row.how-it-works
  .col-sm-4
    %img{src: "/assets/style_profile.png"}/
    %h4.title= t('home.how_it_works.create_profile_step.title')
    %p.description= t('home.how_it_works.create_profile_step.description')
  .col-sm-4
    %img{src: "/assets/choose_designer.png"}/
    %h4.title= t('home.how_it_works.choose_designer_step.title')
    %p.description= t('home.how_it_works.choose_designer_step.description')
  .col-sm-4
    %img{src: "/assets/final_design_instructions.png"}/
    %h4.title= t('home.how_it_works.final_design_step.title')
    %p.description= t('home.how_it_works.final_design_step.description')
