.row
  .col-md-12.text-center
    %h3.font36= t('home.success_stories.title')
    .smallUnderline
.row.success-story.marginTop100
  .col-sm-2
    %img{src: "/assets/janeL.png"}/
  .col-sm-10
    .row
      .col-sm-6.user-story
        %img.pointer-left{src: "/assets/pointer_left.png"}/
        %h4= t('home.success_stories.jane_story.name')
        %div
        %p= t('home.success_stories.jane_story.story')
      .col-sm-6
        %img.productListIMG{src: "/assets/room_jane.jpg"}/
.row.success-story
  .col-sm-10
    .row
      .col-sm-6
        %img.productListIMG{src: "/assets/room_john.jpg"}/
      .col-sm-6.user-story
        %img.pointer-right{src: "/assets/pointer_right.png"}/
        %h4= t('home.success_stories.john_story.name')
        %div
        %p= t('home.success_stories.john_story.story')
  .col-sm-2.text-right
    %img{src: "/assets/johnG.png"}/
.row.success-story
  .col-sm-2
    %img{src: "/assets/audreyS.png"}/
  .col-sm-10
    .row
      .col-sm-6.user-story
        %img.pointer-left{src: "/assets/pointer_left.png"}/
        %h4= t('home.success_stories.audrey_story.name')
        %div
        %p= t('home.success_stories.audrey_story.story')
      .col-sm-6
        %img.productListIMG{src: "/assets/room_audrey.jpg"}/
