#topCarouselHome.carousel.slide.carousel-fade{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li{"data-slide-to" => "0", "data-target" => "#topCarouselHome"}
    %li.active{"data-slide-to" => "1", "data-target" => "#topCarouselHome"}
    %li{"data-slide-to" => "2", "data-target" => "#topCarouselHome"}
    %li{"data-slide-to" => "3", "data-target" => "#topCarouselHome"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    .item
      .image-container{ style: 'background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%, transparent 50%),
                                url("/assets/bedroom1.jpg") center center no-repeat; background-size: cover;' }
      = render 'home/index/carousel_shared_content'
    .item.active
      .image-container{ style: 'background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%, transparent 50%),
                                url("/assets/come_home.jpg") center center no-repeat; background-size: cover;' }
      = render 'home/index/carousel_shared_content'
    .item
      .image-container{ style: 'background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%, transparent 50%),
                                url("/assets/Helene03.jpg") center; background-size: cover;' }
      = render 'home/index/carousel_shared_content'
    .item
      .image-container{ style: 'background: linear-gradient(to bottom, rgba(0,0,0,.25) 0%, transparent 50%),
                                url("/assets/Livingroom04.jpg") center; background-size: cover;' }
      = render 'home/index/carousel_shared_content'
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#topCarouselHome", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#topCarouselHome", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
.bottom-details
  %span.detail= t('home.carousel.price', price: the_only_package.price).upcase
  %br
  %span.detail= t('home.carousel.choose_designer').upcase
  %br
  %span.detail= t('home.carousel.fun_and_easy').upcase
