.container
  %h2= t('home.what_to_expect.header').upcase
  .shortUnderline.marginBottom40
  .row.text-center
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object.png"}/
      %h5= t('home.what_to_expect.multiple_concepts.title')
      %p= t('home.what_to_expect.multiple_concepts.description')
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object1.png"}/
      %h5= t('home.what_to_expect.collaborate_with_professionals.title')
      %p= t('home.what_to_expect.collaborate_with_professionals.description')
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object2.png"}/
      %h5= t('home.what_to_expect.customized_design.title')
      %p= t('home.what_to_expect.customized_design.description')

    .col-sm-6.col-sm-offset-0.col-lg-4.col-lg-offset-2
      %img{:src => "/assets/Vector-Smart-Object3.png"}/
      %h5= t('home.what_to_expect.easy_instructions.title')
      %p= t('home.what_to_expect.easy_instructions.description')
    .col-sm-6.col-lg-4
      %img{:src => "/assets/Vector-Smart-Object4.png"}/
      %h5= t('home.what_to_expect.shopping_list.title')
      %p= t('home.what_to_expect.shopping_list.description')
