.bottom20.marg-top30.row.contest{ data: { id: @contest.id } }
  .animated.fadeInDown
    .row
      .col-md-12.feedbackInvite
        %h3= t('client_center.entries.need_idea')
        %p= t('client_center.entries.you_invited', name: @contest.client.first_name)
        %p
          = t('designer_center.contests_preview.contest_name')
          %span= feedback_page.contest_view.name
        %p
          = t('designer_center.contests_preview.room')
          %span= feedback_page.contest.design_space.name
  %hr
= render partial: 'clients/client_center/entries/feedback/feedback_items_with_pagination',
    locals: { contest_page: feedback_page }

- if @client
  = render partial: 'clients/client_center/entries/notes'
  = render partial: 'clients/client_center/entries/user_invitations'
