.row
  %label= t('contests.titles.appeals')
.row
  .col-sm-8
    .plan.appeals
      %table.table.table-hover
        - @contest_view.appeal_scales.each do |scale|
          %tr
            %td.col-sm-2= scale.first_name
            %td.col-sm-8
              .progress
                .progress-bar.progress-bar-success{:style => "width: #{scale.value}%"}
                  = scale.value
                  \%
                .progress-bar.progress-bar-warning{:style => "width: #{scale.second_value}%"}
                  = scale.second_value
                  \%
            %td.col-sm-2= scale.second_name
