.row
  %div{:class => @creation_wizard.category_checkbox_div_class(design_category)}
    %label.checkbox
      = contest_creation_category_checkbox(design_category)
      #{design_category.name} (#{design_category.description}. From $#{design_category.price})
    .col-sm-6
      %img{src: "/assets/#{design_category.before_picture}"}
    .col-sm-6
      %img{src: "/assets/#{design_category.after_picture}"}
