= render partial: 'contests/preview/current_contest_infobox'

.col-md-12.marg-top30.contestInfo
  .row.borderBottom.sections_table
    - ContestView::CONTEST_PREVIEW_ATTRIBUTES.each do |attribute|
      = render partial: 'clients/client_center/profile/contest_attribute_preview', locals: { attribute: attribute }

.col-md-12.disablePadding.marg-top30

.col-md-6.disablePadding
  %a.backToEntries{:href => "#"}
    = image_tag 'lt.png'
    &nbsp;&nbsp;&nbsp;
    = t('contests.titles.back')

.col-md-6.disablePadding.text-right
  %a.submitMyDesign{:href => "#"}
    = t('contests.titles.join')
    = image_tag 'gt.png'
