.row
  = render partial: 'contests/previews/categories_preview'
.row
  = render partial: 'contests/previews/areas_preview'
.row
  = render partial: 'contests/previews/designer_level_preview'
.row
  = render partial: 'contests/previews/appeals_preview'
.row
  = render partial: 'contests/previews/desirable_colors_preview'
.row
  = render partial: 'contests/previews/undesirable_colors_preview'
.row
  = render partial: 'contests/previews/examples_preview'
.row
  = render partial: 'contests/previews/links_preview'
.row
  = render partial: 'contests/previews/space_pictures_preview'
.row
  = render partial: 'contests/previews/dimensions_preview'
.row
  = render partial: 'contests/previews/budget_preview'
.row
  = render partial: 'contests/previews/comment_preview'