= content_for :head do
  = javascript_include_tag 'jquery.creditCardValidator.js'
  = javascript_include_tag 'contests/account_creation'

.container.animated.fadeInDown.client-signup
  .row.text-center.title-first
    %h1.main-title= t('client_center.sign_up.title')
    = render :partial => 'home/msg'
  = form_for @client, {:id => "create", :method => "post"} do |f|
    %div.divider
    %h3= t('client_center.sign_up.create_account')
    .col-md-12.no-padding-left
      .row.form
        .col-md-4
          %label= t('client_center.profile.labels.first_name')
          = f.text_field :first_name, class: 'form-control', tabindex: 1
          %span#err_first_name.text-error
        .col-md-offset-2.col-md-4
          %label= t('client_center.profile.labels.email')
          = f.text_field :email, :class => "form-control", tabindex: 3
          %span#err_email.text-error
      .row.form
        .col-md-4
          %label= t('client_center.profile.labels.last_name')
          = f.text_field :last_name, :class => "form-control", tabindex: 2
          %span#err_last_name.text-error
        .col-md-offset-2.col-md-4
          %label= t('client_center.sign_up.password')
          = f.password_field :password, :class => "form-control", tabindex: 4
          %span#err_password.text-error
      .row.form
        .col-md-offset-6.col-md-4
          %label= t('client_center.sign_up.confirm_password')
          = f.password_field :password_confirmation, :class => "form-control", tabindex: 5
          %span#err_cpassword.text-error
      %div.divider
    %h3= t('client_center.sign_up.payment_information')
    .col-md-12.no-padding-left
      .row.form
        .col-md-4
          %label= t('client_center.sign_up.name_on_card')
          = f.text_field :name_on_card, :class => "form-control", tabindex: 6
          %span#err_name_on_card.text-error
        .col-md-offset-2.col-md-4
          %label= t('client_center.sign_up.card_type')
          = select('contest',
              'type',
              options_for_select(PersonalData.card_type_options, 0),
              {},
              { class: 'selectpicker form-selector', tabindex: 11 })
          .clearfix
      .row.form
        .col-md-4
          %label= t('client_center.profile.labels.address')
          = f.text_field :address, :class => "form-control", tabindex: 7
          %span#err_address.text-error
        .col-md-offset-2.col-md-3
          %label= t('client_center.profile.labels.card_number')
          %input#card_number.form-control{ maxlength: 19,
            :name => "Contest[card_number]",
             :type => "text", tabindex: 12}/
          %span#err_card_number.text-error
        .col-md-1
          %label= t('client_center.profile.labels.card_cvc')
          %input#card_cvc.form-control.left-control{ :name => "Contest[cvc]",
            :type => "text", tabindex: 13}/
          %span#err_cvc.text-error
      .row.form
        .col-md-4
          %label= t('client_center.profile.labels.city')
          %input.form-control{:type => "text", tabindex: 8}/
        .col-md-offset-2.col-md-2
          %label= t('client_center.profile.labels.card_exp_date')
          = select_month(0,
              { :field_name => 'card_exp_month',
                prompt: t('client_center.sign_up.select_month') },
              :class => "selectpicker form-selector card-exp", tabindex: 14)
        .col-md-2
          %label  
          = select_year(0,
              { :start_year => Time.now.year,
                :end_year => Time.now.year + 10,
                :field_name => :card_exp_year,
                prompt: t('client_center.sign_up.select_year')},
              :class => "selectpicker form-selector card-exp", tabindex: 15)
      .row.form
        .col-md-2
          %label= t('client_center.profile.labels.state')
          = select('client',
              'state',
              options_for_select(PersonalData.state_options, 0),
              {},
              { class: 'selectpicker form-selector', tabindex: 9 })
          %span#err_state.text-error
        .col-md-2
          %label= t('client_center.profile.labels.zip')
          = f.text_field :zip,
              :class => "form-control left-control",
              tabindex: 10
          %span#err_zip.text-error
      %div.divider
    .clearfix
    .text-center
      %h3.agreement
        = check_box_tag 'client_agree', 'yes', false, name: '', class: 'hidden'
        .tick-btn
          %span{ tabindex: 16 } ✓
        = t('client_center.sign_up.i_agree')
      .clearfix
      %button.btn1.btn1-confirm.submit-button{:type => "button", tabindex: 17 }
        = t('client_center.sign_up.submit')
