= content_for :head do
  = javascript_include_tag 'jquery.creditCardValidator.js'
  = javascript_include_tag 'contests/account_creation'
  = javascript_include_tag 'i18n'
  = render 'shared/setup_stripe_js'
  :javascript
    signupI18n = #{ translations_to_json(['client_center', 'sign_up']) }

.container.animated.fadeInDown.client-signup.creditCardForm.lightFont
  %h3.main-title= t('client_center.sign_up.title').html_safe
  = render partial: 'home/msg'
  = form_for @client, { id: 'create', method: 'post' } do |f|
    .fullWidthLine
    %h4= t('client_center.sign_up.create_account')
    .row.accountInfo
      .col-xs-6
        %label
          %p= t('client_center.profile.labels.first_name')
          = f.text_field :first_name, class: 'form-control', tabindex: 1
          %span#err_first_name.text-error
        %label
          %p= t('client_center.profile.labels.last_name')
          = f.text_field :last_name, class: 'form-control', tabindex: 2
          %span#err_last_name.text-error
      .col-xs-6
        %label
          %p= t('client_center.profile.labels.email')
          = f.text_field :email, class: 'form-control', tabindex: 3
          %span#err_email.text-error
        %label
          %p= t('client_center.sign_up.password')
          = f.password_field :password, class: 'form-control', tabindex: 4
          %span#err_password.text-error
        %label
          %p= t('client_center.sign_up.confirm_password')
          = f.password_field :password_confirmation, class: 'form-control', tabindex: 5
          %span#err_cpassword.text-error
    .fullWidthLine.marginTop20

    =render partial: 'shared/payment_information', locals: { f: f }

    %p.iAgreeTerms
      %span.customCheckbox
        = check_box_tag 'client_agree', 'yes', false, name: '', class: 'hidden'
        %label{ for: 'client_agree' }
      = t('client_center.sign_up.i_agree')
      %span.terms-of-use= t('client_center.sign_up.terms_of_use')
    %button.btn.btn1-confirm.submit-button{ type: 'button', tabindex: 17 }
      = t('client_center.sign_up.submit')
    = hidden_mixpanel_submit_tag

= render partial: 'home/terms_of_service_modal'
