- content_for :page_content do
  .row
    .col-sm-10.col-sm-offset-1.page-title
      %h3= t('contests.titles.design_style')
  = render partial: 'home/msg'
  = form_tag save_design_style_contests_path, {id: "design_style", method: "post"} do
    %input#design_style_image{name: "design_style[document]", type: "hidden", value: (session[:design_style][:document] if session[:design_style].present?)}
    %input#design_style_image_id{name: "design_style[document_id]", type: "hidden", value: (session[:design_style][:document_id] if session[:design_style].present?)}
    = render partial: 'contests/options/designer_level_options'
    = render partial: 'contests/options/appeals_options'
    = render partial: 'contests/options/desirable_colors_options'
    = render partial: 'contests/options/undesirable_colors_options'
    = render partial: 'contests/options/example_pictures_options'
    = render partial: 'contests/options/example_links_options'
    .row.formbuttons
      .col-sm-3
        %a.order{href: design_brief_contests_path} GO BACK
      .col-sm-4.col-sm-offset-4
        %a.order.continue{href: "#"} CONTINUE
= render partial: 'contests/contest_creation_page'

= content_for :head do
  = javascript_include_tag 'bootstrap-slider'
  = javascript_include_tag 'jquery.uploadify'
  = javascript_include_tag 'contests/design_style'
  = javascript_include_tag 'contests/example_pictures_options'
  = javascript_include_tag 'lib/select2-3.5.2/select2.js'
  = javascript_include_tag 'shared/color_selector'
  = javascript_include_tag 'contests/desirable_colors_options'
  = javascript_include_tag 'contests/undesirable_colors_options'

  = stylesheet_link_tag 'lib/select2-3.5.2/select2.css'
  = stylesheet_link_tag 'lib/select2-3.5.2/select2-bootstrap'
  = stylesheet_link_tag 'lib/slider'
  = stylesheet_link_tag 'uploadify'
  = stylesheet_link_tag 'contests/design_style'
  = render partial: 'shared/setup_uploadify'
