- content_for :page_content do
  = render :partial => 'home/msg'
  = form_tag save_design_space_contests_path, {:id => "design_space", :method => "post"} do
    %input#design_space_image{:name => "design_space[document]", :type => "hidden", :value => (session[:design_space][:document] if session[:design_space].present?)}/
    %input#design_space_image_id{:name => "design_space[document_id]", :type => "hidden", :value => (session[:design_space][:document_id] if session[:design_space].present?)}/

    = render partial: 'contests/options/picture_of_space_option'
    = render partial: 'contests/options/dimensions_of_space_options'
    = render partial: 'contests/options/budget_for_materials_options'
    = render partial: 'contests/options/comments_options'
    .row.formbuttons
      .col-sm-3
        %a.order{:href => design_style_contests_path} GO BACK
      .col-sm-4.col-sm-offset-4
        %a.order.continue{:href => "#"} CONTINUE
= render partial: 'contests/contest_creation_page'

= content_for :head do
  = javascript_include_tag 'jquery.uploadify'
  = javascript_include_tag 'contests/design_space'

  = stylesheet_link_tag 'uploadify'
  = render partial: 'shared/setup_uploadify'
