= content_for :head do
  = javascript_include_tag 'bootstrap-slider'
  = javascript_include_tag 'contests/design_style'
  = javascript_include_tag 'shared/color_selector'
  = javascript_include_tag 'contests/desirable_colors_options'
  = javascript_include_tag 'contests/undesirable_colors_options'
  = javascript_include_tag 'contests/inspiration_links'

  = stylesheet_link_tag 'lib/slider'
  = stylesheet_link_tag 'contests/design_style'
  = render partial: 'shared/setup_uploadify'
  = render partial: 'shared/setup_colors_table'
  :javascript
    window.appealsCount = #{ Appeal.count }
    window.I18n = #{ translations_to_json(['contests', 'design_style']) }

- content_for :page_content do
  #design-style
    = render partial: 'home/msg'
    .packages.text-package
      .col-md-6.no-x-padding
        #header.col-md-11
          %h1= t('contests.design_style.title')
          %span#description= t('contests.design_style.description')
      .col-md-4.no-padding-right
        %h1{ style: 'visibility:hidden;' }  
        %span.quote
          %i= t('contests.design_style.quote')
    = form_tag save_design_style_contests_path, {id: 'design_style', method: 'post'} do
      = render partial: 'contests/options/designer_level_options'
      = render partial: 'contests/options/appeals_options'
      = render partial: 'contests/options/desirable_colors_options'
      = render partial: 'contests/options/undesirable_colors_options'

      = render partial: 'contests/options/have_examples'
      .examples-view-details
        = render partial: 'contests/options/example_pictures_options'
        = render partial: 'contests/options/example_links_options'
      .col-md-12.no-x-padding.text-center.footer-buttons
        .bedr.col-md-offset-3.col-md-2
          %a{href: design_brief_contests_path}
            %div.back-button
              %b= t('contests.creation.go_back')
        .col-md-1
        .bedr.col-md-2.continue
          %a.order{:href => "#"}
            %div.continue-button
              %b= t('contests.creation.continue')

= render partial: 'contests/contest_creation_page'
