- content_for :head do
  = javascript_include_tag 'contests/design_brief'
  = javascript_include_tag 'contests/area_options'
  :javascript
    window.I18n = #{ translations_to_json('contests') }

- content_for :page_content do
  #choose-room
    = render partial: 'home/msg'
    = form_tag save_design_brief_contests_path, { id: 'design_categories', method: 'post' } do
      = render partial: 'contests/options/category_options'
      = render partial: 'contests/options/area_options'
    .text-center
      %button.btn1.btn1-confirm{ type: 'button' }= t('contests.creation.continue')

= render partial: 'contest_creation_page'
