= content_for :head do
  = javascript_include_tag 'contests/design_space'
  = javascript_include_tag 'contests/design_space_options'
  = render partial: 'shared/setup_uploadify'

  :javascript
    I18n = #{ translations_to_json(['contests', 'space']) }

= render partial: 'shared/have_unfinished_project'

- content_for :page_content do
  .newDesignContest.enterDimension
    = render partial: 'home/msg'
    = form_tag @save_path,
        { id: 'design_space',
          method: 'post',
          class: 'intake-form' } do
      .packages.text-package.title
        %h3= t('contests.space.title')
        %p.lightFont= t('contests.space.description')
      = render partial: 'contests/options/space_location'
      = render partial: 'contests/options/have_pictures_or_dimension'
      .space-view-details
        = render partial: 'contests/options/space_pictures_options'
        = render partial: 'contests/options/space_dimensions_options'
      .fullWidthLine.marginTop40
      = render partial: 'contests/options/budget_options'
      .fullWidthLine.marginTop40
      = render partial: 'contests/options/feedback_options'

      = hidden_mixpanel_submit_tag

      .fullWidthLine.marginTop20
      = render 'contests/sign_up_suggestion'
      .text-center.marginTop40
        %a{ href: design_style_contests_path,
            class: "backBtn #{ tracked_link }",
            data: { name: 'Contest creation - Back to Step 2' } }= t('contests.creation.go_back')
        %a.continueBtn{ href: '#' }= t('contests.creation.continue')
        .clearfix
        %a{ href: design_style_contests_path,
            class: "backBtnLink #{ tracked_link }",
            data: { name: 'Contest creation - Back to Step 2' } }
          %img{ src: '/assets/back-to-small.png' }
          = t('contests.creation.go_back')

= render partial: 'contests/contest_creation_page'
