- content_for :page_content do
  = render :partial => 'home/msg'
  = form_tag save_design_space_contests_path, {:id => "design_space", :method => "post"} do
    = render partial: 'contests/options/space_pictures_options'
    = render partial: 'contests/options/space_dimensions_options'
    = render partial: 'contests/options/budget_options'
    = render partial: 'contests/options/feedback_options'
    .row.formbuttons
      .col-sm-3
        %a.order{:href => design_style_contests_path} GO BACK
      .col-sm-4.col-sm-offset-4
        %a.order.continue{:href => "#"} CONTINUE
= render partial: 'contests/contest_creation_page'

= content_for :head do
  = javascript_include_tag 'jquery.uploadify'
  = javascript_include_tag 'contests/design_space'
  = javascript_include_tag 'contests/space_pictures_options'

  = stylesheet_link_tag 'uploadify'
  = render partial: 'shared/setup_uploadify'
