<!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                &nbsp;
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="col-sm-12">
                    <div class="plan">
                        <div class="wrapper">
						
								<div class="row">
								<div class="page-header">
									<h2>Design Center</h2>
								</div>
							</div>
							<div class="row">
								<div class="page-header">
									<h3>Preview current contests</h3>
								</div>
							</div>
                            
							<%= render :partial => 'home/msg' %>
                            <div class="container preview">

	
								<div class="row">
									<div class="col-sm-10">
									<div class="plan appeals">
									<table class="table table-hover">
										<tr>											
												<td class="col-sm-6"><strong>Contest Name</strong></td>
												<td class="col-sm-2"><strong>Budget</strong></td>
												<td class="col-sm-2"><strong>Created at</strong></td>
												<td class="col-sm-2"><strong>Action</strong></td>
										</tr>
										<% if @contests.present? 
											 @contests.each do |contest|
										%>													
											<tr>											
												<td class="col-sm-6"><%= contest.project_name %></td>
												<td class="col-sm-2"><%= Contest::CONTEST_DESIGN_BUDGET_PLAN[contest.budget_plan.to_i] %></td>
												<td class="col-sm-2"><%= contest.created_at.strftime("%d %b. %Y")%></td>
												<td class="col-sm-2"><%= link_to 'Details', contest_path(contest) %></td>
											</tr>
									    	<% end %>
									    	
									    	<tr><td colspan="2">
												<div class="digg_pagination">
					    							<%= will_paginate @contests, :container => false %>
					  							</div>
											</tr>
									    
									    <% else %>
									    	<tr>											
												<td class="col-sm-10" colspan="2">
													No record found.
												</td>
											</tr>
									    <% end %>		
								</table>
									</div>
									</div>
								</div>
								
								
						
				
							</div>
							
							
			
										
			
			
							</div>

	
							
                        </div>
                    </div>
                </div>
              
                
            </div>
            
        </div>
    

     

    