- title(t('page_titles.client_center.entries'))

- content_for :head do
  = javascript_include_tag 'designer_center_requests/index'

- content_for :client_center_content do
  #client-center-contests.lightFont.marginTop20
    .row.no-x-padding
      .col-md-12.contestUnderway.no-x-padding
        .row
          .col-md-8
            %h3= t('designer_center.responses.title')
            %p= t('designer_center.responses.list_title')
        .contestDesigner.noBorderRadius.header-row
          .row.contestTableHeader
            .col-sm-10
              .row
                - if @current_contests.show_days_left_column?
                  .col-xs-4= t('designer_center.contests_preview.contest_name')
                  .col-xs-4= t('designer_center.contests_preview.room')
                  .col-xs-4= t('designer_center.contests_preview.days')
                - else
                  .col-xs-6= t('designer_center.contests_preview.contest_name')
                  .col-xs-6= t('designer_center.contests_preview.room')
        = render 'contests/index/items', { columns: @current_contests }

        - if @completed_contests.contests.present?
          %h3.seeCompletedContests= t('designer_center.contests_preview.completed_contests_title')
          #completedContestsBox.show
            = render 'contests/index/items', { columns: @completed_contests }

= render 'clients/client_center/layout', { container_class: 'bottom60' }
