- content_for :title do
  Client Center - Invite more designers
- content_for :head do
  = javascript_include_tag 'clients/entries'

  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }
    MessagesI18n = #{ translations_to_json(['board_comments']) }

- content_for :client_center_content do
  .entries-container
    .entries-initial
      %input.hidden.contest{ type: 'hidden', data: { id: @contest.id } }
      = render(partial: 'clients/client_center/entries/designers_to_invite',
          locals: { designers: Designer.active.includes(portfolio: [:personal_picture]).all.map { |designer| DesignerView.new(designer) } })
      = link_to('Back to Entries', client_center_entry_path(id: @contest.id), class: 'seeMoreDesigners')
      .fullWidthLine
      = render partial: 'clients/client_center/entries/more_features'

= render partial: 'clients/client_center/layout',
    locals: { container_class: ('entries-page' unless @contest == 'finished') }
