= content_for :head do
  = javascript_include_tag 'jquery.creditCardValidator.js'
  = javascript_include_tag 'contests/payment_details'
  = javascript_include_tag 'contests/promocode'
  = javascript_include_tag 'i18n'
  = render 'shared/setup_stripe_js'
  :javascript
    signupI18n = #{ translations_to_json(['client_center', 'sign_up']) }
    $(function(){
      PaymentPage.init()
    })

.container.animated.fadeInDown.client-signup.creditCardForm.lightFont
  %h3.main-title= t('client_center.sign_up.payment_details').html_safe
  = render partial: 'home/msg'
  .fullWidthLine
  .payment-info-container
    %h4.marginTop40#marginBottom10= t('client_center.sign_up.payment_information')

    - if @show_cards_manager
      = render 'contests/card_manager', card_views: @card_views

    = form_for @client_payment, { method: 'post' } do |f|
      - unless @show_cards_manager
        = fields_for @credit_card do |card_form|
          = render 'contests/card_inputs', f: card_form, placeholder: nil, show_promocode_input: true

      - if @show_cards_manager
        .clearfix
        .col-sm-7.marginTop20
          = render 'contests/promocode_input'
        .clearfix

      .fullWidthLine
      .order-total-info.marginTop40= t('client_center.sign_up.order_total')
      .order-total-price.order-total-value.marginTop40= @contest_view.order_total
      %br
      .order-total-info= t('client_center.sign_up.promotion_code')
      .order-total-price.promotion-code-discount= t('client_center.sign_up.initial_discount')
      %br
      .order-total-info.marginBottom40= t('client_center.sign_up.total_price')
      .big-total-price.marginBottom40= @contest_view.order_total
      %br
      .fullWidthLine

      = f.hidden_field :credit_card_id
      = hidden_field_tag 'contest_id', @contest.id
      %p.iAgreeTerms
        %span.customCheckbox
          = check_box_tag 'client_agree', 'yes', false, name: '', class: 'hidden'
          %label{ for: 'client_agree' }
        = t('client_center.sign_up.i_agree')
        %span.terms-of-use= t('client_center.sign_up.terms_of_use')
      = f.submit t('client_center.sign_up.submit'),
          class: 'btn btn1-confirm submit-button'
      = hidden_mixpanel_submit_tag

= render partial: 'home/terms_of_service_modal'