- content_for :head do
  = render 'shared/setup_google_conversion_tracking' if Settings.enable_google_conversion_script

#paymentSummaryPage
  %h3.title= t('contests.payment.summary.transaction_confirmed').upcase
  .subtitle= t('contests.payment.summary.thanks')

  .paymentSummary
    .header.clearfix.part
      .col-sm-7.disablePadding
        = t('contests.payment.summary.your_payment')
      .col-sm-5.disablePadding.priceTitle
        = t('contests.payment.summary.price')
    .content.row.part
      .payerDetails.col-xs-7
        %p= @payment_view.name_on_card
        %p= @payment_view.card_number
        %p= @payment_view.full_address
      .orderDetails.col-xs-5
        .row
          .col-xs-7.key.disablePadding
            = t('client_center.sign_up.order_total')
          .col-xs-5.price
            $#{ number_with_precision(@payment_view.order_total, strip_insignificant_zeros: true) }

        .row
          .col-xs-7.key.disablePadding
            = t('client_center.sign_up.promotion_code')
          .col-xs-5.price
            $#{ number_with_precision(@payment_view.promotion, strip_insignificant_zeros: true) }

        .row
          .col-xs-7.key.disablePadding
            = t('client_center.sign_up.total_price')
          .col-xs-5.totalPrice.price
            $#{ number_with_precision(@payment_view.total_price, strip_insignificant_zeros: true) }

  .clearfix
  %a.continueBtn.clickable{ href: client_center_entry_path(id: @contest.id) }= t('contests.payment.summary.continue')
