- content_for :title do
  Contest creation - Preview

- content_for :head do
  = javascript_include_tag 'contests/preview'
  = javascript_include_tag 'contests/packages'
  = javascript_include_tag 'shared/color_selector'
  :javascript
    I18n = #{ translations_to_json(['contests', 'creation', 'preview']) }

= render partial: 'shared/have_unfinished_project'

- content_for :page_content do
  .newDesignContest.step4Review
    = render :partial => 'home/msg'
    = form_tag @save_path,
        { id: 'account_creation',
          method: 'post',
          ukclass: 'intake-form' } do
      = render partial: 'contests/review/project_name'
      .update-style-package-hint
        %p
          = t('contests.creation.preview.style_update_package_hint')
          = link_to t('contests.creation.preview.link_caption'),
            how_it_works_path,
            target: '_blank'
      .fee-includes-outer-container
        .fee-includes-inner-container
          .title
            %h1 $99
            %h3 One low flat fee includes
          .list
            %ul
              %li Multiple concept boards from a range of interior designers
              %li
                One hour in-person consultation with the designer who submitted your favorite boards and had
                the most exciting ideas for your style and space
              %li Top-line thoughts on project scope and requirements
        %h5 Our transparent process
        %p
          Once you and your designer have met, they'll recommend an initial hourly bundle to get started on that space
          of your dreams. The designer rate is set at
        %span $100/hour
        %p and you can easily use our dashboard to keep track of your project. It's that simple.
      -#= render partial: 'contests/review/plans'
      .marginBottom40
      = render 'contests/sign_up_suggestion'
      .text-center
        %a.backBtn{ href: design_space_contests_path,
            class: tracked_link,
            data: { name: 'Contest creation - Preview - Back to Step 3' } }
          = t('contests.creation.go_back')

        %a.continueBtn{ href: '#' }
          - if current_user.client?
            = t('contests.creation.create')
          - else
            = t('contests.creation.continue')
        .clearfix
        %a.backBtnLink
          %img{ src: '/assets/back-to-small.png' }
          = t('contests.creation.go_back')
      = hidden_mixpanel_submit_tag

= render partial: 'contests/contest_creation_page'
