- content_for :head do
  = javascript_include_tag 'contests/preview'
  = javascript_include_tag 'shared/color_selector'
  :javascript
    I18n = #{ translations_to_json(['contests', 'creation', 'preview']) }

- content_for :page_content do
  = form_tag save_preview_contests_path,  { id: 'account_creation', method: 'post' } do
    = render partial: 'contests/review/project_name'
    = render partial: 'contests/review/plans'
    .col-md-12.no-x-padding.text-center.footer-buttons{}
      .bedr.col-md-offset-3.col-md-2.navigation-btn
        %a{href: design_space_contests_path}
          %div.back-button
            %b= t('contests.creation.go_back')
      .col-md-1
      .bedr.col-md-2.continue.navigation-btn
        %a.order{:href => "#"}
          %div.continue-button
            %b= t('contests.creation.continue')

= render partial: 'contests/contest_creation_page'
