<!-- Pricing Option -->
<div id="in_pricing">
	<div class="container">
		<div class="section_header">
			&nbsp;
		</div>

		<div class="row charts_wrapp">
			<!-- Plan Box -->
			<div class="col-sm-12">
				<div class="plan">
					<div class="wrapper">
						<%= render :partial => 'contest_top_panel' %>
						<div class="row">
								<div class="col-sm-10 col-sm-offset-1 page-title">
									<h3>What do you need help with today?</h3>
								</div>
						</div>
						<div class="container col-sm-offset-1">
							
							<div class="row">
								<div class="col-sm-10">
									<% if flash[:error].present? %>
										<div class="alert alert-danger"><%= flash[:error] %></div>
									<% end %>
								</div>
							</div>
							<%= form_tag step2_contests_path,  {:id => "step1", :method => "post"} do %>
								<% @design_cat.each do |design_cat| 
									if session[:step1].present? && session[:step1][:cat_id].include?(design_cat.id.to_s)
										checked = "checked = 'checked'"
									else
										checked = ''
								    end			  
								%>
									<% if design_cat.id != 8 %>
									<div class="row">
										<% if design_cat.image_name.present? && design_cat.image_name != 'null' %><div class="col-sm-3"><% else %><div class="col-sm-5"><% end %>
											<label class="checkbox"><input name="design_cat[]" type="checkbox" <%= checked %> value="<%= design_cat.id %>" class="design_element"><%= design_cat.name %></label>
										</div>
										<% if design_cat.image_name.present? && design_cat.image_name != 'null'%>
											<div class="col-sm-2">
												<%= image_tag "interior/#{design_cat.image_name}", :class => "img-circle" %>
											</div>
										<% end %>
										
										<% if design_cat.price > 0 %>	
											<div class="form_ele col-sm-2 col-sm-offset-1">
												From $<%= design_cat.price %>
											</div>
										<% end %>	
									</div>
									<% else %>
									<div class="row">
										<div class="col-sm-3">
											<label class="checkbox">
												<input name="design_cat[]" type="checkbox" <%= checked %> class="design_element">
												Other(specify) </label>
											<div class="col-sm-12 col-sm-offset-1">
												<input name="other_value" type="text" class="form-control" value = "<%= session[:step1][:other]  if session[:step1].present? %>" >
											</div>
										</div>
									</div>
								  <% end %>	
								<% end %>
						   <% end %>
						   <div class="row formbuttons">
						<div class="col-sm-4 col-sm-offset-6">
							<%= link_to "CONTINUE", '#', :class => "order" %>
						</div>
					</div>
	
						</div>
					</div>

					
				</div>
			</div>
		</div>

	</div>

</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('.order').click(function(e) {
			if(jQuery('.design_element:checked').length > 0) {
				e.preventDefault();
				jQuery("#step1").submit();
			} else {
				alert("Please select atleast one category.");
				return false;
			}
		});
	});
</script>	
