- content_for :page_content do
  .row
    .col-sm-10.col-sm-offset-1.page-title
      %h3= t('contests.titles.areas')
  = render :partial => 'home/msg'
  = form_tag save_step2_contests_path, {:id => "step2", :method => "post"} do
    = render partial: 'contests/area_checkbox_row',
        collection: @creation_wizard.available_design_areas,
        as: :design_area
    %span#err_area.text-error
  .row.formbuttons
    .col-sm-3
      %a.order{:href => step1_contests_path} GO BACK
    .col-sm-4.col-sm-offset-3
      %a.order.continue{:href => "#"} CONTINUE
= render partial: 'contest_creation_page'

= javascript_include_tag 'contests/step2'
