.col-sm-6{ class: cycle('', 'col-sm-push-6', name: :sfar_push_offest) }
  .full-size-image-container{ style: "background-image: #{ css_url("/assets/SFAR/Step-#{ index }-img.png") }", class: image_class }
.description.col-sm-6{ class: cycle('', 'col-sm-pull-6', name: :sfar_pull_offest) }
  - background_side = cycle('right', 'left', name: :sfar_background_side)
  .hidden-xs
    .bgtext{ class: background_side }= index
    .number= step_i18n[:title]
    .text= step_i18n[:description]
  .visible-xs.text-center
    .bgtext{ class: background_side }= index
    .number= step_i18n[:title]
    .text= step_i18n[:description]
.clearfix
