- content_for :head do
  = javascript_include_tag 'home/sfar'

.sfarPage

  %header
    %h2 Help your clients move into a more inspiring space.
    %p InteriorCrowd makes the perfect housewarming gift.

  .text-center
    = render 'home/msg'

  .container
    .pageDescription
      .goal
        Our network of hundreds oj interior designers will help your clients establish a room-specific creative
        vision and plan of action to keep them delighted as they settle into their beautiful new home.

      .explanationTitle How it works

    - steps = t('sfar.steps')
    - steps.each_with_index do |step_i18n, index|
      .step
        = render 'rieltor_contacts/sfar_step', step_i18n: step_i18n, index: index + 1

  .contactForm
    .container

      .col-md-4.description.disablePadding
        %h2 Interested in helping your clients redesign their home with InteriorCrowd?

        %p Send us your contact info and we'll be in touch!

      .col-md-8.form.disablePadding
        .row
          .col-xs-12
            .title Contact info

        .inputs
          = form_for RieltorContact.new do |f|

            .row
              .col-lg-4.col-sm-3
                = f.label :first_name, 'Name'
              .col-lg-8.col-sm-9
                = f.text_field :first_name, placeholder: 'First Name', class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
              .col-lg-8.col-sm-9
                = f.text_field :last_name, placeholder: 'Last Name', class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :brokerage, 'Brokerage'
              .col-lg-8.col-sm-9
                = f.text_field :brokerage, placeholder: 'Brokerage name', class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :email, 'E-mail'
              .col-lg-8.col-sm-9
                = f.text_field :email, placeholder: 'example@address.com', class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :email, 'Phone number'
              .col-lg-8.col-sm-9
                = f.text_field :phone, placeholder: '123', class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :choice, 'Select a choice'
              .col-lg-8.col-sm-9
                = f.select :choice, RieltorContact::CHOICES, class: 'form-control'
            .clearfix

            .row
              .col-lg-8.col-lg-offset-4.col-md-9.col-md-offset-3.submitContainer
                = f.submit 'Submit', class: 'btn btn-default'
