- content_for :head do
  = javascript_include_tag 'home/sfar'

.sfarPage

  %header
    %h2= t('.header.title')
    %p= t('.header.description')

  .container
    .pageDescription
      .goal= t('.content.goal')

      .explanationTitle= t('.content.title')

    - steps = t('.steps')
    - steps_with_large_images = [2]
    - steps.each_with_index do |step_i18n, index|
      .step
        = render 'rieltor_contacts/sfar_step',
          step_i18n: step_i18n,
          index: index + 1,
          image_class: steps_with_large_images.include?(index + 1) ? 'largeImage' : 'image'

  .contactForm
    .container
      .col-md-4.description.disablePadding
        %h2= t('.footer.title')
        %p= t('.footer.description')

      .col-md-8.form.disablePadding
        .row
          .col-xs-12
            .title= t('.form.title')

        .inputs
          = form_for RieltorContact.new do |f|

            .row
              .col-lg-4.col-sm-3
                = f.label :first_name, t('.form.name.label')
              .col-lg-8.col-sm-9
                = f.text_field :first_name, placeholder: t('.form.name.first_placeholder'), class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
              .col-lg-8.col-sm-9
                = f.text_field :last_name, placeholder: t('.form.name.second_placeholder'), class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :brokerage, t('.form.brokerage.label')
              .col-lg-8.col-sm-9
                = f.text_field :brokerage, placeholder: t('.form.brokerage.placeholder'), class: 'form-control'
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :email, t('.form.email.label')
              .col-lg-8.col-sm-9
                = f.text_field :email, placeholder: t('.form.email.placeholder'), class: 'form-control', type: 'email'
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :email, t('.form.phone.label')
              .col-lg-8.col-sm-9#phoneParts
                = f.text_field :phone,
                  name: "rieltor_contact[phone][]",
                  placeholder: '123',
                  class: 'form-control',
                  maxlength: 3,
                  pattern: ".{3}",
                  title: t('.form.phone.tooltip_three_digits')
                %span.delimiter &#8212;
                = f.text_field :phone,
                  name: "rieltor_contact[phone][]",
                  placeholder: '456',
                  class: 'form-control',
                  maxlength: 3,
                  pattern: ".{3}",
                  title: t('.form.phone.tooltip_three_digits')
                %span.delimiter &#8212;
                = f.text_field :phone,
                  name: "rieltor_contact[phone][]",
                  placeholder: '7890',
                  class: 'form-control',
                  maxlength: 4,
                  pattern: ".{4}",
                  title: t('.form.phone.tooltip_four_digits')
            .clearfix

            .row
              .col-lg-4.col-sm-3
                = f.label :choice, t('.form.choice')
              .col-lg-8.col-sm-9
                = f.select :choice, RieltorContact::CHOICES, class: 'form-control'
            .clearfix

            .row#sfarSubmitButton
              .col-lg-8.col-lg-offset-4.col-md-9.col-md-offset-3.submitContainer
                = f.submit t('.form.submit'), class: 'btn btn-default'
            .clearfix
              .marginTop30
                = render 'home/msg'
