:sass

  $dimmedBackground: #F0F0F0
  $orangeFontColor: #FF8838
  $backgroundLetterColor: #FFE9DF
  $defaultTextColor: #666666
  $formBorder: 1px solid gray

  @mixin backgroundLetter
    position: absolute
    top: -128px
    font-size: 492px
    z-index: -1
    font-family: 'Austin Web'
    height: 100%
    color: $backgroundLetterColor

  .sfarPage
    color: $defaultTextColor

    header
      padding: 50px 0px
      text-align: center
      background-color: $dimmedBackground
      font-size: 18px

      h2
        font-family: 'Austin Web'
        margin: 0px
        font-size: 38px
        margin-bottom: 10px

    .pageDescription
      text-align: center

      .goal
        font-size: 16px
        max-width: 600px
        margin: 40px auto

      .explanationTitle
        font-size: 30px
        font-family: 'Austin Web' !important
        margin: 50px 0px

    .contactForm
      background-color: $dimmedBackground
      padding: 50px 0px

      .description
        font-size: 17px
        margin-top: 32px
        width: 35%

        h2
          font-size: 30px
          line-height: 45px

      .form
        border-left: $formBorder
        width: 65%

        .row
          margin: 20px 0px 20px 20px

        .title
          font-size: 19px

        .inputsGroup
          padding: 5px 0px

        .inputs
          border-top: $formBorder
          padding: 12px 0px

          label
            font-size: 18px
            font-weight: normal

          input
            background-color: $dimmedBackground

          .bootstrap-select
            width: 100%

            .dropdown-toggle
              border-color: black

          input[type=submit]
            background-color: #FF7D26
            color: white
            width: 100%
            max-width: 200px
            height: 55px
            font-size: 22px

    .step
      margin: 20px 8% 94px
      height: 500px

      .image
        min-height: 520px

      .description
        .number
          color: $orangeFontColor
          font-size: 20px
          font-weight: bold
          text-transform: uppercase
          margin-top: 30px

        .text
          margin-top: 15px
          font-size: 20px

      .bgtextRight
        @include backgroundLetter
        right: 14px

      .bgtextLeft
        @include backgroundLetter
        left: 14px

.sfarPage

  %header
    %h2 Help your clients move into a more inspiring space.
    %p InteriorCrowd makes the perfect housewarming gift.

  .text-center
    = render 'home/msg'

  .container
    .pageDescription
      .goal
        Our network of hundreds oj interior designers will help your clients establish a room-specific creative
        vision and plan of action to keep them delighted as they settle into their beautiful new home.

      .explanationTitle How it works

    .step.clearfix
      .col-sm-6
        .image.full-size-image-container{ style: "background-image: #{ css_url('/assets/SFAR/Step-1-img.png') }" }

      .description.col-sm-6
        .bgtextRight 1
        .number Step one
        .text Clients create a fun and easy style brief on interiorcrowd.com.

    .step.clearfix
      .description.col-sm-6
        .bgtextLeft 2
        .number Step two
        .text They receive multiple concept boards based on their personal style

      .col-sm-6
        .image.full-size-image-container{ style: "background-image: #{ css_url('/assets/SFAR/Step-2-img.png') }" }

    .step.clearfix
      .col-sm-6
        .image.full-size-image-container{ style: "background-image: #{ css_url('/assets/SFAR/Step-3-img.png') }" }

      .description.col-sm-6
        .bgtextRight 3
        .number Step three
        .text The winning designer and the client collaborate on furniture and layout.

    .step.clearfix
      .description.col-sm-6
        .bgtextLeft 4
        .number Step four
        .text The designer provides the client with a final list of product.

      .col-sm-6
        .image.full-size-image-container{ style: "background-image: #{ css_url('/assets/SFAR/Step-4-img.png') }" }

    .step.clearfix
      .col-sm-6
        .image.full-size-image-container{ style: "background-image: #{ css_url('/assets/SFAR/Step-3-img.png') }" }

      .description.col-sm-6
        .bgtextRight 5
        .number Step five
        .text The client uses the designer's room layout, shopping list and assembly plan to bring their room to life.

  :coffee
    $ ->
      $('.contactForm select').selectpicker(style: 'btn-selector-medium')

  .contactForm
    .container

      .col-sm-4.description.disablePadding
        %h2 Interested in helping your clients redesign their home with InteriorCrowd?

        %p Send us your contact info and we'll be in touch!

      .col-sm-8.form.disablePadding
        .row
          .col-xs-12
            .title Contact info

        .inputs
          = form_for RieltorContact.new do |f|

            .row
              .col-xs-4
                = f.label :first_name, 'Name'
              .col-xs-8
                = f.text_field :first_name, placeholder: 'First Name', class: 'form-control'
            .clearfix

            .row
              .col-xs-4
              .col-xs-8
                = f.text_field :last_name, placeholder: 'Last Name', class: 'form-control'
            .clearfix

            .row
              .col-xs-4
                = f.label :brokerage, 'Brokerage'
              .col-xs-8
                = f.text_field :brokerage, placeholder: 'Brokerage name', class: 'form-control'
            .clearfix

            .row
              .col-xs-4
                = f.label :email, 'E-mail'
              .col-xs-8
                = f.text_field :email, placeholder: 'example@address.com', class: 'form-control'
            .clearfix

            .row
              .col-xs-4
                = f.label :email, 'Phone number'
              .col-xs-8
                = f.text_field :phone, placeholder: '123', class: 'form-control'
            .clearfix

            .row
              .col-xs-4
                = f.label :choice, 'Select a choice'
              .col-xs-8
                = f.select :choice, RieltorContact::CHOICES, class: 'form-control'
            .clearfix

            .row
              .col-xs-8.col-xs-offset-4
                = f.submit 'Submit', class: 'btn btn-default'
