.container.animated.fadeInDown
  %h3 Create your portfolio
  = render 'portfolios/forms/years_of_experience', portfolio: form.object, form: form
  %div.lineBreak
  = render 'portfolios/forms/education', portfolio: form.object, form: form
  = render 'portfolios/forms/awards', portfolio: form.object, form: form
  = render 'portfolios/forms/portfolio_pictures', portfolio: form.object, form: form
  = render 'portfolios/forms/personal_picture', portfolio: form.object, form: form
  = render 'portfolios/forms/style_description', portfolio: form.object, form: form
  %div.lineBreak
  = render 'portfolios/forms/about', portfolio: form.object, form: form
