.container.animated.fadeInDown
  %h3 Create your portfolio
  = render partial: 'portfolios/forms/years_of_experience', locals: { portfolio: form.object, form: form }
  %div.lineBreak
  = render partial: 'portfolios/forms/education', locals: { portfolio: form.object, form: form }
  = render partial: 'portfolios/forms/awards', locals: { portfolio: form.object, form: form }
  = render partial: 'portfolios/forms/portfolio_pictures', locals: { portfolio: form.object, form: form }
  = render partial: 'portfolios/forms/personal_picture', locals: { portfolio: form.object, form: form }
  = render partial: 'portfolios/forms/style_description', locals: { portfolio: form.object, form: form }
  %div.lineBreak
  = render partial: 'portfolios/forms/about', locals: { portfolio: form.object, form: form }
