= javascript_include_tag 'shared/uploader'
- content_for :head do
  = javascript_include_tag 'portfolio/edit'
  = render partial: 'shared/setup_uploadify'

- content_for :designer_center_content do
  .portfolio-creation
    = form_for @portfolio, url: portfolio_path, method: :patch  do |f|
      = render partial: 'portfolios/form', locals: { form: f }
      .row
        = f.submit t('designer_center.portfolio.creation.update_button')

= render partial: 'designer_center/layout'
