- content_for :head do
  = javascript_include_tag 'shared/pictures_upload_button'
  = javascript_include_tag 'shared/uploader'
  = javascript_include_tag 'portfolio/edit'

  = render partial: 'shared/setup_uploadify'

  :javascript
    I18n = #{ translations_to_json('designer_center.portfolio.creation'.split('.')) }

- content_for :designer_center_content do
  .portfolio-creation
    = form_for Portfolio.new, url: portfolio_path, method: :post  do |f|
      = render partial: 'portfolios/form', locals: { form: f }
      %div{:style => "padding-bottom: 40px; border-bottom: 1px solid #e1e1e1;margin-bottom: 60px;"}
      .text-center
        = f.submit update_button_text(f.object), class: 'btn1 btn1-confirm'

= render partial: 'designer_center/layout'
