- content_for :head do
  = javascript_include_tag 'portfolio/show'
  :javascript
    I18n = #{ translations_to_json('designer_center.portfolio.show'.split('.')) }

.designer-portfolio.lightFont{ data: { id: @portfolio_view.designer_id } }
  .cover_image{ cover_image_options }
  .bottom-stripe{ class: ('with-buttons' if @portfolio_view.owner?(@designer) || @portfolio_view.show_invitation?(@client)) }
    .container.animated.fadeInDown
      .row
        .col-md-12.relative
          .col-md-4
          .col-md-8.buttons-container
            - if @portfolio_view.owner?(@designer)
              %span.glyphicon.glyphicon-move.drag-icon
              %span.drag-label= t('designer_center.portfolio.show.cover_dragging.start_dragging')
              %span.drag-menu{ style: 'display: none;' }
                %span.drag-save.drag-menu-button= t('designer_center.portfolio.show.cover_dragging.save')
                %span.drag-cancel.drag-menu-button= t('designer_center.portfolio.show.cover_dragging.cancel')
              = render partial: 'portfolios/show/edit_button'
            - if @portfolio_view.show_invitation?(@client)
              = render partial: 'portfolios/show/invite_button', locals: { portfolio_view: @portfolio_view }
  .container.animated.fadeInDown.bottom60
    .row.marg-top40
      .col-md-4.relative.under_portfolio_profile
        .image-container.portfolio_profile_image{ style: "background-image: #{ css_url(@portfolio_view.personal_picture_url) }; background-size: 150px 150px;" }
        %p
          %span= @portfolio_view.years_of_experience
          = @portfolio_view.experience_level
        %p
          %span= @portfolio_view.education_icon
          = @portfolio_view.education_view
        %p
          - @portfolio_view.awards.try(:each) do |award|
            %img{:src => "/assets/profile-badge.png"}/
            = award.html_safe
            %br
        %span.profileRating.fiveStar
        %a.reviewsLink{:href => "#"} 5 reviews
      .col-md-8.user_portfolio_profile
        %h3= @portfolio_view.designer_name
        %h4= t('designer_center.portfolio.show.about')
        .about
          .text.collapsed= @portfolio_view.about
          = link_to t('designer_center.portfolio.show.about_read_more'), '#', class: 'readmore'
        %h4= t('designer_center.portfolio.show.design_style')
        - @portfolio_view.style_description.each do |style|
          %span.designStyleSpan= style
      .col-md-12
        .hLine10.marg-top30.marg-bottom30
      .col-md-12.marg-bottom30
        %h4.font20= t('designer_center.portfolio.show.portfolio_examples')
      - index = 1
      - @portfolio_view.pictures.order(:created_at).in_groups_of(3, false) do |pictures|
        - pictures.each do |picture|
          = render partial: 'portfolios/item',
              locals: { picture: picture }
          - index += 1
      .col-md-12.marg-top30
        %a.loadMoreLink{:href => "#"}= t('designer_center.portfolio.show.load_more')
      .col-md-12
        .hLine10.marg-top30.marg-bottom30
        .col-md-12.text-center
          %a.doneBtn{:href => @portfolio_view.exit_portfolio_path(current_user) }= t('designer_center.portfolio.show.done')
