#in_pricing
  #portfolio
    .row
      .attr
        %img{ style: 'width: 100px', src: @portfolio_view.personal_picture_url }
      .col-md-6
        .attr.name{ style: 'font-size: 20px' }
          = @portfolio_view.designer_name
        .attr.years_of_expirience
          [#{ @portfolio_view.years_of_expirience }]
          = @portfolio_view.expirience_level
        .attr.education
          [#{ @portfolio_view.education_icon }]
          = @portfolio_view.education_view
        .attr.awards
          Awards:
          = @portfolio_view.awards
      .col-md-6.about-container
        #{ t('designer_center.portfolio.show.about_self') }:
        .about
          = @portfolio_view.about
        .style-description= @portfolio_view.style_description
    .attr
      - index = 1
      - @portfolio_view.pictures_urls.in_groups_of(2, false) do |urls|
        .row.items-row
          - urls.each do |url|
            .col-lg-6.col-md-5.col-xs-12.col-sm-6.item
              = render partial: 'portfolios/item',
                  locals: { image_url: url,
                            number: index }
              - index += 1
.row

