- content_for :head do
  = javascript_include_tag 'portfolio/show'
  :javascript
    I18n = #{ translations_to_json('designer_center.portfolio.show'.split('.')) }

.designer-portfolio{ data: { id: @portfolio_view.designer_id } }
  .cover_image{ style: "background-image: url('#{ @portfolio_view.cover_picture_url }')" }
    .container.animated.fadeInDown
      .row
        .col-md-12.relative
          - if @portfolio_view.show_invitation?(@client)
            = render partial: 'portfolios/show/invite_button', locals: { portfolio_view: @portfolio_view }
          - if @portfolio_view.owner?(@designer)
            = render partial: 'portfolios/show/edit_button'
  .container.animated.fadeInDown.bottom60
    .row.marg-top40
      .col-md-4.relative.under_portfolio_profile
        %img.portfolio_profile_image{:src => @portfolio_view.personal_picture_url}/
        %p
          %span= @portfolio_view.years_of_expirience
          = @portfolio_view.expirience_level
        %p
          %span= @portfolio_view.education_icon
          = @portfolio_view.education_view
        %p
          - @portfolio_view.awards.try(:each) do |award|
            %img{:src => "/assets/profile-badge.png"}/
            = award.html_safe
            %br
        %span.profileRating.fiveStar
        %a.reviewsLink{:href => "#"} 5 reviews
      .col-md-8.user_portfolio_profile
        %h3= @portfolio_view.designer_name
        %h4= t('designer_center.portfolio.show.about')
        %p= @portfolio_view.about
        %h4= t('designer_center.portfolio.show.design_style')
        - @portfolio_view.style_description.each do |style|
          %span.designStyleSpan= style
      .col-md-12
        .hLine10.marg-top30.marg-bottom30
      .col-md-12.marg-bottom30
        %h4.font20= t('designer_center.portfolio.show.portfolio_examples')
      - index = 1
      - @portfolio_view.pictures_urls.in_groups_of(3, false) do |urls|
        - urls.each do |url|
          = render partial: 'portfolios/item',
              locals: { image_url: url,
                        number: index }
          - index += 1
        .col-md-12.marg-bottom30
      .col-md-12.marg-top30
        %a.loadMoreLink{:href => "#"}= t('designer_center.portfolio.show.load_more')
      .col-md-12
        .hLine10.marg-top30.marg-bottom30
        .col-md-12.text-center
          %a.doneBtn{:href => @portfolio_view.exit_portfolio_path(@client, @designer) }= t('designer_center.portfolio.show.done')
