.col-xs-12.activity{ data: { id: activity.id }}
  .title.collapsed{ aria: { controls: "collapse#{ activity.id }", expanded: "false"},
        data: { parent: "#accordion", toggle: "collapse" }, href: "#collapse#{ activity.id }",
        role: "tab", id: "heading#{ activity.id }" }
    .row
      .col-xs-11.tasks
        %span.task
          = activity.task
        %span.commentsIcon{ class: ('withComments' if activity.comments.present?) }
          %span.glyphicon.glyphicon-comment
          (#{ activity.comments.count })
      .col-xs-1.hours
        = activity.hours
  .collapse{"aria-labelledby" => "heading#{ activity.id }", id: "collapse#{ activity.id }"}
    .panel-body
      = form_for DesignerActivityCommentForm.new,
          url: contest_time_tracker_designer_activity_comments_path(contest_id: activity.time_tracker.contest.id,
              designer_activity_id: activity.id), remote: true do |f|
        - placeholder = current_user.designer? ? 'Write to your client here...' : 'Write to your designer here...'
        = f.text_area :text, placeholder: placeholder
        = f.submit 'Send', class: 'greenButton', data: { disable_with: 'Saving...' }
      .comments
        - activity.comments.each do |comment|
          = render 'time_tracker/designer_activity_comment', comment: comment
