.designer-activity-form.col-xs-12
  = form_for DesignerActivityForm.new, { url: creation_route, method: 'post', remote: true } do |f|
    .col-xs-3
      %h5= 'date'
    .col-xs-4
      = f.date_field :start_date
    .col-xs-1
      %p= 'to'
    .col-xs-4
      = f.date_field :due_date
    .col-xs-3
      %h5= 'task'
    .col-xs-9
      = f.text_field :task
    .col-xs-3
      %h5= 'hour'
    .col-xs-2
      = f.text_field :hours
    .col-xs-12
      = f.fields_for :comments do |f|
        .col-xs-3
          %h5= 'comment'
        .col-xs-9
          = f.text_area :text
    .col-xs-offset-3.col-xs-4
      = f.submit 'Submit', class: 'btn designer-activity-form-submit-button', data: { disable_with: 'Saving...' }
      %span.btn.designer-activity-form-cancel-button Cancel
    .col-xs-offset-3.col-xs-2.designer-activity-form-add-more-button
      -#= button_tag '+ Add more task', class: 'btn'
