.designer-activity-form.col-xs-12
  = form_for DesignerActivityForm.new, { url: creation_route, method: 'post', remote: true } do |f|
    .col-sm-3.field-name
      %h5= 'date'
    .col-sm-4
      = f.date_field :start_date
    .col-sm-1.due-date-name
      %p= 'to'
    .col-sm-4
      = f.date_field :due_date
    .col-sm-3.field-name
      %h5= 'task'
    .col-sm-9
      = f.text_field :task
    .col-sm-3.field-name
      %h5= 'hour'
    .col-sm-2
      = f.text_field :hours
    .clearfix
    = f.fields_for :comments do |f|
      .col-sm-3.field-name
        %h5= 'comment'
      .col-sm-9
        = f.text_area :text
    .col-sm-offset-3.col-sm-9
      = f.submit 'Submit', class: 'btn designer-activity-form-submit-button', data: { disable_with: 'Saving...' }
      %span.btn.designer-activity-form-cancel-button Cancel
    .col-sm-offset-3.col-sm-2.designer-activity-form-add-more-button
      -#= button_tag '+ Add more task', class: 'btn'
