- can_add_activity = defined?(creation_route)
.designer-activity
  .container
    .header.col-md-3.col-xs-6
      %h3= t('time_tracker.designer.activity.header')
    - if can_add_activity
      .add-activity-button.col-md-offset-7.col-md-2.col-xs-offset-0.col-xs-6
        %button= t('time_tracker.designer.activity.add_activity')
      = render 'add_activity_form', creation_route: creation_route
    .col-xs-12.grey-title.marginTop20.activitiesHeader{ style: ('display: none' if designer_activities.blank?) }
      .col-xs-9.col-sm-11.tasks
        Tasks
      .col-xs-3.col-sm-1.hours
        Hours
    - if can_add_activity
      .activity-description.col-xs-12{ style: ('display: none' if designer_activities.present?) }
        %p= t('time_tracker.designer.activity.description').html_safe
    .clearfix
    .activities
      - designer_activities.each do |activity|
        = render 'activity', activity: activity
