.group{ data: { id: week.at_beginning_of_week.to_i } }
  .title.collapsed{ aria: { controls: "collapse#{ week.at_beginning_of_week.to_i }", expanded: "false"},
        data: { parent: "#accordion", toggle: "collapse" }, href: "#group-collapse#{ week.at_beginning_of_week.to_i }",
        role: "tab", id: "group-heading#{ week.at_beginning_of_week.to_i }" }
    %span.date-range= week.at_beginning_of_week.strftime('%b %d') + ' - ' + week.strftime('%d')
    .line
  .collapse{"aria-labelledby" => "group-heading#{ week.at_beginning_of_week.to_i }",
      id: "group-collapse#{ week.at_beginning_of_week.to_i }", class: ('in' unless collapsed)}
    .col-xs-12.grey-title.activitiesHeader.marg-top10
      .col-xs-9.col-sm-11.tasks
        Tasks
      .col-xs-3.col-sm-1.hours
        Hours
    .clearfix
    .group-activities
      - activities.each do |activity_view|
        = render 'activity', activity_view: activity_view, collapsed: true