.col-md-12{ class: classes }
  .col-md-1
    = contest_creation_category_radiobutton(design_category)
    = label_tag("design_brief_design_category_#{ design_category.id }", '')
  = label_tag("design_brief_design_category_#{ design_category.id }") do
    %span.text-price
      %b= design_category.description

.clearfix
.img-block.category-block
  .col-md-5.no-padding-right
    %div.image{ style: "background-image: url('/assets/categories/#{ design_category.picture_name }.jpg');" }
  .col-md-7.no-padding-left.no-padding-right.tableCell
    %p.quote= design_category.quote
  .clearfix
