.col-md-12{ class: classes }
  .col-md-1
    = contest_creation_category_radiobutton(design_category)
    = label_tag("design_brief_design_category_#{ design_category.id }", '')
  = label_tag("design_brief_design_category_#{ design_category.id }") do
    %span.text-price
      %b #{ design_category.name }
    %br
    %span.category-description.font20
      %i= design_category.description

.clearfix
.img-block
  .col-md-6.no-padding-right
    %img.img-responsive{ src: design_category.picture_path }
  .col-md-6.no-padding-left.no-padding-right.tableCell
    %p= design_category.quote
  .clearfix
