:css
  label .text-price {
    padding-left: 0px !important;
  }

.col-md-12{ class: classes }
  .col-xs-2.col-sm-1
    = contest_creation_category_radiobutton(design_category)
    = label_tag("design_brief_design_category_#{ design_category.id }", '')
  = label_tag("design_brief_design_category_#{ design_category.id }", class: 'col-xs-10 col-sm-11') do
    %span.text-price.lightFont
      %b= design_category.description

.clearfix
.img-block.category-block
  .col-sm-5.no-padding-right
    %div.image{ style: "background-image: #{ css_url('/assets/categories/#{ design_category.picture_name }.jpg') };" }
  .col-sm-7.no-padding-left.no-padding-right.tableCell
    %p.quote= design_category.quote
  .clearfix
