.col-xs-4{ class: active && 'active' }
  = radio_button_tag 'design_style[designer_level]',
      designer_level.id,
      active,
      data: { name: designer_level.name }
  = label_tag 'design_style[designer_level]',
      '',
      for: "design_style_designer_level_#{ designer_level.id }",
      style: "background-image: #{ css_url(Settings.designer_level_pictures[designer_level.name]) }; background-size: cover;",
      class: designer_level.name do
    %span
    %p.hide= t("contests.design_style.level_info.#{ designer_level.name }")
  %h4= t("contests.design_style.designer_level.#{ designer_level.name }")
