.row.roomDimension
  .col-md-2.col-xs-2
    %p
      - if dimension.optional?
        = precede(dimension.name) do
          %span.optionalLabel.lineHeight20= t('contests.optional_dimension')
      - else
        = dimension.name
  .col-md-4.col-xs-5
    %p
      %input.in-feet{ name: "design_space[#{ dimension.identifier }]",
        value: dimension.to_feet,
        id: dimension.feet_identifier}/
      %span.units= t('contests.space.dimensions.feet')
  .col-md-4.col-xs-5
    %p
      %input.in-inches{ name: "design_space[#{ dimension.inches_identifier }]",
        value: number_with_precision(dimension.to_inches, precision: 2, strip_insignificant_zeros: true),
        id: dimension.inches_identifier}/
      %span.units= t('contests.space.dimensions.inches')
- if dimension.mandatory
  .clearfix
    %span.text-error{ id: "err_#{dimension.identifier}"}
