.pictures-or-dimensions
  %h1.title= t('contests.space.details_toggle.title')
  %span.hint
    %i= t('contests.space.details_toggle.hint')
  .clearfix
  - %w(yes no).each do |value|
    .question.col-md-2
      .col-md-1
        = radio_button_tag('details_toggle',
          value,
          @contest_view.conditional_block_radio_button_active?(@contest_view.have_space_views_details, value),
          class: 'regular-radio big-radio')
        = label_tag("details_toggle_#{ value }", '')
      .col-md-1.caption
        %span.text-price
          %b= label_tag("details_toggle_#{ value }", t("contests.space.details_toggle.#{ value }"))
  .clearfix
