= form.fields_for :preferred_retailers, form.object.preferred_retailers do |f|
  - PreferredRetailers::RETAILERS.each do |retailer|
    .col-md-3
      = f.check_box retailer.to_sym
      = f.label retailer.to_sym, ContestView.retailer_name(retailer)
  .clearfix
  .col-md-12.paddTop20.other-retailer
    = f.label :other, t('client_center.entries.preferences_retailers.other')
    = f.text_field :other
