.space-options
  .space-pictures
    .description
      .some-text.col-md-7.no-padding-left
        %h1.title= t('contests.space.photos.title')
        %span.hint= t('contests.space.photos.hint')
        %br/
        %span.requirements{:style => ""}
          %i= t('contests.space.photos.image_requirements')
      .some-text.col-md-5
        %h1.see-guidline
          %a.a-under{:href => "#"}
            %i= t('contests.space.photos.see_more')
    .clearfix

    .col-md-12.thumbs
      %span#image_display
        = render partial: 'contests/options/removable_thumbnails', locals: { urls: @contest_view.space_pictures }

    .clearfix
    %input#design_space_image_id{:name => "design_space[document_id]",
      type: "hidden",
      value: @contest_view.space_pictures_ids.try(:join, ',') }
    .col-md-6.no-x-padding.upload-button-container
      %button.btn3.btn3-confirm.upload-button{ :type => "button"}= t('contests.space.photos.upload_button')
      %input.hidden#file_input{ name: 'image[image]', type: 'file', multiple: 'multiple' }
    .clearfix
    .col-md-4.no-padding-left.alternatives
      %span
        %i= t('contests.space.photos.prefer_to_email_or_text')
      %br/
      %span
        %i= t('contests.space.photos.text_to')
      %br/
      %span
        %i= t('contests.space.photos.email_to')
    .clearfix
