.space-options
  .space-pictures
    .row.marginTop40
      .description.col-md-9.col-sm-8
        %h4.title= t('contests.space.photos.title')
        %p.fourImages
          = t('contests.space.photos.image_requirements')
      .clearfix

    .col-md-12.thumbs.uploadedImages
      .row#image_display
        = render partial: 'contests/options/removable_thumbnails',
            locals: { urls: @contest_view.space_pictures.map(&:medium_size_url),
                      ids: @contest_view.space_pictures_ids }

    .clearfix
    %input#design_space_image_id{ name: 'design_space[document_id]',
      type: 'hidden',
      value: @contest_view.space_pictures_ids.try(:join, ',') }
    %a.uploadImagesBtn.upload-button= t('contests.space.photos.upload_button')
    %input.hidden#file_input{ name: 'image[image]', type: 'file', multiple: 'multiple' }
    %p= t('contests.space.photos.prefer_to_email_or_text')
    %p= t('contests.space.photos.text_to')
    %p= t('contests.space.photos.email_to')
