.row
  .col-md-3
    = image_tag '/assets/profile-img.png'
  .col-md-9
    %p.designerName
      - designer_view = DesignerView.new(designer)
      - if designer_view.portfolio_path.present?
        %b
          %a{ style: 'color: black', href: show_portfolio_path(designer_view.portfolio_path) }
            = designer.name
      - else
        %b
          = designer.name
      %br
      %span
        = t('client_center.moodboard_details.submitted_on')
        = submitted_at.strftime('%m/%d/%Y')
.hLine
.designer-voice
  = render partial: 'contest_requests/listen', locals: { request: request } if request.sound
= render partial: 'contest_requests/designer_notes', locals: { request: request }
.hLine
