- content_for :head do
  = javascript_include_tag 'clients/entries'
  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }
    MessagesI18n = #{ translations_to_json(['board_comments']) }

- if @request.contest_owner?(current_user)
  - content_for :client_center_content do
    = render 'contest_requests/show/content', contest_request: @request, show_answer_options: @show_answer_options

  = render partial: 'clients/client_center/layout'
  = render partial: 'clients/client_center/moodboard_winner_dialog'
- else
  .container
    = render 'contest_requests/show/content', contest_request: @request, show_answer_options: false
