.clearfix
  .col-md-1
    = contest.id
  .col-md-2
    = contest.name
  .col-md-3
    = contest.design_category
  .col-md-3
    = contest.design_space
  .col-md-2
    = contest.days_left
  .col-md-1
    = contest.price
