- if Settings.rollbar_js_access_token
  = render partial: 'shared/rollbar'
= render 'shared/mixpanel'
- unless Rails.env.test?
  = render partial: 'shared/setup_mixpanel'
= render partial: 'shared/google_analytics'
= render partial: 'shared/setup_facebook'
= render partial: 'shared/setup_facebook_conversion'
= render partial: 'shared/setup_crazy_egg'
= render partial: 'shared/setup_hotjar' if Settings.hotjar_id?
:coffee
  $ ->
    $('[data-toggle=popover]').popover?()

  window.uploadFormHtml = #{ render('shared/file_upload_form').to_json }
  Settings = { aws : { bucket_name: #{ Settings.aws.bucket_name.to_json } } }
