.col-md-6.moodboard{ data_id: contest_request.id }
  %div
    - if contest_request.moodboard_image_path
      = link_to image_tag(contest_request.moodboard_image_path), contest_request_path(id: contest_request.id)
    - else
      = link_to 'No images', contest_request_path(id: contest_request.id)
  .designer
    = contest_request.designer.name
  = render partial: 'clients/moodboard_answers'
  %span.current-answer= contest_request.answer