.col-sm-6.moodboard{ data: { id: contest_request.id } }
  .designBox
    %a{ href: contest_request_path(id: contest_request.id), class: tracked_link, data: { name: 'Concept board' } }
      - if contest_request.cover_image('initial')
        %img.mobileBoard{ src: contest_request.cover_image('initial').medium_size_url }
      - else
        %img.mobileBoard{ src: '/assets/default_concept_board.png' }
    .row.title
      - if contest_request.sound
        .col-xs-3.designerName
          %h3= contest_request.designer.name
        .col-xs-9.text-right.player
          .control.hidden
            = render partial: 'shared/audio_player',
                locals: { filepath: contest_request.sound.url_for_streaming,
                  id: "voice_palyer_#{ contest_request.id }" }
          %p.visible-ss.playback-switch
            %span
              %img.playback-icon{ src: '/assets/listen_icon.png' }
          %p.hidden-ss.playback-switch
            %span.voice-description
              = t('client_center.entries.listen_to_designer')
            %span
              %img.playback-icon{ src: '/assets/listen_icon.png' }
            %span.text.pull-right
      - else
        .designerName
          %h3= contest_request.designer.name
      .comments-count.pull-right
        %span= t('client_center.entries.comments')
        %b= '0'
    .fullWidthLine
    .designImg
      %a{ href: contest_request_path(id: contest_request.id), class: tracked_link, data: { name: 'Concept board' } }
        - if contest_request.cover_image('initial')
          .image-container{ style: "background-image: #{ css_url(contest_request.cover_image('initial').medium_size_url) }" }
        - else
          .image-container{ style: "background-image: #{ css_url('/assets/default_concept_board.png') }; opacity: 0.75" }
            .messaging-over-default-board
              .messaging-info
                = t('client_center.entries.board_will_be_soon')
    .fullWidthLine
    - if show_answer_options && @client
      = render partial: 'clients/moodboard_answers',
          locals: { request_id: contest_request.id, answer: contest_request.answer }
