.col-sm-6.moodboard{ data: { id: contest_request.id } }
  .designBox
    %a{ href: contest_request_path(id: contest_request.id), class: tracked_link, data: { name: 'Concept board' } }
      - if contest_request.concept_board_images_by_phase('initial').first
        %img.mobileBoard{ src: contest_request.concept_board_images_by_phase('initial').first.medium_size_url }
      - else
        %img.mobileBoard{ src: '/assets/portfolio_example.png' }
    .row.title
      - if contest_request.sound
        .col-xs-3.designerName
          %h3= contest_request.designer.name
        .col-xs-9.text-right.player
          .control.hidden
            = render partial: 'shared/audio_player',
                locals: { filepath: contest_request.sound.url_for_streaming,
                  id: "voice_palyer_#{ contest_request.id }" }
          %p.visible-ss.playback-switch
            %span
              %img.playback-icon{ src: '/assets/listen_icon.png' }
          %p.hidden-ss.playback-switch
            %span.voice-description
              = t('client_center.entries.listen_to_designer')
            %span
              %img.playback-icon{ src: '/assets/listen_icon.png' }
            %span.text.pull-right
      - else
        .designerName
          %h3= contest_request.designer.name
    .fullWidthLine
    .designImg
      %a{ href: contest_request_path(id: contest_request.id), class: tracked_link, data: { name: 'Concept board' } }
        - if contest_request.concept_board_images_by_phase('initial').first
          .image-container{ style: "background-image: url('#{ j(contest_request.concept_board_images_by_phase('initial').first.medium_size_url) }')" }
        - else
          .image-container{ style: "background-image: url('#{ j('/assets/portfolio_example.png') }')" }
    .fullWidthLine
    - if show_answer_options && @client
      = render partial: 'clients/moodboard_answers',
          locals: { request_id: contest_request.id, answer: contest_request.answer }
