.no-js.template-about.container
  .main
    %header
    .spanning.clearfix
      .about-hero
        .about-hero-background{:style => "background-image: url('/assets/about_us/about-bg-1.jpg');"}
          .about-hero-title
            .wrap
              %h1= t('.title')

      = render 'home/about_us/what_we_do'

      = render 'home/about_us/team'

      = render 'home/about_us/designers'

      = render 'home/about_us/writers'

      = render 'home/about_us/job_opportunities'
