<section id="feature_slider" class="lol">
	<!--
	Each slide is composed by <img> and .info
	- .info's position is customized with css in index.css
	- each <img> parallax effect is declared by the following params inside its class:

	example: class="asset left-472 sp600 t120 z3"
	left-472 means left: -472px from the center
	sp600 is speed transition
	t120 is top to 120px
	z3 is z-index to 3
	Note: Maintain this order of params

	For the backgrounds, you can combine from the bgs folder :D
	-->
	<!--
	<article class="slide" id="showcasing" style="background: url('/assets//backgrounds/landscape.png') repeat-x top center;">
		<img class="asset left-30 sp600 t120 z1" src="/assets/slides/scene1/macboo.jpg" />
		<div class="info">
			<h2>Beautiful theme for showcasing your home.</h2>
			<%= link_to 'Launch a contest', step1_contests_path() %>
		</div>
	</article>
	-->
	<article class="slide" id="tour" style="background: url('/assets/backgrounds/color-splash.jpg') repeat-x top center;">
		<img class="asset left-472 sp650 t110 z3" src="/assets/slides/scene3/scene3b.jpg" />
		<img class="asset left-365 sp600 t270 z4" src="/assets/slides/scene3/scene3c.jpg" />
		<img class="asset left-350 sp450 t135 z2" src="/assets/slides/scene3/scene3a.jpg" />

		<div class="info">
			<h2>Get multiple options</h2>
			<%= link_to 'Launch a contest', step1_contests_path() %>
		</div>
	</article>
	<article class="slide" id="responsive" style="background: url('/assets/backgrounds/indigo.jpg') repeat-x top center;">
		<img class="asset left-472 sp600 t100 z2" src="/assets/slides/scene4/scene4a.jpg" />
		<img class="asset left-190 sp500 t120 z4" src="/assets/slides/scene4/scene4b.jpg" />
		<div class="info">
			<h2> We love to turn ideas into beautiful home </h2>
			<%= link_to 'Launch a contest', step1_contests_path() %>
		</div>
	</article>
</section>
<!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                &nbsp;
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="col-sm-4">
                    <div class="plan">
                        <div class="wrapper home_wrapper">
                            <h3>How does a contest work for you?</h3>
                            
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order" href="<%= step1_contests_path %>">Let's Start</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 standar">
                    <div class="plan">
                        <div class="wrapper home_wrapper">
							   <h3>successful contests/testimonials</h3>
                            
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>25</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>Unlimited</strong>
                                     Storage
                                </p>
                               
                            </div>
                            <a class="order" href="<%= step1_contests_path %>">Let's Start</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-4 standar">
                    <div class="plan">
                        <div class="wrapper home_wrapper">
                            <h3>Get Inspired by other work</h3>
                            
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order"  href="<%= step1_contests_path %>">Let's Start</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>