- content_for :head do
  = javascript_include_tag 'home/main', defer: true
  = stylesheet_link_tag 'home/designer_stories'

  :javascript
    Messages = #{ translations_to_json(['home', 'sign_up_form']) }

.sticky-nav
  .row
    .col.col-xs-7.col-sm-8
      %h5= t('home.sticky_nav.description')
    .col.col-xs-5.col-sm-4
      %a.getStartedSticky{ href: '#', class: tracked_link }
        %span= t('home.get_started').upcase

= render 'shared/pinterest_tracking', id: Settings.pinterest.landing_tracking_id

.homepage
  .container-fluid.topCarouselHome
    = render 'home/index/top_carousel'

  .container-fluid.padding-section.our-network.container-fluid.wrapper-designers-slider
    = render 'home/index/designers'

  .container-fluid.whatWeDoBox
    = render 'home/index/what_we_do'

  .container-fluid.clientStories
    = render 'home/index/stories'

  .container-fluid.whatToExpect
    = render 'home/index/what_to_expect'

  .container-fluid.bottomCarouselHome
    = render 'home/index/bottom_carousel'
