.lets-design
  = render partial: 'home/index/lets_design_header'
.container.paddingBottom200
  .row
    .col-md-12.text-center
      %a.getStartedBtn{href: design_brief_contests_path}= t('home.get_started')
      %a.arrowDownBtn{href: "#"}
        %img{src: "/assets/down-arrow.png"}/
      = render partial: 'home/index/how_it_works'
.container-fluid.example-moodboards
  .row
    .col-md-12.text-center
      %h3.font36= t('home.example_moodboards')
      .smallUnderline
  .row
    .col-sm-4.disablePadding
      .moodboardExample1
    .col-sm-4
      .moodboardExample2
    .col-sm-4.disablePadding
      .moodboardExample3
  .container
    = render partial: 'home/index/success_stories'
    .row
      = render partial: 'home/index/packages'
.container
  .row
    .col-md-12.text-center
      %a.getStartedBtn.getStartedBtnBottom{href: design_brief_contests_path}= t('home.get_started')
      