.container.privacyPolicyPage.lightFont
  .row
    .col-xs-12
      %p InteriorCrowd, Inc. (“InteriorCrowd”) has created this Privacy Policy to show its firm commitment to your privacy. This Privacy Policy does not apply to web sites maintained by other companies and organizations to which we link or which link to us. This Privacy Policy will be updated from time to time, and the most updated version can always be found at this URL.
      %p InteriorCrowd is dedicated to ensuring the security and quality of your visit. The policy below explains how we may apply and secure your information.
      %h4 INFORMATION WE COLLECT AND HOW IT’S USED
      %p There are two types of information that we collect: non-specifically-identifiable information that is collected in aggregate (information about how users interact with the website) and personal information that you choose to provide to us.
      %p SPECIAL NOTE FOR DO NOT CALL LIST REGISTRANTS
      %p BY SUBMITTING PERSONAL INFORMATION TO US, YOU AUTHORIZE INTERIORCROWD AND ITS PARTNERS, AFFILIATES, SUBSIDIARIES, AND CLIENTS TO CONTACT YOU VIA E-MAIL OR TELEPHONE IN ORDER TO PROCESS AND/OR FULFILL YOUR REQUEST, EVEN IF YOU ARE REGISTERED ON THE NATIONAL DO NOT CALL LIST OR ANY EQUIVALENT STATE DO NOT CALL LIST. YOU WILL BE CONTACTED AT THE PHONE NUMBER YOU PROVIDE TO US, REGARDLESS OF WHETHER IT IS A CELLULAR PHONE OR A LAND LINE.
      %h4 PERSONAL INFORMATION
      %p InteriorCrowd does not collect personal information about you unless you voluntarily provide it. If you decide to submit personal information to us, we may use it to fulfill your request for design services, or to follow up with you to provide the information that you requested. By submitting personal information to us, you grant us the right to use your personal information, including but not limited to, the right to share your information with third parties.
      %p Personal Information could include the following: name, address, telephone number, e-mail, style information, budget, etc.
      %p You may provide information of a personal nature to us for the following situations (for example):
      %ul
        %li To share with interior designers and stylists for the purpose of receiving information about interior design
        %li To ask a question or seek additional information
        %li To share your comments or feedback about our website
        %li To register to receive communications from InteriorCrowd and/or its third party affiliates and partners
        %li To receive information about partnering with us as an affiliate, designer, stylist, etc.
      %p If you voluntarily choose to provide us with personal information, we will use it for any purpose, including but not limited to, the following:
      %ul
        %li To share with our partners, affiliates, designers, stylists, and clients for the purpose of sending you information about a product or service in which you have expressed interest or in which we believe you may be interested
        %li To send communications that you have requested from InteriorCrowd and its subsidiaries, partners, affiliates, clients, and other third parties
        %li To receive information about partnering with us as an affiliate, designer, stylist, etc.
        %li To improve or customize the content and/or layout of our web pages
        %li To contact you when necessary
        %li To send you related information which we think you might be interested in
      %p By submitting your personal information to us, you are providing us with your written and signed consent to receive telemarketing calls. You agree that InteriorCrowd has obtained your consent to receive a prerecorded message sales call in a manner permitted by the Electronic Signatures In Global and National Commerce Act (E-SIGN Act).
      %p By agreeing to these terms, you hereby consent to disclosure of any record or communication to any third party where InteriorCrowd, in its sole discretion, determines the disclosure to be appropriate.
      %p By submitting your information to InteriorCrowd, you expressly consent to be contacted via email or phone by InteriorCrowd, its designers, stylists, partners, affiliates, subsidiaries, and clients.
      %h4 ANONYMOUS INFORMATION
      %p When you visit our site, we collect anonymous information about your browsing. This may include things such as: Browser types, IP address of visitors to our Web page, Cookies, Computer Operating Systems, and Clear Gifs from e-mails and ad banners. We also collect aggregate information on what pages visitors access and how long they stay on each page. We use this information to improve our marketing and promotional activities, to analyze our site usage, and customize our site to better meet the needs of our site visitors.
      %h4 BILLING INFORMATION
      %p When you sign up for paid InteriorCrowd services, we require your billing information in order to process the transaction.
      %p We will retain the last 4 digits of your credit card number and credit card type, so that you may identify that card used in the future. We do not store any other billing information on our servers, as this information is discarded after your transaction has been processed. Our payment gateway, Stripe.com will store your billing information on their secure payment gateway for as long as necessary to carry out the terms of your subscription and ad purchases.
      %p Should you cancel your subscription, your billing information will be immediately removed by Stripe.com All transactions are processed over an industry standard SSL/TLS connection, with a minimum of 128-bit encryption.
      %h4 INFORMATION COLLECTED BY GOOGLE
      %p This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage.
      %p
        Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.
        %br/
        You may refuse the placement of Google Analytics cookies by selecting the appropriate settings on your browser. In doing this, you will safeguard your right to disagree with any future collection, processing and use of data by Google Analytics. For this purpose, you may install the Google Analytics deactivating add-on for browsers to prevent Google Analytics from storing any information on web sites you visited.
      %p
        You can opt out of Google Analytics by using the browser
        = succeed "." do
          %a{:href => Settings.external_urls.privacy_policy.google_opt_out_addon, :target => "_blank"} Add-on
      %p
        You can opt of Google Ads by changing the appropriate settings 
        = succeed "." do
          %a{:href => Settings.external_urls.privacy_policy.google_ads_settings, :target => "_blank"}> here
        %br/
        Google Analytics Terms of Service can be found
        = succeed "." do
          %a{:href => Settings.external_urls.privacy_policy.google_analytics_terms, :target => "_blank"}> here
      %h4 MIXPANEL
      %p This website uses Mixpanel, a web analytics service provided by Mixpanel, Inc. ("Mixpanel"). Mixpanel uses "cookies", which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Mixpanel on servers in the United States. Mixpanel will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Mixpanel may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Mixpanel’s behalf. Mixpanel will not associate your IP address with any other data held by Mixpanel. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Mixpanel in the manner and for the purposes set out above.
      %h4 TWITTER AND FACEBOOK
      %p InteriorCrowd works with Twitter and Facebook to collect user data through their websites for purposes of conversion tracking and serving ads targeted to users’ interests.
      %p
        Twitter utilizes a Do Not Track Functionality that allows users to opt-out of interest based advertising. To opt-out adjust your Twitter account settings
        = succeed "." do
          %a{:href => Settings.external_urls.privacy_policy.twitter_tailored_ads, :target => "_blank"} here
      %p
        You can opt-out of interest based advertising through Facebook
        = succeed "." do
          %a{:href => Settings.external_urls.privacy_policy.about_ads_choices, :target => "_blank"} here
      %h4 INFORMATION SHARING AND DISCLOSURE
      %p InteriorCrowd may use your personal information for any purpose in its sole discretion. We may share your Personal Information with selected third parties to offer you products or services that we think may interest you. We may disclose your personal information in compliance with applicable laws and/or if we are responding to subpoenas, court orders, or other legal processes.
      %p To process your insurance request, we (and our subsidiaries partners, affiliates, clients, and other third parties) may require your name, phone number, e-mail address, and estimated financial information such as debts, salary, credit, etc. In select cases, a social security number may be requested.
      %p We may make the e-mail addresses of those who volunteer their e-mail addresses to us available to other organizations whose products or services we think you might find interesting. If you supply us with your postal address online, you may receive periodic mailings from us. You may also receive mailings from other reputable companies. If you do not want us to share your e-mail address or postal address with other companies or organizations, please let us know by following one of the options described in the Opt-Out section below.
      %h4 ANTI-SPAM POLICY
      %p Spam is commercial e-mail or unsolicited bulk e-mail which has not been requested by the recipient. You will not receive InteriorCrowd e-mail communications unless you submit your e-mail address. You may receive third-party e-mails advertising products and services from our partners and affiliates. If you submit your e-mail (or other Personal Information) to websites to which we are linked or which are linked to us, we are not responsible for their practices. Although we encourage third-parties to abide by Can-SPAM laws, we cannot enforce or change their actions. If you wish to remove your contact information from the third-party, please follow their opt-out instructions.
      %h4 THIRD-PARTY ADVERTISING
      %p Third-party advertising companies may serve ads on our website. These third-party advertising companies may employ Cookies and/or Clear Gifs to measure and improve the effectiveness of ads for their clients. To do so, these companies may use anonymous information about your visits to our website and other websites. This information can include: date and or time of banner ad shown, the specific banner ad that was shown, Cookies, and the IP address. This information can be used for online preference marketing purposes. Clear Gifs, Cookies, and the IP address are not tied to users’ personally identifiable information.
      %h4 CALIFORNIA RESIDENTS PRIVACY RIGHTS
      %p Companies that collect personally identifiable information (“PII”) from California residents and disclose such information to Third Parties (including affiliated entities) for marketing purposes must, in response to a request by a consumer, either (1) provide a list detailing the categories of information shared and the entities to which such information was provided, or (2) provide a mechanism by which a consumer may opt-out of having their information shared with Third Parties. We have elected the second option and you may request that your PII be removed by sending your request, including your full name, email address and postal address to: InteriorCrowd, Inc. 38 Keyes Ave Suite LL06, SF, 94129. In accordance with California Civil Code Sec. 1789.3, California resident users are entitled to know that they may file grievances and complaints with California Department of Consumer Affairs, 400 R Street, Suite 1080, Sacramento, CA 95814; or by phone at 916-445-1254 or 800-952-5210; or by email to dca@dca.ca.gov.
      %h4 HOW TO OPT-OUT
      %p If you would like to opt out of receiving communications from InteriorCrowd, please click the “Opt Out” or “Unsubscribe” link in any past communications you have received from us.
      %h4 CHANGES TO PRIVACY POLICY
      %p InteriorCrowd may amend this policy from time to time, and we may use visitor information for new, unanticipated uses not previously disclosed in this privacy policy statement. If our Privacy Policy changes at some time in the future, we will post the changes prominently to our website at this URL and provide you with the ability to opt-out of these new uses. If you are concerned about how your information is used, you should check back to this page periodically.
      %h4 CONTACT US
      %p
        InteriorCrowd can be contacted at 38 Keyes Ave Suite LL06, SF, 94129.
        %br>/
        Last updated: June 30, 2015
