.menu-border.whiteBg.border0
  .container.paddY20
    .text-center.logo-mobile
      %img{:height => "200", :src => "/assets/logo.png", :width => "200"}/
.container-fluid.text-center.homeEmailSignup
  .row
    .col-md-12
      %h3= t('sign_up_beta.private_beta')
      %p= t('sign_up_beta.enter_email')
      .container
        .row
          .col-md-12
            .hLine10
.optionalSignup
  .labelHomeLeft
    %label.lineHight37= t('sign_up_beta.email')
    %label.lineHight37= t('sign_up_beta.name')
    %label.lineHight37= t('sign_up_beta.role_switcher')
  .labelHomeRight
    = text_field_tag :email
    = text_field_tag :name
    = radio_button_tag :role, :designer, false, class: 'smallRadio'
    = label_tag :role_designer do
      %span
      = t('sign_up_beta.designer')
    = radio_button_tag :role, :consumer, false, class: 'smallRadio'
    = label_tag :role_consumer do
      %span
      = t('sign_up_beta.consumer')
    = button_tag t('sign_up_beta.go'), type: 'submit', class: 'btn fullWidth marg-top20'
