= content_for :head do
  = javascript_include_tag  'jquery.uploadify'
  = javascript_include_tag 'designers/form'
  = stylesheet_link_tag  'uploadify'
  = render partial: 'shared/setup_uploadify'
  :javascript
    window.exlnks = #{session[:exlnks].present? ? session[:exlnks].split(',') : []}

= form_for(@designer) do |f|
  = f.hidden_field :ex_document_ids
  %input#designer_image{:name => "designer_image", :type => "hidden", :value => @designer_images}/
  .row.step-row
    .col-sm-2
      %label First Name:
    .col-sm-7
      = f.text_field :first_name, :class=>  "form-control input-big"
      %span#err_first_name.text-error
  .row.step-row
    .col-sm-2
      %label Last Name:
    .col-sm-7
      = f.text_field :last_name, :class=>  "form-control input-big"
      %span#err_last_name.text-error
  .row.step-row
    .col-sm-2
      %label Email:
    .col-sm-7
      = f.text_field :email, :class=>  "form-control input-big"
      %span#err_email.text-error
  .row.step-row
    .col-sm-2
      %label Zip Code:
    .col-sm-7
      = f.text_field :zip,
          :class=>  "form-control input-small" ,
          :onkeyup => "jQuery(this).val(jQuery(this).val().replace(/[^0-9]/ig, ''))"
  .row.step-row.lnk_container
    .col-sm-2.examplelabel
      %label Example of Your Work:
    .input-group.col-sm-7.link_box.link_box_large
      %span.input-group-addon Links
      %input.form-control.input-big-addon.des_links{:name => "exlinks[]", :type => "text"}/
      %a.plus_wrapper{:href => "javascript:void(0)"}
        %span +
      %a.minus_wrapper{:href => "javascript:void(0)"}
        %span -
  .row.step-row
    .col-sm-8.controls.form-inline.col-sm-offset-2
      %span#image_display{:style => "padding-bottom:10px;"}
        - if @designer_images.present?
          - @designer_images.split(',').each do |path|
            %img{:src => path}/
      %input#file_input{:name => "", :type => "file"}/
      %span (.jpg, .tif, .png)
  .row.step-row
    .col-sm-2
      %label Password:
    .col-sm-7
      = f.password_field :password, :class=>  "form-control input-big"
      %span#err_password.text-error
  .row.step-row
    .col-sm-2
      %label Password Again:
    .col-sm-7
      = f.password_field :password_confirmation, :class=>  "form-control input-big"
      %span#err_cpassword.text-error
  .row.step-row
    .col-sm-6.col-sm-offset-2
      By clicking below, You are agree to our terms and conditions.
  .row.formbuttons
    .col-sm-4.col-sm-offset-4
      %a.order.continue{:href => "#", :style => "width:150px"} CREATE ACCOUNT
