- content_for :head do
  = javascript_include_tag 'designers/lookbook'
  = render partial: 'shared/setup_uploadify'
#in_pricing
  .container
    .section_header
      \ 
    = render partial: 'home/msg'
    .row.charts_wrapp
      .col-sm-12
        .plan
          .wrapper
            .row
              .page-header
                %h2 Design Center
            .row
              .page-header
                %h3 Creating your lookbook
            = form_tag lookbook_designer_path(params[:id]),  {id: "lookbook", method: "post"} do
              .container.col-sm-offset-1.preview
                .row
                  %h4{style: "padding-left:15px;"} What do you want to include in your design?
                = render partial: 'designers/lookbook/add_picture'
                = render partial: 'designers/lookbook/uploaded_pictures', locals: { lookbook_view: @lookbook_view }
                .row
                  .page-header{style: "width:65%"}
                = render partial: 'designers/lookbook/external_pictures', locals: { lookbook_view: @lookbook_view }
                = render partial: 'designers/lookbook/add_link'
                = render partial: 'designers/lookbook/comment_about_design', locals: { lookbook_view: @lookbook_view }
              .row
                %center
                  .col-sm-4.col-sm-offset-4
                    %a.order.continue{href: "#", style: "width:68%"} Preview And Save


