= content_for :head do
  = javascript_include_tag 'designers/form'
  = render partial: 'shared/setup_uploadify'
  :javascript
    window.externaLinks = #{session[:external_links].present? ? session[:external_links].split(',') : []}
    window.I18n = #{ translations_to_json(['designer_center', 'sign_up']) }

#designer-signup
  .container.animated.fadeInDown
    .row.text-center.title-first
      .col-md-12
        %h1.designer-center-title= t('designer_center.title').upcase
        %h3.subtitle
          %i= t('designer_center.sign_up.do_you_love')
        %h3.subtitle
          %i= t('designer_center.sign_up.looking_for')
    %div.divide-line
    = render 'form'
