= content_for :head do
  = javascript_include_tag 'designers/form'
  = render partial: 'shared/setup_uploadify'
  :javascript
    window.externaLinks = #{session[:example_links].present? ? session[:example_links].split(',') : []}
    window.I18n = #{ translations_to_json(['designer_center', 'sign_up']) }

#designer-signup
  .designer-center
    .container.animated.fadeInDown
      .row.text-center.title-first
        %h1.signUpTitle= t('designer_center.title').upcase
        %h1.signUpSubTitle
          %i.lineHeight25
            = t('designer_center.sign_up.do_you_love')
        .long-separator
      = render 'form'
