= render partial: 'shared/contest_short_view', locals: { contest: response.contest }
.moodboard
  .status
    #{ t('designer_center.responses.item.status') }: #{ response.status_name }
  - if response.answer
    .listed-at
      = t('designer_center.responses.item.listed_as', answer: response.answer )
  .options
    = render partial: "designer_center_requests/index/#{ response.status }_options", locals: { response_id: response.id }
