.contestTable.contestDesigner
  .row.text-left.contestTableRow1{ data: { id: contest.id } }
    .col-md-8
      .row
        .col-md-2.makeMeBold= contest.client_name
        .col-md-2= contest.name
        .col-md-2= contest.package_name
        .col-md-2= contest.design_space
        - if contest.winner_selection? && response.draft?
          - days_left = 0
        - else
          - days_left = contest.days_till_end
        .col-md-2.greenDay= days_left
    .col-md-4.contestDesignerBtn
      %a.btn{ href: designer_center_contest_path(id: contest.id) }= t('designer_center.responses.item.view_brief')
      %a.btn{ href: edit_designer_center_response_path(id: response.id) }
        = t('designer_center.responses.item.comments')
        %span= response.collaboration_and_final_comments_count
      %a.btn{ href: edit_designer_center_response_path(id: response.id) }
        = t('designer_center.responses.item.go')
        %img{:src => "/assets/go_right.png"}/

  .row.contestTableRow2
    .col-md-1= "#{t('designer_center.responses.item.status')}:"
    .col-md-5= response.status_name
