- content_for :head do
  = javascript_include_tag 'clients/brief'
  = javascript_include_tag 'contests/desirable_colors_options'
  = javascript_include_tag 'contests/undesirable_colors_options'
  = javascript_include_tag 'contests/area_options'
  = javascript_include_tag 'contests/budget_options'
  = render partial: 'shared/setup_uploadify'
  = render partial: 'shared/setup_colors_table'

  :javascript
    I18n = #{ translations_to_json('') }

- content_for :client_center_content do
  .contest.brief.container-edit-profile{ data: { id: @contest.id } }
    .border-brief-box
      - ContestView::EDITABLE_ATTRIBUTES.each do |attribute|
        = render partial: 'clients/client_center/brief_option', locals: { option: attribute }

= render partial: 'clients/client_center/layout', locals: { container_class: 'container-edit-profile'}
