- content_for :head do
  = javascript_include_tag 'clients/brief'
  = javascript_include_tag 'lib/select2-3.5.2/select2.js'
  = javascript_include_tag 'shared/color_selector'
  = javascript_include_tag  'jquery.uploadify'
  = javascript_include_tag 'contests/space_pictures_options'
  = javascript_include_tag 'contests/example_pictures_options'
  = render partial: 'shared/setup_uploadify'

  = stylesheet_link_tag 'lib/select2-3.5.2/select2.css'
  = stylesheet_link_tag 'lib/select2-3.5.2/select2-bootstrap'
  = stylesheet_link_tag  'uploadify'

- content_for :client_center_content do
  .contest{ data: { id: @contest.id } }
    - brief_fields.each do |brief_field|
      = render partial: 'clients/client_center/brief_option', locals: brief_field

= render partial: 'clients/client_center/layout'