- content_for :head do
  = javascript_include_tag 'clients/brief'
  = javascript_include_tag 'contests/desirable_colors_options'
  = javascript_include_tag 'contests/undesirable_colors_options'
  = javascript_include_tag 'contests/area_options'
  = javascript_include_tag 'contests/packages'
  = javascript_include_tag 'contests/design_space_options'
  = render partial: 'shared/setup_colors_table'

  = stylesheet_link_tag 'shared-style'

  :javascript
    I18n = #{ translations_to_json('') }
    Location = #{ translations_to_json(['contests', 'space', 'location']) }

- content_for :client_center_content do
  = render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs

  .contest.brief.briefEditingBox{ data: { id: @contest.id } }
    - ContestView::EDITABLE_ATTRIBUTES.each do |attribute|
      = render partial: 'clients/client_center/brief_option', locals: { option: attribute }
      .fullWidthLine

= render partial: 'clients/client_center/layout'
