- content_for :head do
  = javascript_include_tag 'shared/inline_editor'
  = javascript_include_tag 'clients/brief'
  = javascript_include_tag 'shared/color_selector'
  = javascript_include_tag 'contests/space_pictures_options'
  = javascript_include_tag 'contests/example_pictures_options'
  = javascript_include_tag 'contests/desirable_colors_options'
  = javascript_include_tag 'contests/undesirable_colors_options'
  = javascript_include_tag 'contests/area_options'
  = render partial: 'shared/setup_uploadify'

  :javascript
    I18n = #{ translations_to_json('client_center') }
    window.colorTableValues = #{ color_table_values.to_json }

- content_for :client_center_content do
  .contest.brief{ data: { id: @contest.id } }
    - ContestView::EDITABLE_ATTRIBUTES.each do |attribute|
      = render partial: 'clients/client_center/brief_option', locals: { option: attribute }

= render partial: 'clients/client_center/layout'
