- content_for :head do
  = javascript_include_tag 'clients/entries'
  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }

= render partial: 'clients/client_center/moodboard_winner_dialog' if @contest_requests.present?
- content_for :client_center_content do
  .bottom60.entries-page
    = render partial: 'clients/client_center/entries/pictures_and_dimensions_reminder' unless @contest_view.try(:have_space_views_details)
    - if @contest_requests.present?
      = render partial: 'clients/client_center/entries/phases'
      - @contest_requests.in_groups_of(2, false) do |contest_requests|
        .row.designConcept
          - contest_requests.each do |contest_request|
            = render partial: 'clients/moodboard', locals: { contest_request: contest_request,
                show_answer_options: @contest.winner_selection? }
      .pagination-row.text-center
        = will_paginate(@contest_requests, class: 'pageNumber intc-pagination center-block')
      = render partial: 'clients/client_center/entries/notes'
      = render partial: 'clients/client_center/entries/user_invitations'
    - else
      = render partial: 'clients/client_center/entries/designers_to_invite',
          locals: { designers: @invitable_designer_views }
      = render partial: 'clients/client_center/entries/more_features'

= render partial: 'clients/client_center/layout'
