- content_for :title do
  =t('client_center.title')

- content_for :head do
  = stylesheet_link_tag 'entries'

  = javascript_include_tag 'clients/entries'
  - @entries_page.javascripts.each do |script|
    = javascript_include_tag script

  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }
    MessagesI18n = #{ translations_to_json(['board_comments']) }

- if @entries_page.current_user_owns_contest?
  = render 'clients/client_center/moodboard_winner_dialog' if @entries_page.contest_requests.present?
  - content_for :client_center_content do
    = render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs
    = render @entries_page.partial

  - if params[:signed_up].present?
    = render 'shared/congratulations_layout',
        content: (yield :client_center_content),
        container_class: (container_class if defined?(container_class))
  - else
    = render 'clients/client_center/layout', container_class: @entries_page.container_css_class
- else
  .container
    = render @entries_page.partial
