- content_for :head do
  = javascript_include_tag 'clients/entries'
  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }

- if params[:final].present?
  = render partial: 'clients/client_center/entries/final_page', locals: {request: @contest_requests.first}
- else
  = render partial: 'clients/client_center/moodboard_winner_dialog' if @contest_requests.present?
  - content_for :client_center_content do
    - if params[:winner].present?
      = render partial: 'clients/client_center/entries/winner'
    - elsif params[:collaboration].present?
      =render partial: 'clients/client_center/entries/collaboration', locals: {request: @contest_requests.first}
    - else
      .bottom60.entries-page
        - if @contest
          %input.hidden.contest{ type: 'hidden', data: { id: @contest.id } }
          = render partial: 'clients/client_center/entries/pictures_and_dimensions_reminder' unless @contest_view.try(:have_space_views_details)
          - if @requests_present
            .bottom60
              .container.animated.fadeInDown
                .row
                  .col-md-8.disablePadding
                    = render partial: 'clients/client_center/entries/phases', locals: {active_tab: 1}
                  = render partial: 'clients/client_center/entries/responses_filter', locals: { selected_answer: params[:answer] }
              %p.chooseP= t('client_center.entries.choose_concept')
            - @contest_requests.in_groups_of(2, false) do |contest_requests|
              .row.designConcept
                - contest_requests.each do |contest_request|
                  = render partial: 'clients/moodboard', locals: { contest_request: contest_request,
                      show_answer_options: @contest.winner_selection? }
            .pagination-row.text-center
              = will_paginate(@contest_requests, class: 'pageNumber intc-pagination center-block')
            = render partial: 'clients/client_center/entries/notes'
            = render partial: 'clients/client_center/entries/user_invitations'
          - else
            - if @contest.submission?
              = render partial: 'clients/client_center/entries/designers_to_invite',
                  locals: { designers: @invitable_designer_views }
            = render partial: 'clients/client_center/entries/more_features'
  = render partial: 'clients/client_center/layout'
= render partial: 'clients/client_center/entries/collaboration/thanks_modal'