- content_for :title do
  Client Center - Entries

- content_for :head do
  = javascript_include_tag 'clients/entries'
  - if @won_contest_request
    - if @won_contest_request.fulfillment_editing?
      = javascript_include_tag 'clients/product_list_marks'
    - if @won_contest_request.fulfillment_ready?
      = javascript_include_tag 'clients/final_design_dialog'

  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }
    MessagesI18n = #{ translations_to_json(['board_comments']) }

= render partial: 'clients/client_center/moodboard_winner_dialog' if @contest_requests.present?
- if @won_contest_request.try(:status) == 'finished'
  - content_for :client_center_content do
    = render partial: 'clients/client_center/entries/final_page', locals: {request: @won_contest_request}
  = render partial: 'clients/client_center/layout'
- else
  - content_for :client_center_content do
    - unless @won_contest_request
      .bottom60.entries-page
        - if @contest
          %input.hidden.contest{ type: 'hidden', data: { id: @contest.id } }
          = render partial: 'clients/client_center/entries/pictures_and_dimensions_reminder' unless @contest_view.try(:have_space_views_details)
          - if @requests_present || @comments_present
            = render partial: 'clients/client_center/entries/main_content'
          - else
            - if @contest.designers_invitation_period?
              = render partial: 'clients/client_center/entries/designers_to_invite',
                  locals: { designers: @invitable_designer_views }
            = render partial: 'clients/client_center/entries/more_features'
    - else
      = render partial: "clients/client_center/entries/#{@won_contest_request.status}",
          locals: {request: @won_contest_request}

  -if params[:signed_up].present?
    = render partial: 'shared/congratulations_layout',
        locals: { content: (yield :client_center_content),
                  container_class: try(:container_class)  }
  -else
    = render partial: 'clients/client_center/layout'
= render partial: 'clients/client_center/entries/collaboration/finalize_design_confirmation'
