- content_for :head do
  = javascript_include_tag 'clients/entries'
  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }

- content_for :client_center_content do
  = render partial: 'clients/client_center/moodboard_winner_dialog'

  .row.client-center.moodboards
    - @contest_requests.in_groups_of(2, false) do |contest_requests|
      - contest_requests.each do |contest_request|
        = render partial: 'clients/moodboard', locals: { contest_request: contest_request, show_answer_options: @contest.winner_selection? }
    .pagination-row
      = will_paginate(@contest_requests)

= render partial: 'clients/client_center/layout'
