- content_for :title do
  Client Center - Entries

- content_for :head do
  = stylesheet_link_tag 'entries'
  = stylesheet_link_tag 'new-style'
  = javascript_include_tag 'clients/entries'
  - @entries_page.javascripts.each do |script|
    = javascript_include_tag script

  :javascript
    I18n = #{ translations_to_json(['client_center', 'entries']) }
    MessagesI18n = #{ translations_to_json(['board_comments']) }

= render partial: 'clients/client_center/moodboard_winner_dialog' if @entries_page.contest_requests.present?
- content_for :client_center_content do
  - unless @entries_page.won_contest_request
    .entries-container.entriesPage.entries-initial
      %input.hidden.contest{ type: 'hidden', data: { id: @entries_page.contest.id } }
      - unless @entries_page.contest_view.try(:have_space_views_details)
        = render partial: 'clients/client_center/entries/pictures_and_dimensions_reminder_new_style'
      - if @entries_page.show_submissions?
        = render partial: 'clients/client_center/entries/main_content',
            locals: { contest_page: @entries_page,
              phases_stripe: PhasesStripe.new(last_step: 0) }
  - else
    .concept-board{ data: { id: @entries_page.won_contest_request.id } }
      = render @entries_page.entries_concept_board_page.partial

- if params[:signed_up].present?
  = render partial: 'shared/congratulations_layout',
      locals: { content: (yield :client_center_content),
                container_class: (container_class if defined?(container_class)) }
- else
  = render partial: 'clients/client_center/layout',
      locals: { container_class: @entries_page.container_css_class }

= render partial: 'clients/client_center/entries/collaboration/finalize_design_confirmation'
