- content_for :head do
  = javascript_include_tag 'clients/profile'
  :javascript
    I18n = #{ translations_to_json(:client_center) }

- content_for :client_center_content do
  .profile
    = render partial: 'home/msg'
    %div
      = render partial: 'clients/client_center/profile/profile_preview'
= render partial: 'clients/client_center/layout'
