- content_for :head do
  = javascript_include_tag 'clients/profile'
  = javascript_include_tag 'contests/payment_details'

  :javascript
    I18n = #{ translations_to_json(:client_center) }

- content_for :client_center_content do
  .profile
    = render 'home/msg'
    .profileEditingBox
      = render 'clients/client_center/profile/profile_preview'
= render 'clients/client_center/layout', container_class: 'container-edit-profile'
