.sidebarComments
  %p.designerName= t('designer_center.edit.comments')
  %div{:role => "tabpanel"}

    %ul.btn-group.btnGroupComments{:role => "tablist"}
      %li.btn.btn-default.active{:role => "presentation"}
        %a{"aria-controls" => "allComents", "data-toggle" => "tab", :href => "#allComents", :role => "tab"}= t('designer_center.edit.all')
      %li.btn.btn-default{:role => "presentation"}
        %a{"aria-controls" => "unreadComments", "data-toggle" => "tab", :href => "#unreadComments", :role => "tab"}= t('designer_center.edit.unread')
      %li.btn.btn-default{:role => "presentation"}
        %a{"aria-controls" => "meComments", "data-toggle" => "tab", :href => "#meComments", :role => "tab"}= t('designer_center.edit.me')
      %li.btn.btn-default{:role => "presentation"}
        %a{"aria-controls" => "designerComments", "data-toggle" => "tab", :href => "#designerComments", :role => "tab"}= t('designer_center.edit.designer')
    #scrollBoxComments.tab-content.notes
      #allComents.tab-pane.active{:role => "tabpanel"}
        - comments.each do |comment|
          = render partial: 'designer_center_requests/edit/comment', locals: {user: @current_user, comment: comment}

      #unreadComments.tab-pane{:role => "tabpanel"}
        -#= render partial: 'designer_center_requests/edit/comment', locals: {user: 'Consumer'}

      #meComments.tab-pane{:role => "tabpanel"}
        -#= render partial: 'designer_center_requests/edit/comment', locals: {user: 'Consumer'}

      #designerComments.tab-pane{:role => "tabpanel"}
        -#= render partial: 'designer_center_requests/edit/comment', locals: {user: 'Consumer'}
    .message-template{style: 'display: none'}
      .commentContainer
        .row
          .col-md-2
            %img{:height => "40", :src => "/assets/profile-img.png", :width => "40"}/
          .col-md-10
            .row
              .col-md-6
                %p.comment-username
              .col-md-6
                %p.comment-time
            %p.comment-text

    .commentTextArea
      %p.designerName= t('designer_center.edit.new_comment')
      %textarea{ request: request.id }
      %button.comment-create= t('designer_center.edit.send')


:javascript
    $('#scrollBoxComments').enscroll({
      verticalTrackClass: 'scrollBoxCommentsTrack',
      verticalHandleClass: 'scrollBoxCommentsHandle',
      minScrollbarLength: 28
    });

    $(document).ready(function(){
     ConceptboardComment.init()
    })