.commentContainer
  .row
    .col-md-2.col-sm-1.col-xs-2
      %img{ width: '40', height: '40', src: comment_view.avatar_url }/
    .col-md-10.col-sm-11.col-xs-10
      .row
        .col-xs-6.authorName
          %p.comment-username= comment_view.name
          %p= comment_view.sub_name
        .col-xs-6
          %p.comment-time= comment_view.ago_text
      %p.comment-text.hidden-xs= comment_view.text
    .col-xs-12
      %p.comment-text.visible-xs= comment_view.text