:javascript
  сonceptBoardUploaderI18n = #{ translations_to_json(['contests', 'space', 'uploading_image']) }
  ConceptBoardUploader.init(window.conceptBoardUploaderI18n)

.row.marg-top10.response{ data: { id: @request.id } }
  .col-md-8.disablePadding
    %p.thisIsAPreview= @request_view.header_text
  .col-md-4
  .col-md-8.disablePadding
    .initialImage
      - if @editing_page.editable?
        = render 'designer_center_requests/show/image_loading',
            { items: @request.current_lookbook_items,
              button_title: t('designer_center.edit.upload_new') }
      - else
        = render 'shared/moodboard', { items: @editing_page.current_lookbook_items }
  .col-md-4.attribute{ data: {attribute: 'feedback', url: designer_center_response_path(@request.id) } }
    = render 'designer_center_requests/show/notes', { request: @request }
    - if @request.commenting_enabled?
      = render 'designer_center_requests/edit/comments', { request: @request,
          comments: @request.comments, show_comment_switcher: !@request_view.initial_concept_board? }
  .col-md-12.disablePadding.marg-top20
    .hLine
  .col-md-6.disablePadding
    = link_to designer_center_response_path(id: @request_view.id), class: tracked_link do
      .backToEntries
        %img{ src: '/assets/lt.png' }/
        = t('designer_center.respond_view.back')
  .col-md-6.disablePadding.text-right
