= form_tag image_item_path(item.id), remote: true, method: 'PATCH', class: 'row dcProduct' do
  .col-sm-7
    .row
      .col-sm-4.dcProductLeft
        .row.dcProductHead{ class: item.mark_css_class }
          .col-sm-8= item.mark_text
          .col-sm-4.text-right
            %a.dcProductTrash{:href => "#"}
        .dcProductImage{ style: 'cursor: pointer' }
          %img.fullWidth{:src => item.thumb_url }/
          = file_field_tag 'image[image]', class: 'hidden'
          = hidden_field_tag 'image_item[image_id]', item.image_id
        .row
          .col-sm-6
            %a.dcEditProduct.save.rightGrayBorder{:href => "#"} Save
          .col-sm-6
            %a.dcEditProduct.cancel{:href => "#"} Cancel
      .col-sm-8.dcProductMiddle
        .row
          .col-sm-4
            %label{:for => "productName"} Product Name
            %label{:for => "productBrand"} Brand
            %label{:for => "productDimensions"} Dimensions
            %label{:for => "productPrice"} Price
            %label{:for => "productLink"} Link
          .col-sm-8
            %input#productName{ name: 'image_item[name]', :type => "text", :value => item.name }/
            %input#productBrand{ name: 'image_item[brand]', :type => "text", :value => item.brand }/
            %input#productDimensions{ name: 'image_item[dimensions]', :type => "text", :value =>  item.dimensions }/
            %input#productPrice{ name: 'image_item[price]', :type => "text", :value => item.price }/
            %input#productLink{ name: 'image_item[link]', :type => "text", :value =>  item.link }/
  .col-sm-5.dcProductRight
    %textarea.dcProductDesc{ name: 'image_item[text]', :tabindex => "0"}
      = item.text
