:javascript
  ÑonceptBoardUploaderI18n = #{ translations_to_json(['contests', 'space', 'final_upload']) }

.row.marg-top20.response{ data: { id: @request.id } }
  = form_for contest_request, url: designer_center_response_path(id: contest_request.id) do |f|
    .col-md-3.disablePadding.text-center
      = image_tag '/assets/profileImg.png'
      %p.designerName= contest_request.designer.name
    .col-md-9
      .row
        .col-md-12
          %p.designerName= t('designer_center.final_upload.note_for_client')
          = f.text_area :final_note,
              class: 'consumerNoteTextarea',
              placeholder: t('designer_center.final_upload.note_for_client_placeholder')
          .initialImage
            = render partial: 'designer_center_requests/show/image_loading',
                locals: { image: @request.concept_board_current_image, button_title: t('designer_center.final_upload.upload')}
          %p.marg-top20.font16.makeMeBlack.makeMeBold= t('designer_center.final_upload.upload_description')
          = f.text_area :pull_together_note, class: 'consumerNoteTextarea'
          %p.font18.makeMeBlack.makeMeBold= t('designer_center.final_upload.product_list')
          .product-list
            - image_items.each do |product_item|
              = render partial: 'designer_center_requests/edit/image_item',
                  locals: { image_item: ImageItemView.new(product_item) }
          .pull-right
            .add-product-button
              = t('designer_center.product_items.add_item')
    .col-md-12.disablePadding.marg-top20
      .hLine
    = render :partial => 'designer_center_requests/edit/bottom_buttons'
