.row.marg-top20
  .col-md-3.disablePadding.text-center
    = image_tag 'profileImg.png'
    %p.designerName= @request.designer.name
  .col-md-9
    .row
      .col-md-12
        %p.designerName= t('designer_center.final_upload.note_for_consumer')
        %textarea.consumerNoteTextarea
        = render partial: 'shared/moodboard', locals: { request: @request }
        %p.grayP14.marg-top10
          %i= t('designer_center.final_upload.file_info')
        %a.darkBorderBtn.uploadFinalDesignBtn.font20{:href => "#"}= t('designer_center.final_upload.upload')
        %p.marg-top20.font16.makeMeBlack.makeMeBold= t('designer_center.final_upload.upload_description')
        %textarea.consumerNoteTextarea
        %p.font18.makeMeBlack.makeMeBold= t('designer_center.final_upload.product_list')
        = render partial: 'designer_center_requests/edit/product_item'

  .col-md-12.disablePadding.marg-top20
    .hLine
  = render :partial => 'designer_center_requests/edit/bottom_buttons'