.col-xs-6.productVote{ data: { id: item.id },
    class: ('default' if item.thumb_url == '/assets/portfolio_example.png') }
  .row
    .col-md-5
      .full-size-image-container{ data: { id: item.image_id } }
        = render 'shared/image_with_enlarge_button',
            settings: EnlargeablePicture.new(image_class: 'full-size-image-container',
              use_div: true,
              thumb_path: item.thumb_url,
              original_size_path: item.original_size_url,
              url_for_downloading: item.download_url)
      - if markable
        = form_tag mark_image_item_path(item.id), remote: true, method: 'PATCH', autocomplete: 'off' do
          .productRadio
            - ImageItem::MARKS.each do |key, value|
              %input{ type: 'radio',
                  name: "image_item[mark]",
                  id: "p_#{ item.id }_#{ key }",
                  value: value,
                  checked: value == item.mark }
              %label{ for: "p_#{ item.id }_#{ key }" }
                %span
            .clearfix
    .col-md-7.productVoteRight
      %h4= item.name
      %p= item.brand
      %p= item.dimensions
      %p= item.price
      %a{ href: item.link_href, target: '_blank' }= item.link_text

      %p.about-text
        = item.text
  .clearfix
