.row.productList
  .col-sm-8
    %h4= title
  = render 'designer_center_requests/edit/room_creation_modal'
.items
  - if contest_request.room_designs.present?
    = render 'designer_center_requests/edit/room_designs', contest_request: contest_request
  - else
    = render 'designer_center_requests/edit/no_room_designs',subtitle: subtitle, reminder: (reminder if defined?(reminder))
  - image_items.each do |item|
    = render 'designer_center_requests/edit/image_content', image_list_name: image_list_name, item: item
- if editable
  .row.dcProduct
    .col-sm-7
      .row
        .col-sm-4.dcAddProductItems{ data: { kind: image_list_name } }
          = file_field_tag 'image[image]', class: 'hidden'
          = hidden_field_tag 'image_item[image_id]', ''
          .uploaded-image.hidden
          %a{ href: '#' }
            %span +
            Add product items
  = file_field_tag 'image[image]', class: 'hidden', id: image_list_name
