.hLine10
%p.font20Bold.marg-top20= title
= subtitle
.row.marg-top20.thumbs
  .template
    = render partial: 'designer_center_requests/edit/image_content',
        locals: { editable: editable,
          text: '',
          id: '',
          image_id: '',
          image_path: '',
          image_list_name: image_list_name,
          checked_mark: '' }
  - contest_request.send(image_list_name).includes(:image).each do |item|
    = render partial: 'designer_center_requests/edit/image_content',
        locals: { editable: editable,
          text: item.text,
          id: item.id,
          image_id: item.image.try(:id),
          image_path: item.image.try(:medium_size_url),
          image_list_name: image_list_name,
          checked_mark: item.mark }
- if editable
  = file_field_tag 'image[image]', class: 'hidden', id: image_list_name
  = hidden_field_tag "contest_request[#{ image_list_name }][image_ids]", contest_request.send(image_list_name).includes(:image).map(&:image).try(:map){|i| i.try(:id)}.try(:join, ',')
  %a.darkBorderBtn.upload-button{:href => "#"}= t('designer_center.edit.upload')
