.row.productList
  .col-sm-12
    %h4= title
    %p.light14Gray= subtitle
    %p.product-list-reminder= reminder if defined?(reminder)

.items
  - image_items.each do |item|
    = render 'designer_center_requests/edit/image_content', image_list_name: image_list_name, item: item

- if editable
  .row.dcProduct
    .col-sm-7
      .row
        .col-sm-4.dcAddProductItems{ data: { kind: image_list_name } }
          = file_field_tag 'file', class: 'hidden'
          = hidden_field_tag 'image_item[image_id]', ''
          .uploaded-image.hidden
          %a{ href: '#' }
            %span +
            Add product items
  = file_field_tag 'file', class: 'hidden', id: image_list_name
