.row.marg-top30.response{ data: { id: @request.id } }
  .col-md-8.disablePadding
    %p.thisIsAPreview= @request_view.header_text
  .col-md-4
  .col-md-8.disablePadding
    .initialImage
      = render partial: 'shared/moodboard', locals: { request: @request }
      .concept-board-upload-hint= t('designer_center.edit.update_concept_board')
      - if @request.editable?
        = link_to t('designer_center.edit.upload_new'),
            designer_center_response_path(id: @request.id),
            remote: true,
            class: 'darkBorderBtn editMoodboardBtn'
    = form_for @request, url: designer_center_response_path(id: @request.id) do |f|
      .image-items
        .products-list
          = render partial: 'designer_center_requests/edit/image_block',
              locals: { editable: true,
                title: t('designer_center.edit.products_list'),
                subtitle: t('designer_center.product_items.product_list_title'),
                image_list_name: :product_items,
                contest_request: @request,
                image_items: @product_items,
                with_row: false }
        .similar-styles
          = render partial: 'designer_center_requests/edit/image_block',
              locals: { editable: true,
                title: t('designer_center.edit.similar_styles'),
                subtitle: t('designer_center.product_items.similar_styles_title'),
                image_list_name: :similar_styles,
                contest_request: @request,
                image_items: @similar_styles,
                with_row: false }
  .col-md-4.attribute{ data: {attribute: 'feedback', url: designer_center_response_path(@request.id) } }
    = render partial: 'designer_center_requests/show/notes', locals: { request: @request }
    - if @request.commenting_enabled?
      = render partial: 'designer_center_requests/edit/comments', locals: { request: @request,
          comments: @request.comments, show_comment_switcher: !@request_view.initial_concept_board? }
  .col-md-12.disablePadding.marg-top20
    .hLine
  .col-md-6.disablePadding
    = link_to designer_center_response_index_path do
      .backToEntries
        %img{ src: '/assets/lt.png' }/
        =t('designer_center.respond.back')
  .col-md-6.disablePadding.text-right
    = link_to '#' do
      .backToEntries.save-fulfillment
        =t('designer_center.respond.save_and_preview')
        %img{ src: '/assets/gt.png' }/
