- content_for :head do
  = javascript_include_tag Settings.ably.script_url

:javascript
  ably = new Ably.Realtime(#{ Settings.ably.api_key.to_json });
  subscriptionChannelName = #{ @request_view.channel_name.to_json }
  subscriptionChannel = ably.channels.get(subscriptionChannelName);

.row.collaborationScreen.marg-top10.response{ data: { id: @request.id } }
  .col-lg-8.col-md-7
    %p.giveDesignerFeedback= @request_view.header_text
  .col-lg-4.col-md-5.hidden-lg
    - if @contest_request_milestone.designer_hint
      %p.daysLeft= @contest_request_milestone.designer_hint

.row.viewingMoodboard.winningMoodboard
  .col-lg-8.col-md-7
    .relative
      = render 'design_brief_link', request: @request, request_view: @request_view
      .initialImage
        - if @request.editable?
          = render partial: 'designer_center_requests/show/image_loading',
              locals: { items: @request.current_lookbook_items,
                button_title: t('designer_center.edit.upload_new') }
        - else
          = render partial: 'shared/moodboard', locals: { request: @request }
  .col-lg-4.col-md-5
    - if @request.commenting_enabled?
      = render partial: 'designer_center_requests/edit/comments',
          locals: { request: @request,
                    comments: @request.comments,
                    show_comment_switcher: !@request_view.initial_concept_board? }
.fullWidthLine.marginBottom40
.image-items
  .list-kind{ data: { kind: :product_items } }
    = render partial: 'designer_center_requests/edit/image_block_designer_view',
        locals: { editable: editable,
          title: t('designer_center.edit.products_list'),
          subtitle: t('designer_center.product_items.product_list_title'),
          reminder: t('designer_center.product_items.product_list_reminder'),
          image_list_name: :product_items,
          contest_request: @request,
          image_items: @product_items,
          wrap_row_with_block: false }
    = render 'designer_center_requests/edit/product_items_list_buttons',
      request: @request,
      contest_request_milestone: @contest_request_milestone
  .fullWidthLine.marginBottom40.marginTop20
  .list-kind{ data: { kind: :similar_styles } }
    = render partial: 'designer_center_requests/edit/image_block_designer_view',
        locals: { editable: editable,
          title: t('designer_center.edit.similar_styles'),
          subtitle: t('designer_center.product_items.similar_styles_title'),
          image_list_name: :similar_styles,
          contest_request: @request,
          image_items: @similar_styles,
          wrap_row_with_block: false }
- if request.fulfillment_ready?
  .fullWidthLine.marginTop20

.marginTop40

= render 'designer_center_requests/edit/product_items_list_buttons',
  request: @request,
  contest_request_milestone: @contest_request_milestone

.marginTop40
.clearfix
.marginTop30
