.col-sm-7
  .row
    .col-sm-4.dcProductLeft
      .row.dcProductHead{ class: item.mark_css_class }
        .col-sm-8
          = item.mark_text
        .col-sm-4.text-right
          - if editable
            %a.dcProductTrash{ href: '#' }
      .dcProductImage
        %img.fullWidth{ src: item.thumb_url, data: { id: item.image_id }}/
      - if editable
        %a.dcEditProduct.edit{ href: '#' } Edit
    .col-sm-8.dcProductMiddle
      %p= item.name
      %p= item.brand
      %p= item.dimensions
      %p= item.price
      %a{ href: item.link_href }= item.link
.col-sm-5.dcProductRight
  %p.dcProductDesc{ tabindex: '0', style: 'width: 418px; padding-right: 17px; outline: none; overflow: hidden;' }
    = item.text