.rooms.text-center-sm.text-center-xs.uploaded-images
  .some-text.col-md-7.no-padding-left
    %h1.font20.makeMeBlack= t('designer_center.portfolio.creation.upload_pictrures.title')
    %h1.imageUploadInfo
      %i= t('designer_center.portfolio.creation.image_requirements')
    %p.font16= t('designer_center.portfolio.creation.upload_pictrures.explanations')
    %p.font16= t('designer_center.portfolio.creation.upload_pictrures.size_requirements')
  .clearfix
  #portfolio_pictures_preview.col-md-12.dashedBorder
    .container
      .col-md-3.novice.template.portfolio-item
        = render partial: 'portfolios/forms/portfolio_picture_thumb', locals: { src: '' }
      - portfolio.pictures.try(:map) do |picture|
        .col-md-3.novice.thumb.portfolio-item{ data: { id: picture.id }, class: ('active' if picture.id == portfolio.background_id) }
          = render partial: 'portfolios/forms/portfolio_picture_thumb', locals: { src: picture.medium_size_url }
  .clearfix
  .col-md-6.no-x-padding.marg-top40
    %input#portfolio_pictures.hidden{ name: 'image[image]', type: 'file', multiple: 'multiple' }
    %input#portfolio_pictures_ids{ name: "portfolio[picture_ids]",
      type: "hidden",
      value: portfolio.pictures.try(:pluck, :id).try(:join, ',') }
    %button.btn3.btn3-confirm.upload-button.margin0{ :type => "button"} Upload images
    = form.hidden_field :background_id
  .clearfix
