%h1{:style => "font-size:20px;color:#231f20; "}= t('designer_center.portfolio.creation.characterize_style')
- Portfolio::STYLES.in_groups_of(6, false) do |styles|
  .col-md-12.no-padding-left{:style => "margin-top:31px;"}
  - styles.each do |style|
    .col-md-2.no-x-padding
      = form.check_box "#{ style }_style", class: 'hidden'
      .tick-btn{:style => "border-radius: 0;"}
        %span ✓
      = form.label "#{ style }_style", t("designer_center.portfolio.creation.styles.#{ style }"), :style => "font-size:20px;width: 75%;"
.col-md-12.no-padding-left{:style => "margin-top:31px;"}
  .col-md-2.no-x-padding
    %label{:style => "font-size:20px;"} Other
.col-md-5.form-group.no-x-padding{:style => "margin-top:20px;"}
  = form.text_field :style_description, class: 'form-control', :style => "height: 75px;"
.clearfix
