%h1.font20.makeMeBlack= t('designer_center.portfolio.creation.characterize_style')
- Portfolio::STYLES.in_groups_of(6, false) do |styles|
  .col-md-12.no-padding-left.marg-top40
  - styles.each do |style|
    .col-md-2.no-x-padding
      = form.check_box "#{ style }_style", class: 'hidden'
      .tick-btn.borderRadius0
        %span ✓
      = form.label "#{ style }_style", t("designer_center.portfolio.creation.styles.#{ style }"), class: 'font20 width75percent'

.col-md-12.no-padding-left.marg-top40
  = check_box_tag "other_style", 0, false, class: 'hidden'
  .tick-btn.borderRadius0
    %span ✓
  = form.label "other_style", 'Other', class: 'font20 width75percent'
  %label.font20.width75percent{:for => "portfolio_vintage_style"}
.col-md-12.form-group.no-x-padding.marg-top20
  = form.text_field :style_description, class: 'form-control'
.clearfix
