:css
  .concept-board-footer-buttons {
    margin-bottom: 10px;
  }

  .concept-board-footer-buttons .high-button {
    margin-top: -10px;
  }

.col-md-12.disablePadding.marg-top20
  .hLine
.col-md-12.disablePadding.concept-board-footer-buttons
  .col-md-6.disablePadding
    - if @request.fulfillment_editing?
      = link_to edit_designer_center_response_path(id: @request.id),
          class: tracked_link do
        .backToEntries
          %img{ src: '/assets/lt.png' }/
          = t('designer_center.respond_view.go_back_and_edit')
    - else
      = link_to designer_center_response_index_path, class: tracked_link do
        .backToEntries
          %img{ src: '/assets/lt.png' }/
          = t('designer_center.respond_view.back')
  .col-md-6.disablePadding.text-right
    - if @request.draft?
      = form_for @request,
          url: designer_center_response_path(id: @request.id),
          html: { class: "edit_contest_request", data: { name: 'Concept board submit' } } do |f|
        = f.hidden_field :status, value: 'submitted'
        = hidden_mixpanel_submit_tag
      - if @request.contest.submission?
        = link_to '#', class: 'submit submitMyDesign high-button' do
          = t('designer_center.respond.submit_design')
    - elsif @request.fulfillment? || true
      = form_for @request,
          url: designer_center_response_path(id: @request.id),
          html: { class: "edit_contest_request", data: { name: 'Submit products list' } } do |f|
        = f.hidden_field :status, value: 'fulfillment_ready'
        = hidden_mixpanel_submit_tag
        = link_to '#', class: 'submit submitMyDesign high-button' do
          = t('designer_center.respond.submit')
