.col-md-12.disablePadding.marg-top20
  .hLine
.row
  .col-md-6.disablePadding
    - if @request.draft?
      = link_to designer_center_response_index_path do
        .backToEntries
          %img{:src => "/assets/lt.png"}/
          =t('designer_center.respond_view.back')
    - elsif @request.fulfillment_editing?
      = link_to edit_designer_center_response_path(id: @request.id) do
        .backToEntries
          %img{:src => "/assets/lt.png"}/
          =t('designer_center.respond_view.go_back_and_edit')
  .col-md-6.disablePadding.text-right
    - if @request.draft?
      = form_for @request, url: designer_center_response_path(id: @request.id) do |f|
        = f.hidden_field :status, value: 'submitted'
      - if @request.contest.submission?
        .marg-bottom20
          = link_to '#', class: 'submit submitMyDesign' do
            =t('designer_center.respond.submit_design')
    - elsif @request.fulfillment?
      = form_for @request, url: designer_center_response_path(id: @request.id) do |f|
        = f.hidden_field :status, value: 'fulfillment_ready'
        .marg-bottom20
          = link_to '#', class: 'submit submitMyDesign' do
            =t('designer_center.respond.submit')
    - else
      .marg-bottom20
        = link_to designer_center_response_index_path do
          .backToEntries
            =t('designer_center.respond.done')
            %img{:src => "/assets/gt.png"}/
