- content_for :head do
  = javascript_include_tag 'designer_center_requests/show'
  = javascript_include_tag 'designer_center_requests/products_list'
  = javascript_include_tag 'designer_center_requests/concept_board_uploader'
  - if @request.fulfillment_approved?
    = javascript_include_tag 'designer_center_requests/fulfillment_approved_edit'
    = render 'shared/finish_contest_confirmation'
  - if @request.fulfillment_ready?
    = render 'shared/finalize_design_confirmation'
    = render 'shared/create_product_items_for_room', request_id: @request.id
  = render partial: 'shared/setup_uploadify'
  :javascript
    I18n = #{ translations_to_json('client_center') }
    MessagesI18n = #{ translations_to_json(['board_comments']) }
    сonceptBoardUploaderI18n = #{ translations_to_json(['contests', 'space', 'uploading_image']) }
    $(document).ready(function() {
      ConceptBoardUploader.init({ i18n: сonceptBoardUploaderI18n,
        contestRequestId: #{ @request.id.to_json },
        single: true })
    })

- content_for :designer_center_content do
  .row.marginTop40
    .col-lg-8
      - if @request_view.current_phase_index.present?
        = render partial: 'clients/client_center/entries/phases',
                 locals: { stripe: @editing_page.phases_stripe }
    .col-lg-4.marginBottom40
      %p.daysLeft= @contest_request_milestone.designer_hint
    = render @editing_page.view_partial

= render partial: 'designer_center/layout'
