- content_for :head do
  = javascript_include_tag 'designer_center_requests/show'

  :javascript
    I18n = #{ translations_to_json('client_center') }

- content_for :designer_center_content do
  .container.animated.fadeInDown.bottom60
    - if params[:final]
      = render 'designer_center_requests/edit/final_upload'
    - else
      .row.marg-top30.response{ data: { id: @request.id } }
        .col-md-8.disablePadding
          %p.thisIsAPreview= t('designer_center.edit.above_image')
        .col-md-4
        .col-md-8.disablePadding
          = render partial: 'shared/moodboard', locals: { request: @request }
          %a.darkBorderBtn{:href => "#"}= t('designer_center.edit.upload_new')
          = render partial: 'designer_center_requests/edit/image_block', locals: {editable: true, title: t('designer_center.edit.products_list'), image_texts: ['This table would be perfect for you.', '.....', '.....'] }
          = render partial: 'designer_center_requests/edit/image_block', locals: {editable: true, title: t('designer_center.edit.similar_styles'), image_texts: ['Provide details on why you chose this. ( e.g, If you have room in your budget, this piece will make your space amazing. It is an investment, but I feel that it will be worth it to have a high quality chair. )', '.....', '.....'] }
        .col-md-4.attribute{ data: {attribute: 'feedback', url: designer_center_response_path(@request.id) } }
          = render partial: 'designer_center_requests/show/notes', locals: { request: @request }
          = render partial: 'designer_center_requests/edit/comments', locals: { request: @request }
        = render partial: 'designer_center_requests/footer_buttons'

= render partial: 'designer_center/layout'