- content_for :head do
  = javascript_include_tag 'designer_center_requests/index'

- content_for :designer_center_content do
  #designer-center-responses.lightFont
    .row.no-x-padding
      .col-md-12.contestUnderway.no-x-padding
        .row
          .col-md-8
            %h3= t('designer_center.responses.title')
            %p= t('designer_center.responses.list_title')
        .contestDesigner.noBorderRadius.header-row
          .row.contestTableHeader
            .col-md-8
              .row
                .col-md-2= t('designer_center.contests_preview.client_name')
                .col-md-2= t('designer_center.contests_preview.contest_name')
                .col-md-2= t('designer_center.contests_preview.type')
                .col-md-2= t('designer_center.contests_preview.room')
                .col-md-2= t('designer_center.contests_preview.days')
        = render 'designer_center_requests/index/items', current_responses: @current_responses

        - if @completed_responses.present?
          %h3.seeCompletedContests= t('designer_center.contests_preview.completed_contests_title')
          #completedContestsBox
            = render 'designer_center_requests/index/items', current_responses: @completed_responses
    .row
      .col-md-12.no-x-padding
        .hLine.footer-line
      = render 'designer_center_requests/index/footer'
= render  'designer_center/layout', container_class: 'bottom60 marg-top20'
