- content_for :designer_center_content do
  #designer-center-responses
    .row
      .col-md-8.contestUnderway
        %h3= t('designer_center.responses.title')
        %p= t('designer_center.responses.list_title')
        = link_to t('designer_center.contests_preview.days'), '#', class: 'btn daysLeftBtn'
        = link_to t('designer_center.contests_preview.qualifying_round'), '#', class: 'btn qualifyingRoundBtn'
        = link_to t('designer_center.contests_preview.fulfillment_period'), '#', class: 'btn fulfillmentPeriodBtn'
        %span#searchBox
          = text_field_tag 'search'
          %button
            = image_tag 'magnifier.png'
        %p
          - @current_responses.each do |response|
            %hr
            .response
              = render partial: 'designer_center_requests/index/item', locals: { response: response }
      .col-md-4
        = render partial: 'designer_center_requests/index/notifications'
    .row
      = render partial: 'designer_center_requests/index/footer'
= render partial: 'designer_center/layout'
