- content_for :designer_center_content do
  #designer-center-responses
    .row
      .col-md-7
        %h3= t('designer_center.responses.title')
        %h4 #{ t('designer_center.responses.list_title') }:
        - @current_responses.each do |response|
          .response
            = render partial: 'designer_center_requests/index/item',
                locals: { response: response }
      .col-md-5
        = render partial: 'designer_center_requests/index/notifications'
    .row
      = render partial: 'designer_center_requests/index/footer'

= render partial: 'designer_center/layout'
