- content_for :head do
  = javascript_include_tag 'designer_center_requests/index'

- content_for :designer_center_content do
  #designer-center-responses
    .row.no-x-padding
      .col-md-12.contestUnderway.no-x-padding
        .row
          .col-md-8
            %h3= t('designer_center.responses.title')
            %p= t('designer_center.responses.list_title')
        .contestTable.contestDesigner.noBorderRadius.onlyBottomBorder
          .row.contestTableHeader
            .col-md-8
              .row
                .col-md-2= t('designer_center.contests_preview.client_name')
                .col-md-2= t('designer_center.contests_preview.contest_name')
                .col-md-2= t('designer_center.contests_preview.type')
                .col-md-2= t('designer_center.contests_preview.room')
                .col-md-2= t('designer_center.contests_preview.days')
        = render partial: 'designer_center_requests/index/items', locals: { current_responses: @current_responses }

        %h3.seeCompletedContests= t('designer_center.contests_preview.completed_contests_title')
        #completedContestsBox
          = render partial: 'designer_center_requests/index/items', locals: { current_responses: @current_responses }
        %h3.seeCurrentContests.marg-top40= t('designer_center.contests_preview.all_contests_title')
        #currentContestsBox
          = render partial: 'designer_center_requests/index/items', locals: { current_responses: @current_responses }
    .row
      = render partial: 'designer_center_requests/index/footer'
= render partial: 'designer_center/layout', locals: { container_class: 'bottom60 marg-top20' }
