- content_for :head do
  = javascript_include_tag 'designer_center_requests/concept_board_uploader'
  = javascript_include_tag 'designer_center_requests/new'
  = javascript_include_tag 'designers/lookbook'
  = render partial: 'shared/setup_uploadify'
  = render partial: 'shared/setup_colors_table'
  :javascript
    I18n = #{ translations_to_json(['designer_center', 'respond']) }
    conceptBoardUploaderI18n = #{ translations_to_json('designer_center.my_contests.concept_board_upload'.split('.')) }

- content_for :designer_center_content do
  .bottom60.contest{ data: { id: @contest.id } }
    = render partial: 'clients/client_center/entries/phases',
             locals: { stripe: PhasesStripe.new(active_step: 0, view_context: self, status: @request.status) }
    = render partial: 'contests/preview/current_contest_infobox',
        locals: { contest: ContestShortDetails.new(@contest) }
    = link_to t("designer_center.my_contests.design_profile"),
        designer_center_contest_path(@contest.id),
        class: "italicLink #{ tracked_link }"

    = form_for @request,
        html: { class: "response" },
        url: designer_center_response_index_path(contest_id: @contest.id) do |f|

      .col-md-8.disablePadding
        .concept-board
          .conceptMoodboardImg
            = render partial: 'designer_center_requests/concept_board_thumbnail',
              locals: { request: @request,
                placeholder_src: '/assets/img-content.png',
                image_id_input_name: 'lookbook[picture][ids][]' }
          %a.submitMyDesign.upload-button{:href => "#"}
            =t('designer_center.my_contests.concept_board_upload.upload_button')
      .col-md-4
        .row
          .col-md-3
            %img{:src => "/assets/profile-img.png"}/
          .col-md-9
            %p.designerName= @designer.name
            %p.designerNote
            .commentTextArea
              %textarea{ style: '',
                name: 'contest_request[feedback]',
                placeholder: t('designer_center.my_contests.say_about_design') }
        .hLine
        .sidebarComments
          %p.designerName= t('designer_center.edit.comments')
          %div{ role: "tabpanel" }
            .commentTextArea
              %br
              %textarea.height150{ name: 'text' }
              %button.pull-right.send-button= t('designer_center.my_contests.send')
              .clearfix
      = f.hidden_field :status, value: 'draft'
      = hidden_mixpanel_submit_tag
      = render partial: 'designer_center_requests/footer',  locals: { request: @request }

= render partial: 'designer_center/layout'
