- content_for :head do
  = javascript_include_tag 'designer_center_requests/concept_board_uploader'
  = javascript_include_tag 'designer_center_requests/new'
  = javascript_include_tag 'designers/lookbook'
  = render partial: 'shared/setup_uploadify'
  = render partial: 'shared/setup_colors_table'
  :javascript
    I18n = #{ translations_to_json(['designer_center', 'respond']) }
    conceptBoardUploaderI18n = #{ translations_to_json('designer_center.responses.new'.split('.')) }

- content_for :designer_center_content do
  #new-contest-request.contest.row{ data: { id: @contest.id } }
    = render partial: 'clients/client_center/entries/phases',
             locals: { stripe: PhasesStripe.new(active_step: 0, view_context: self, status: @request.status) }
    = render partial: 'contests/preview/current_contest_infobox',
        locals: { contest: ContestShortDetails.new(@contest) }
    = form_for @request,
        html: { class: "response" },
        url: designer_center_response_index_path(contest_id: @contest.id) do |f|
      .clearfix
      = render 'design_brief_link', request: @request, request_view: @request_view
      .clearfix

      .col-md-8.disablePadding
        .concept-board
          = render partial: 'designer_center_requests/concept_board_thumbnail',
            locals: { items: @request.current_lookbook_items,
              placeholder_src: '/assets/img-content.png',
              image_id_input_name: 'lookbook[picture][ids]',
              single: true }
          .clearfix
          %a.upload-button.black-bordered-button.font16.marginTop20{:href => "#"}
            = t('designer_center.responses.new.upload_button')
      .col-md-4
        .row.designerTitle
          .col-md-3
            %img{:src => "/assets/profile-img.png"}/
          .col-md-9.designerName
            %p= @designer.name
        .row
          .col-md-12
            .commentTextArea.noteTextarea
              %textarea{ style: '',
                name: 'contest_request[feedback]',
                placeholder: t('designer_center.my_contests.say_about_design'),
              }
        .hLine
        .sidebarComments
          %p.comments-title= t('designer_center.responses.new.any_comments')
          %div{ role: 'tabpanel' }
            .commentTextArea.comment-textarea
              %br
              %textarea{ name: 'text' }
              .pull-right
                .question-sent-notice
                  %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
                  = t('designer_center.my_contests.question_sent')
                %button.send-button= t('designer_center.my_contests.send')
              .clearfix
      = f.hidden_field :status, value: 'draft'
      = f.hidden_field :lookbook_id
      = hidden_mixpanel_submit_tag
      .footer
        .col-md-12.disablePadding.marg-top10
          .hLine
        .col-md-6.disablePadding
          = link_to designer_center_response_index_path, class: tracked_link do
            .backToEntries
              %img{:src => "/assets/lt.png"}/
              = t('designer_center.responses.new.exit_without_saving')
        .col-md-6.disablePadding.text-right
          %a.submitMyDesign{:href => "#"}
            = t('designer_center.my_contests.save_and_preview')
            %img{:src => "/assets/gt.png"}/

= render partial: 'designer_center/layout'
