- content_for :head do
  = javascript_include_tag 'designer_center_requests/show'

  :javascript
    I18n = #{ translations_to_json('client_center') }

- content_for :designer_center_content do
  .container.animated.fadeInDown.bottom60
    .row.marg-top30.response{ data: { id: @request.id } }
      .col-md-8.disablePadding
        %p.thisIsAPreview= t('designer_center.preview.this_is_preview')
      .col-md-4
      .col-md-8.disablePadding
        = render partial: 'shared/moodboard', locals: { request: @request }
        = render partial: 'designer_center_requests/edit/image_block', locals: {editable: false, title: t('designer_center.edit.products_list'), image_texts: ['This table would be perfect for you.', 'This is my favorite print for spring!', 'You cannot go wrong with this one.'], wrap_row_with_block: false }
        = render partial: 'designer_center_requests/edit/image_block', locals: {editable: false, title: t('designer_center.edit.similar_styles'), image_texts: ['If you have room in your budget, this piece will make your space amazing. It is an investment, but I feel that it will be worth it to have a high quality chair.', 'If you want to take a bit of a risk, this piece is awesome', 'I love this inspiration room. What do you think?'], wrap_row_with_block: false }

      .col-md-4.attribute{ data: {attribute: 'feedback', url: designer_center_response_path(@request.id) } }
        = render partial: 'contest_requests/submission_info',
            locals: { designer: @request.designer, submitted_at: @request.created_at, request: @request }

      = render partial: 'designer_center_requests/footer_buttons'

= render partial: 'designer_center/layout'
