- content_for :head do
  = javascript_include_tag 'designer_center_requests/show'

  :javascript
    I18n = #{ translations_to_json('client_center') }

- content_for :designer_center_content do
  .container.animated.fadeInDown.bottom60
    .row.marg-top30.response{ data: { id: @request.id } }
      .col-md-8.disablePadding
        = render partial: 'shared/moodboard', locals: { request: @request }
      .col-md-4.attribute{ data: {attribute: 'feedback', url: designer_center_response_path(@request.id) } }
        = render partial: 'designer_center_requests/show/notes', locals: { request: @request }
      = render partial: 'designer_center_requests/footer_buttons'

= render partial: 'designer_center/layout'
