.container.animated.fadeInDown
  .row
    .col-md-12
      %h3.text-center.makeMeBlack= t('client_center.entries.space.congratulations_new_space')
      = render partial: 'clients/client_center/entries/phases',
          locals: { stripe: PhasesStripe.new(last_step: 2) }

    .col-md-12.marg-top20
      .designerShareBox
        .row
          .col-md-1
            = image_tag 'avatar2.png', width: 90, height: 90, class: 'img-circle'
          .col-md-5
            %p.designerName= request.designer.name
            %p.designerNote= request.final_note
          .col-md-6
            %p.designerName= t('client_center.entries.space.share')
            .social-share-button{ data: { desc: '',
              popup: 'true',
              img: request.concept_board_image_path,
              title: 'my design',
              url: @share_url } }
              - SocialShareButton.config.allow_sites.each do |site|
                = render partial: 'clients/client_center/entries/share_button', locals: { site: site }

.container.animated.fadeInDown
  .row.marg-top40
    .col-md-10.col-md-offset-1.no-x-padding
      = render partial: 'clients/client_center/entries/final_design', locals: {request: request}
      - if @visible_image_items.present?
        %p.makeMeBold.font20.makeMeBlack.marg-top20= t('client_center.entries.space.complete_lock')
        %p.font16= request.pull_together_note
        .hLine10
        - @visible_image_items.each do |product_item|
          = render partial: 'clients/client_center/entries/design_item',
              locals: { image_item: ImageItemView.new(product_item) }
        .row.bottom60
          .col-md-12.disablePadding.text-right.product-list-pagination
            .pull-left
              = will_paginate(@visible_image_items,
                  container: false,
                  renderer: ProductListPaginationRenderer)
            .pull-right
              = link_to 'Start a new contest',
                  design_brief_contests_path,
                  class: "create-contest-button #{ tracked_link }"
