:coffee
  $ ->
    DesignerFinishedContestRequestPage.init()

- content_for :head do
  :javascript
    pageI18n = #{ translations_to_json(['client_center', 'finished']) }

  = javascript_include_tag 'contest_requests/finished_concept_board'

%h2.newSpaceReady
  = t('client_center.entries.space.congratulations')
  %span
  = t('client_center.entries.space.new_space_ready')
.ccFinalPage
  = render partial: 'clients/client_center/entries/phases',
            locals: { stripe: contest_page.entries_concept_board_page.phases_stripe }
  .row.designerDetail
    .col-sm-2.text-center
      = image_tag '/assets/profile-img1.png', width: 90, height: 90, class: 'img-circle'
    .col-sm-10
      %h4.centerXS= request.designer.name
      %p= request.final_note
      %h4= t('client_center.entries.space.share')
      .row.shareLook.social-share-button
        - SocialShareButton.config.allow_sites.each do |site|
          .col-xs-4{ share_button_parent_data(request, contest_page.share_url) }
            = render partial: 'clients/client_center/entries/share_button', locals: { site: site }

  .row.finalMoodboard
    .col-sm-12
      = render partial: 'clients/client_center/entries/final_design',
                locals: { request: request }
  .row
    .col-sm-12
      = link_to t('client_center.finished.download_images'),
          'javascript:void(0)',
          class: "downloadFinalMoodboard download-all #{ tracked_link }",
          data: { name: 'Final design - download' }

  .row.moodboardInstructions
    .col-sm-12
      - if request.pull_together_note.present?
        %h4= t('client_center.entries.space.pull_together')
        %p= request.pull_together_note
  - if contest_page.visible_image_items.present?
    %h4= t('client_center.entries.space.complete_lock')
    .fullWidthLine.marginBottom40.marginTop20

    :coffee
      $ ->
        ImageItemsPagination.init $('.ccFinalPage .imageItems')

    .imageItems{ data: { scope: 'image_items', url: "/contests/#{ contest_page.contest.id }/image_items" } }
      = render contest_page.entries_concept_board_page.image_items_partial

  .fullWidthLine.marginBottom40.marginTop20
  .row
    .col-sm-12.finalNote
      .titleRow
        .col-xs-12.col-sm-9
          %span.header= t('client_center.finished.final_note.title')
        .col-xs-12.col-sm-3
          %span.commentsCount= t('client_center.entries.finished.final_note.comments_count',
          count: @entries_page.entries_concept_board_page.final_notes.length)
        .col-xs-12.comments
          = render 'shared/request_comments_read_only',
            comments: @entries_page.entries_concept_board_page.final_notes
      = form_tag final_note_index_path, remote: true, id: 'final-note-to-designer' do
        = hidden_field_tag 'contest_request_id', request.id
        %textarea{ placeholder: t('client_center.finished.final_note.placeholder'),
                   name: 'final_note[text]' }
        %button.send-button= t('client_center.finished.final_note.button')

  - if @entries_page.entries_concept_board_page.show_contest_creation_button?
    .fullWidthLine.marginTop40
    .row
      .col-sm-12.startNewContest
        = link_to t('contests.index.new_contest'),
            new_contest_path,
            class: "create-contest-button #{ tracked_link }"
