.container.animated.fadeInDown
  .row
    .col-md-12.marg-top40
      %h3.text-center.makeMeBlack= t('client_center.entries.space.congratulations_new_space')
      .col-md-8.disablePadding
        = render partial: 'clients/client_center/entries/phases', locals: {active_tab: 3}

    .col-md-12.marg-top20
      .designerShareBox
        .row
          .col-md-1
            = image_tag 'avatar2.png', width: 90, height: 90, class: 'img-circle'
          .col-md-5
            %p.designerName= request.designer.name
            %p.designerNote= t('client_center.entries.space.designer_note')
          .col-md-6
            %p.designerName= t('client_center.entries.space.share')
            .social-share-button{ data: { desc: '',
              popup: 'true',
              img: request.concept_board_image.original_size_url,
              title: 'my design',
              url: @share_url } }
              = link_to '#', class: 'btn btn-social twitterColor',
                onclick: "return SocialShareButton.share(this);",
                :rel => "nofollow ",
                "data-site" => "twitter",
                title: 'Share to Twitter' do
                = image_tag 'twitter_icon.png'
                = t('client_center.entries.space.social.twitter')
              = link_to '#', class: 'btn btn-social facebookColor',
                onclick: "return SocialShareButton.share(this);",
                :rel => "nofollow ",
                "data-site" => "facebook",
                title: 'Share to Facebook' do
                = image_tag 'facebook_icon.png'
                = t('client_center.entries.space.social.facebook')
              = link_to '#', class: 'btn btn-social pintrestColor',
                onclick: "return SocialShareButton.share(this);",
                :rel => "nofollow ",
                "data-site" => "pinterest",
                title: 'Share to Pinterest' do
                = image_tag 'pintrest_icon.png'
                = t('client_center.entries.space.social.pintrest')

.container.animated.fadeInDown
  .row.marg-top40
    .col-md-10.col-md-offset-1.no-x-padding
      = render :partial => 'clients/client_center/entries/final_design', locals: {request: request}
      - if @product_items.present?
        %p.makeMeBold.font20.makeMeBlack.marg-top20= t('client_center.entries.space.complete_lock')
        .hLine10
        - @product_items.each do |product_item|
          = render :partial => 'clients/client_center/entries/design_item', locals: { product_item: product_item }
        .row.bottom60
          .col-md-12.disablePadding.text-right.product-list-pagination
            = will_paginate(@product_items, container: false, renderer: ProductListPaginationRenderer)
