- content_for :head do
  :javascript
    pageI18n = #{ translations_to_json(['client_center', 'finished']) }

  = javascript_include_tag 'contest_requests/finished_concept_board'

%h2.newSpaceReady
  = t('client_center.entries.space.congratulations')
  %span
  = t('client_center.entries.space.new_space_ready')
.container.ccFinalPage
  = render partial: 'clients/client_center/entries/phases',
            locals: { stripe: @entries_page.entries_concept_board_page.phases_stripe }
  .row.designerDetail
    .col-sm-2.text-center
      = image_tag '/assets/profile-img1.png', width: 90, height: 90, class: 'img-circle'
    .col-sm-10
      %h4.centerXS= request.designer.name
      %p= request.final_note
      %h4= t('client_center.entries.space.share')
      .row.shareLook.social-share-button
        - SocialShareButton.config.allow_sites.each do |site|
          .col-xs-4{ share_button_parent_data(request, @entries_page.share_url) }
            = render partial: 'clients/client_center/entries/share_button', locals: { site: site }

  .row.finalMoodboard
    .col-sm-12
      = render partial: 'clients/client_center/entries/final_design',
                locals: { request: request }
  .row
    .col-sm-12
      = link_to t('client_center.finished.download_images'),
          'javascript:void(0)',
          class: "downloadFinalMoodboard download-all #{ tracked_link }",
          data: { name: 'Final design - download' }

  .row.moodboardInstructions
    .col-sm-12
      - if request.pull_together_note.present?
        %h4= t('client_center.entries.space.pull_together')
        %p= request.pull_together_note
  - if  @entries_page.visible_image_items.present?
    %h4= t('client_center.entries.space.complete_lock')
    .fullWidthLine.marginBottom40.marginTop20

    .row.itemRow
      - @entries_page.visible_image_items.each do |product_item|
        - unless product_item.image_id.nil?
          = render partial: 'clients/client_center/entries/final_design_image_item',
              locals: { image_item: ImageItemView.new(product_item) }
    .imageItemsPagination
      = will_paginate(@entries_page.visible_image_items,
          container: false,
          renderer: ProductListPaginationRenderer)

  .fullWidthLine.marginBottom40.marginTop20
  .row
    .col-sm-12.finalNoteToDesigner
      %h4= t('client_center.finished.final_note.title')
      = form_tag final_note_index_path, remote: true, id: 'final-note-to-designer' do
        = hidden_field_tag 'contest_request_id', request.id
        %textarea{ placeholder: t('client_center.finished.final_note.placeholder'),
                   name: 'final_note[text]' }
        %button.send-button= t('client_center.finished.final_note.button')

  .fullWidthLine.marginTop40
  .row
    .col-sm-12.startNewContest
      = link_to 'Start a new contest',
          design_brief_contests_path,
          class: "create-contest-button #{ tracked_link }"
