.animated.fadeInDown.bottom60
  .row.congratulationsBox.hidden-ss
    %h4= t('client_center.entries.congratulations')
    %p= t('client_center.entries.customized_board')

  = render partial: 'clients/client_center/entries/phases',
           locals: { stripe: @entries_page.entries_concept_board_page.phases_stripe }
  .row.congratulationsBox.visible-ss
    %h4= t('client_center.entries.congratulations')
    %p= t('client_center.entries.customized_board')
  .row.viewingMoodboard.winningMoodboard{ data: { id: request.id } }
    .col-md-8
      .relative
        .winnerBadge
          %span
          %p= t('client_center.winner_selected.the_winner')
          .clearfix
        = render partial: 'shared/moodboard',
          locals: { image: @entries_page.entries_concept_board_page.concept_board_image }
    .col-md-4
      = render partial: 'contest_requests/submission_info',
          locals: { designer: request.designer, submitted_at: request.created_at, request: request }
      .fullWidthLine.hidden-xs.hidden-sm
      = render partial: 'designer_center_requests/edit/comments',
          locals: { request: request, comments: request.comments, show_comment_switcher: false }
