.bottom60
  .container.animated.fadeInDown
    .row
      .col-md-8.disablePadding
        = render partial: 'clients/client_center/entries/phases', locals: {active_tab: 1}
      = render partial: 'clients/client_center/entries/responses_filter', locals: { selected_answer: params[:answer] }
  %p.chooseP= t('client_center.entries.choose_concept')
- @contest_requests.in_groups_of(2, false) do |contest_requests|
  .row.designConcept
    - contest_requests.each do |contest_request|
      = render partial: 'clients/moodboard', locals: { contest_request: contest_request,
                show_answer_options: @contest.winner_selection? }
.pagination-row.text-center
  = will_paginate(@contest_requests, class: 'pageNumber intc-pagination center-block')
- if @client
  = render partial: 'clients/client_center/entries/notes'
  = render partial: 'clients/client_center/entries/user_invitations'
