= stylesheet_link_tag 'new-style'

- readonly = defined?(readonly) ? readonly : false
.row
  - if contest_page.timeline_hint
    = render partial: 'clients/client_center/entries/timeline_hint',
        locals: { text: contest_page.timeline_hint }
  .col-md-9
    = render partial: 'clients/client_center/entries/phases',
        locals: { stripe: phases_stripe }
    - if contest_page.requests_present?
      %p.favDesignConcept.hidden-xs= t('client_center.entries.choose_concept')
  .col-md-3
    .hidden-xs
      = render partial: 'clients/client_center/entries/responses_filter',
          locals: { selected_answer: contest_page.answer }
.row.marginTop40Mobile.setTopMarginTimeLeftToSubmit
  .col-md-12.concept-board-items
    = render partial: 'clients/client_center/entries/feedback/feedback_items_with_pagination',
        locals: { contest_page: contest_page }
- if @client
  .fullWidthLine.marginTop40.marginBottom40.hidden-xs
  = render partial: 'clients/client_center/entries/notes',
      locals: { readonly: readonly, notes: contest_page.notes }
  = render partial: 'clients/client_center/entries/user_invitations', locals: { readonly: readonly }
