- if !(readonly && notes.blank?)
  .row.designerFeedback
    - if readonly
      .col-sm-12
        = render 'clients/client_center/entries/notes_list_container', notes: notes
    - else
      .col-sm-6
        = form_for ContestNote.new, remote: true do |f|
          = f.hidden_field :contest_id, value: @contest.id
          %h4= t('client_center.entries.notes_title')
          = f.text_area :text
          = f.submit t('client_center.entries.send_note'), class: 'btn'
      .col-sm-6
        = render 'clients/client_center/entries/notes_list_container', notes: notes
