- if @reviewer_feedbacks.present?
  .row
    .hLine
  .row
    .disablePadding
      %h3= t('client_center.entries.reviewer_invitations.title')
  .row
    - @reviewer_feedbacks.each do |feedback|
      = render partial: 'clients/client_center/entries/feedback_from_others',locals: {feedback: feedback}

.row
  .hLine
.row.designerFeedback.reviewer-invitations
  %h4
    = t('client_center.entries.reviewer_invitations.want_feedback')
  .template
    = render partial: 'clients/client_center/entries/user_invitation_row'
  .invitations-inputs.marg-bottom30
    = render partial: 'clients/client_center/entries/user_invitation_row'
