.row
  .hLine
.row.designerFeedback.reviewer-invitations
  .col-md-10.col-md-offset-1
    %h4
      = t('client_center.entries.reviewer_invitations.want_feedback')
      = succeed t('client_center.entries.reviewer_invitations.invite') do
        %br/
    .template
      = render partial: 'clients/client_center/entries/user_invitation_row'
    .invitations-inputs
      = render partial: 'clients/client_center/entries/user_invitation_row'

- if @reviewer_feedbacks.present?
  .row
    .hLine
  .row
    .col-md-10.col-md-offset-1.disablePadding
      %h3= t('client_center.entries.reviewer_invitations.title')
  .row
    .col-md-10.col-md-offset-1
      - @reviewer_feedbacks.each do |feedback|
        = render partial: 'clients/client_center/entries/feedback_from_others',locals: {feedback: feedback}
