.container.animated.fadeInDown.bottom60
  .row
    .col-md-12.disablePadding
      %h3.congrats
        = t('client_center.entries.congratulations')
        %span= t('client_center.entries.customized_board')

      = render partial: 'clients/client_center/entries/phases', locals: {active_tab: 2}
      %br/
      %br/
    .col-md-8.disablePadding.relative
      = image_tag '/assets/winnerBadge.png', class: 'winnerBadge'
      = render partial: 'shared/moodboard', locals: { request: @contest_requests[0] }
    .col-md-4
      = render partial: 'contest_requests/submission_info', locals: { designer: @contest_requests[0].designer, submitted_at: @contest_requests[0].created_at }