.panel.panel-default.panel-faq
  .panel-heading.panel-heading-faq{"aria-controls" => "collapse#{number}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{number}", :role => "tab", id: "heading#{number}"}
    %h4.panel-title
      %a= question
  .panel-collapse.collapse{"aria-labelledby" => "heading#{number}", :role => "tabpanel", id: "collapse#{number}"}
    .panel-body= answer