- value_html = capture do
  .designStyleParent
    - @contest_view.appeal_scales.each do |style|
      - if style.opinion
        .row
          %p.col-sm-6{ class: style.value_key.to_s.camelize }
            %b= style.opinion
          %p.col-sm-6.designStyle.text-right
            = style.name.upcase
            %a{ href: 'javascript:void(0)',
                data: { container: 'body',
                  toggle: 'popover',
                  placement: 'bottom',
                  html: 'true',
                  content: render('contests/previews/style_description_popup', { style: style }),
                  viewport: 'body' } }
              ?
        .row
          = render partial: 'shared/image_with_enlarge_button',
              locals: { image_class: 'appeal-collage-image',
                        thumb_path: style.collage_picture,
                        original_size_path: style.collage_picture }
        %p.comment
          = style.reason
      .clearfix
      %p
= render partial: 'contests/previews/preview_row', locals: { title: t('contests.titles.brief.design_style'), value: value_html }
