.col-lg-4
  %p= "#{title} :"
.col-lg-4.attribute-form
  .view
    %p= value
.col-lg-4.text-right
  .edit-button
    = render partial: 'clients/client_center/profile/edit_button_image'
.content
  .edit{ style: 'display: none;' }
.clearfix

-#.col-md-3
-#  %h3= "#{title} :"
-#.col-md-9
-#  %p= value
-#
