- response = contest.response_winner
.contestTable.contestDesigner
  .row.text-left.contestTableRow1{ data: { id: contest.id } }
    .col-sm-10
      .row
        .col-xs-4.makeMeBold= contest.name
        .col-xs-4= contest.design_space
        .col-xs-4.greenDay= contest.days_till_end
    .col-sm-2.contestDesignerBtn.hidden-xs
      %a.goBtn.btn{ href: client_center_entry_path(id: contest.id) }
        = t('designer_center.responses.item.go')
        %img{:src => "/assets/go_right.png"}/

  .row.contestTableRow2
    .col-xs-12
      %span.title= "#{t('designer_center.responses.item.status')}:"
      = contest.status_name
    .col-xs-12.visible-xs.contestDesignerBtn
      %a.goBtn.btn{ href: client_center_entry_path(id: contest.id) }
        = t('designer_center.responses.item.go')
        %img{ src: '/assets/go_right.png' }/
    .clearfix
