.contestTable.contestDesigner
  .row.text-left.contestTableRow1{ data: { id: contest.id } }
    .col-sm-10
      .row
        - if columns.show_days_left_column?
          .col-xs-4.makeMeBold
            - if contest.completed?
              %a{ href: brief_contest_path(id: contest.id) }
                = contest.name
            - else
              = contest.name
          .col-xs-4= contest.design_space_name #TODO tests
          - if contest.completed?
            .col-xs-4.greenDay= contest.days_till_end
          - else
            .col-xs-4= contest.progress
        - else
          .col-xs-6.makeMeBold
            - if contest.completed?
              %a{ href: brief_contest_path(id: contest.id) }
                = contest.name
            - else
              = contest.name
          .col-xs-6= contest.design_space_name #TODO tests
    .col-sm-2.contestDesignerBtn.hidden-xs
      %a.goBtn.btn{ href: contest.continue_path }
        = contest.continue_label
        %img{:src => "/assets/go_right.png"}/

  .row.contestTableRow2
    .col-xs-12
      %span.title= "#{t('designer_center.responses.item.status')}:"
      = contest.status_name
    .col-xs-12.visible-xs.contestDesignerBtn
      %a.goBtn.btn{ href: contest.continue_path }
        = contest.continue_label
        %img{ src: '/assets/go_right.png' }/
    .clearfix
