.row.conceptMoodboardBox.disableMargin
  .col-md-3
    %p=t('designer_center.my_contests.type')
  .col-md-9
    %p= contest.design_category.localized_name
  .clearfix
  .col-md-3
    %p=t('designer_center.my_contests.room')
  .col-md-9
    %p= contest.design_space.name
  .clearfix
  .col-md-3
    %p=t('designer_center.my_contests.design_style')
  .col-md-9
    %p= contest_view.design_styles
  .clearfix
  .col-md-3
    %p=t('designer_center.my_contests.preferd_colors')
  .col-md-9
    - [contest_view.desirable_colors, 'FF0000', 'FF0000', 'FF0000'].each do |color|
      %p.color
        %span.color-text= color
        %span{style: "background: ##{color}"}
  .clearfix
  .col-md-3
    %p=t('designer_center.my_contests.colors_avoid')
  .col-md-9
    - [contest_view.undesirable_colors].each do |color|
      %p.color
        %span.color-text= color
        %span{style: "background: ##{color}"}
  .clearfix
  %a.seeMoreLink{:href => "#"}=t('designer_center.my_contests.see_more')
