= render 'shared/setup_image_items_collapsible_text'

.container.briefEditing.collaborationScreen.row
  .row.marginTop40
    - if contest_page.show_winner_chosen_congratulations?
      .col-md-12
        .congratulationsBox.hidden-ss
          %h4= t('client_center.entries.congratulations')
          %p= t('client_center.entries.customized_board')
    .col-lg-8
      = render 'clients/client_center/entries/phases',
               { stripe: contest_page.entries_concept_board_page.phases_stripe }
    .col-lg-4.visible-lg
      - if contest_page.timeline_hint
        %p.daysLeft= contest_page.timeline_hint
    - if contest_page.show_winner_chosen_congratulations?
      .col-md-12
        .congratulationsBox.visible-ss
          %h4= t('client_center.entries.congratulations')
          %p= t('client_center.entries.customized_board')

    .col-lg-8.col-md-7
      %p.giveDesignerFeedback= t('client_center.entries.collaboration.this_is_a_preview')
    .col-lg-4.col-md-5.hidden-lg
      - if contest_page.timeline_hint
        %p.daysLeft= contest_page.timeline_hint
    .col-lg-4.col-md-5
      = render 'shared/designer_contest_request_info',
        designer: request.designer,
        display_submission_date: false
      .marginTop30

  .row.viewingMoodboard.winningMoodboard
    .col-lg-8.col-md-7
      .relative
        = render 'shared/moodboard',
            { items: contest_page.entries_concept_board_page.current_lookbook_items }

    .col-lg-4.col-md-5
      = render 'shared/comments',
               { request: request,
                 comments: request.comments,
                 show_comment_switcher: true }
  .image-items
    :coffee
      $ ->
        ImageItemsPagination.init $('.image-items')

    = render contest_page.entries_concept_board_page.image_items_partial
