= render 'shared/setup_image_items_collapsible_text'

.container.briefEditing.collaborationScreen.row
  .row.marginTop40
    - if @entries_page.show_winner_chosen_congratulations?
      .col-md-12
        .congratulationsBox.hidden-ss
          %h4= t('client_center.entries.congratulations')
          %p= t('client_center.entries.customized_board')
    .col-lg-8
      = render 'clients/client_center/entries/phases',
               { stripe: @entries_page.entries_concept_board_page.phases_stripe }
    .col-lg-4.visible-lg
      - if @entries_page.timeline_hint
        %p.daysLeft= @entries_page.timeline_hint
    - if @entries_page.show_winner_chosen_congratulations?
      .col-md-12
        .congratulationsBox.visible-ss
          %h4= t('client_center.entries.congratulations')
          %p= t('client_center.entries.customized_board')

    .col-lg-8.col-md-7
      %p.giveDesignerFeedback= t('client_center.entries.collaboration.this_is_a_preview')
    .col-lg-4.col-md-5.hidden-lg
      - if @entries_page.timeline_hint
        %p.daysLeft= @entries_page.timeline_hint

  .row.viewingMoodboard.winningMoodboard
    .col-lg-8.col-md-7
      .relative
        = render 'shared/moodboard',
            { items: @entries_page.entries_concept_board_page.current_lookbook_items }

    .col-lg-4.col-md-5
      = render 'designer_center_requests/edit/comments',
               { request: request,
                 comments: request.comments,
                 show_comment_switcher: true }
  .image-items
    = render 'clients/client_center/entries/collaboration/image_block',
        { choosable: true,
        title: t('designer_center.edit.products_list'),
        block_text: t('client_center.entries.collaboration.check_message'),
        image_items: product_items.for_mark }
    = render 'clients/client_center/entries/collaboration/image_block',
        { choosable: true,
        title: t('designer_center.edit.similar_styles'),
        block_text: t('client_center.entries.collaboration.check_message'),
        image_items: similar_styles.for_mark }

  .fullWidthLine.marginTop20
  .row
    .col-sm-12.doneAndMove
      - if request.fulfillment_ready?
        = link_to '#', class: 'submit submitMyDesign', request_id: request.id do
          =t('client_center.entries.collaboration.done_btn')
          %img{:src => "/assets/gt.png"}/
