- content_for :designer_center_content do
  .container.animated.fadeInDown.bottom60
    .row
      .col-md-10.col-md-offset-1
        %h3= t('designer_center.training.check_out')
        = link_to t('designer_center.training.how_contests_work'), faq_path + '#collapse12', class: 'designerNotification latestTraining'
        = link_to t('designer_center.training.how_to_communicate'), faq_path + '#collapse13', class: 'designerNotification latestTraining'
        = link_to t('designer_center.training.vendors'), faq_path + '#collapse15', class: 'designerNotification latestTraining'

= render partial: 'designer_center/layout'