- content_for :designer_center_content do
  .container.animated.fadeInDown.bottom60.lightFont
    .row
      .col-md-10.col-md-offset-1
        %h3= t('designer_center.training.check_out')
        = link_to t('designer_center.training.how_contests_work'), faq_path + '#collapse22', class: "designerNotification latestTraining #{ tracked_link }"
        = link_to t('designer_center.training.how_to_communicate'), faq_path + '#collapse23', class: "designerNotification latestTraining #{ tracked_link }"
        = link_to t('designer_center.training.vendors'), faq_path + '#collapse25', class: "designerNotification latestTraining #{ tracked_link }"

= render partial: 'designer_center/layout'
