- content_for :head do
  = javascript_include_tag 'designer_center_requests/updates'

- content_for :designer_center_content do
  .container.animated.fadeInDown.bottom60.updates-notifications
    .row
      .col-md-12.no-x-padding.filter-buttons
        %a.btn.allBtn{type: '', reverse: true}= t('designer_center.updates.all')
        %a.btn.invitesBtn{type: 'invite'}= t('designer_center.updates.invites')
        %a.btn.commentsBtn{type: 'comment'}= t('designer_center.updates.comments')
        %a.btn.winsBtn{type: 'win'}= t('designer_center.updates.wins')
        %a.btn.notificationsBtn{type: 'notification'}= t('designer_center.updates.notifications')

    .row.marg-top20
      .col-md-8.no-x-padding
        - @notifications_view.each do |notification|
          = render partial:'designer_notification', locals: { notification: notification }
      .col-md-4
        .sidebarComments.leaderboardSidebar
          %p.designerName= t('designer_center.updates.leaderboard')
          #scrollBoxComments{tabindex: "0"}
            - @comments.each do |comment|
              = render partial: 'designer_center/comment', locals: {user: @designer, comment: comment}

= render partial: 'designer_center/layout'
