- content_for :designer_center_content do
  .container.animated.fadeInDown.bottom60
    .row
      .col-md-12.no-x-padding
        %a.btn.invitesBtn{:href => "#"}= t('designer_center.updates.invites')
        %a.btn.commentsBtn{:href => "#"}= t('designer_center.updates.comments')
        %a.btn.winsBtn{:href => "#"}= t('designer_center.updates.wins')
        %a.btn.notificationsBtn{:href => "#"}= t('designer_center.updates.notifications')

    .row.marg-top20
      .col-md-8.no-x-padding
        - @notificationView.each do |notification|
          = render partial:'designer_notification', locals: { notification: notification }
      .col-md-4
        .sidebarComments.leaderboardSidebar
          %p.designerName= t('designer_center.updates.leaderboard')
          #scrollBoxComments{tabindex: "0"}
            = render partial:'comment_container', locals: {comment: {username: 'InteriorCrowd Team', time:'17 min ago', text: 'Curabitur commodo dui ipsum, sed sollicitudin nisi aliquam suscipit.'}}
            = render partial:'comment_container', locals: {comment: {username: 'InteriorCrowd Team', time:'39 min ago', text: 'Curabitur commodo dui ipsum, sed sollicitudin nisi aliquam suscipit.'}}
            = render partial:'comment_container', locals: {comment: {username: 'InteriorCrowd Team', time:'2hr ago', text: 'Curabitur commodo dui ipsum, sed sollicitudin nisi aliquam suscipit.'}}
            = render partial:'comment_container', locals: {comment: {username: 'InteriorCrowd Team', time:'1d ago', text: 'Curabitur commodo dui ipsum, sed sollicitudin nisi aliquam suscipit.'}}
            = render partial:'comment_container', locals: {comment: {username: 'InteriorCrowd Team', time:'2d ago', text: 'Curabitur commodo dui ipsum, sed sollicitudin nisi aliquam suscipit.'}}

= render partial: 'designer_center/layout'

:javascript
    $('#scrollBoxComments').enscroll({
    verticalTrackClass: 'scrollBoxCommentsTrack',
    verticalHandleClass: 'scrollBoxCommentsHandle',
    minScrollbarLength: 28
    });
