.faq-block
  .wrap
    .faq-title= t('.faq_title')
    .faq-columns.clearfix
      .faq-column
        .faq-panel
          %a.faq-panel-title{:href => "#"}= t('home.how_it_works.faq.who_are_designers.question')
          .faq-panel-drop
            %p= t('home.how_it_works.faq.who_are_designers.answer').html_safe
        .faq-panel
          %a.faq-panel-title{:href => "#"}= t('home.how_it_works.faq.what_do_i_get.question')
          .faq-panel-drop
            %p= t('home.how_it_works.faq.what_do_i_get.answer').html_safe
        .faq-panel
          %a.faq-panel-title{:href => "#"}= t('home.how_it_works.faq.i_want_two_things.question')
          .faq-panel-drop
            %p= t('home.how_it_works.faq.i_want_two_things.answer').html_safe
      .faq-column
        .faq-panel
          %a.faq-panel-title{:href => "#"}= t('home.how_it_works.faq.how_many_designers.question')
          .faq-panel-drop
            %p= t('home.how_it_works.faq.how_many_designers.answer').html_safe
        .faq-panel
          %a.faq-panel-title{:href => "#"}= t('home.how_it_works.faq.how_does_style_profile_work.question')
          .faq-panel-drop
            %p= t('home.how_it_works.faq.how_does_style_profile_work.answer').html_safe
        .faq-panel
          %a.faq-panel-title{:href => "#"}= t('home.how_it_works.faq.designer_can_help_me_with.question')
          .faq-panel-drop
            %p= t('home.how_it_works.faq.designer_can_help_me_with.answer').html_safe
    .faq-navigation.clearfix
      = link_to t('.more_faq'), faq_path, class: 'faq-more'
