.how-step{:style => "background-image: url('/assets/how_it_works/how1-bg.jpg');"}
  .how-step-background
    .wrap
      .how-step-img
        %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how1.jpg", :width => "548"}/
      .how-step-content
        .how-step-wrapper
          .how-step-table
            .how-step-cell
              %h3
                %span.how-step-num> 01.
                = t('.first.title')
              %ul
                - t('.first.description').each do |item|
                  %li= item
  .how-step.how-step-reverse{:style => "background-image: url('/assets/how_it_works/how2-bg.jpg');"}
    .how-step-background.how-step-blue
      .wrap
        .how-step-img
          %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how2.jpg", :width => "548"}/
        .how-step-content
          .how-step-wrapper
            .how-step-table
              .how-step-cell
                %h3
                  %span.how-step-num> 02.
                  = t('.second.title')
                %ul
                  - t('.second.description').each do |item|
                    %li= item
  .how-step{:style => "background-image: url('/assets/how_it_works/how1-bg.jpg');"}
    .how-step-background.how-step-purple
      .wrap
        .how-step-img
          %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how3.jpg", :width => "548"}/
        .how-step-content
          .how-step-wrapper
            .how-step-table
              .how-step-cell
                %h3
                  %span.how-step-num> 03.
                  = t('.third.title')
                %ul
                  - t('.third.description').each do |item|
                    %li= item
  .how-step.how-step-reverse{:style => "background-image: url('/assets/how_it_works/how2-bg.jpg');"}
    .how-step-background.how-step-rose
      .wrap
        .how-step-img
          %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how4.jpg", :width => "548"}/
        .how-step-content
          .how-step-wrapper
            .how-step-table
              .how-step-cell
                %h3
                  %span.how-step-num> 04.
                  = t('.forth.title')
                %ul
                  - t('.forth.description').each do |item|
                    %li= item
  .how-step{:style => "background-image: url('/assets/how_it_works/how1-bg.jpg');"}
    .how-step-background.how-step-red
      .wrap
        .how-step-img
          %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how5.jpg", :width => "548"}/
        .how-step-content
          .how-step-wrapper
            .how-step-table
              .how-step-cell
                %h3
                  %span.how-step-num> 05.
                  = t('.fifth.title')
                %ul
                  - t('.fifth.description').each do |item|
                    %li= item
  .how-step.how-step-reverse{:style => "background-image: url('/assets/how_it_works/how2-bg.jpg');"}
    .how-step-background.how-step-yellow
      .wrap
        .how-step-img
          %img{:alt => "", :height => "548", :src => "/assets/how_it_works/how6.jpg", :width => "548"}/
        .how-step-content
          .how-step-wrapper
            .how-step-table
              .how-step-cell
                %h3
                  %span.how-step-num> 06.
                  = t('.sixth.title')
                %ul
                  - t('.sixth.description').each do |item|
                    %li= item