.row.designerFeedback.marg-bottom20
  .col-md-6.no-x-padding
    = form_for ReviewerFeedback.new do |f|
      = hidden_field_tag :token, params[:token]
      = f.text_area :text, class: 'addCommentTextarea', placeholder: t('client_center.entries.reviewer_invitations.comment_placeholder')
      = f.submit t('client_center.entries.reviewer_invitations.send_feedback'), class: 'btn marg-top20'

      %p.commentSent
        = t('client_center.entries.reviewer_invitations.comment_sent')
        &nbsp;&nbsp;&nbsp;
        %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}