%nav#menu.mm-menu.mm-horizontal.mm-offcanvas
  %ul#mm-0.mm-list.mm-panel.mm-opened.mm-current
    %li
      %a{ href: coming_soon_path, class: tracked_link }= t('header.get_inspired')
    - if current_user.designer? && current_user.portfolio_path
      %li
        %a{ href: show_portfolio_path(current_user.portfolio_path), class: tracked_link }= t('header.portfolio')
    %li
      %a{ href: coming_soon_path, class: tracked_link }= t('header.how_it_works')
    - if current_user.designer?
      %li.dropdown
        %a.mm-subopen{href: '#mm-designer-center'}
        %a{href: '#mm-designer-center'}= t('header.designer_center')
      %li
        %a{ href: logout_sessions_path, class: tracked_link }= t('header.sign_out')
    - elsif current_user.client?
      %li.dropdown
        %a.mm-subopen{href: '#mm-client-center'}
        %a{href: '#mm-client-center'}= t('header.client_center')
      %li
        %a{ href: logout_sessions_path, class: tracked_link }= t('header.sign_out')
    - else
      %li.dropdown
        %a.mm-subopen{href: '#mm-1'}
        %a{href: '#mm-1'}= t('header.login')
  %ul#mm-1.mm-list.mm-panel.mm-hidden
    %li.mm-subtitle
      %a.mm-subclose{href: '#mm-0'}= t('header.login')
    %li
      %a{ href: client_login_sessions_path, class: tracked_link }= t('header.client_login')
    %li
      %a{ href: designer_login_sessions_path, class: tracked_link }= t('header.designer_login')
  %ul#mm-client-center.mm-list.mm-panel.mm-hidden
    %li.mm-subtitle
      %a.mm-subclose{href: '#mm-0'}= t('header.client_center')
    - Navigation::ClientCenter.new.tabs.each do |tab, navigation_link|
      %li
        = link_to navigation_link[:name], navigation_link[:href], class: "#{ tracked_link }"
  %ul#mm-designer-center.mm-list.mm-panel.mm-hidden
    %li.mm-subtitle
      %a.mm-subclose{href: '#mm-0'}= t('header.designer_center')
    - Navigation::DesignerCenter.new.tabs.each do |tab, navigation_link|
      %li
        = link_to navigation_link[:name], navigation_link[:href], class: "#{ tracked_link }"

.mm-page.mm-slideout
  .visible-xs.visible-sm
    .mobile-menu
      %a{href: '#menu'}
  .menu-border
    .container
      .text-center.logo-mobile.visible-sm.visible-xs
        %a{ href: root_path, class: tracked_link, data: { name: 'Homepage icon' } }
          %img{src: '/assets/logo2.png'}/
        %a.btn.btn2-success.pull-right{ href: need_help_path, class: tracked_link }
          %b= t('header.need_help')
      .row.my-menu.visible-lg.visible-md
        .col-md-2.no-padding-right.logo-pc
          %a{ href: root_path, class: tracked_link, data: { name: 'Homepage icon' } }
            %img{ src: '/assets/logo2.png' }
        %a.btn.btn2-success.pull-right{ href: need_help_path, class: tracked_link }
          %b= t('header.need_help')
        .col-md-10.no-padding-right
          .top-nav.pull-down
            .nav-collapse
              %ul.nav.nav-tabs.text-menu.main-menu.pull-right
                %li
                  %a{ href: coming_soon_path, class: tracked_link }= t('header.get_inspired')
                - if current_user.designer? && current_user.portfolio_path
                  %li
                    %a{ href: show_portfolio_path(current_user.portfolio_path), class: tracked_link }= t('header.portfolio')
                %li
                  %a{ href: coming_soon_path, class: tracked_link }= t('header.how_it_works')
                - if current_user.designer?
                  %li
                    %a{ href: designer_center_index_path, class: tracked_link }= t('header.designer_center')
                  %li
                    %a{ href: logout_sessions_path, class: tracked_link }= t('header.sign_out')
                - elsif current_user.client?
                  %li
                    %a{ href: client_center_index_path, class: tracked_link }= t('header.client_center')
                  %li
                    %a{ href: logout_sessions_path, class: tracked_link }= t('header.sign_out')
                - else
                  %li.dropdown
                    %a.dropdown-toggle{ data: { toggle: 'dropdown' } , href: 'sign-in.html' }
                      = t('header.login')
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{ href: client_login_sessions_path, class: tracked_link }= t('header.client_login')
                      %li
                        %a{ href: designer_login_sessions_path, class: tracked_link }= t('header.designer_login')
