%title= page_title
= render 'layouts/favicon'
- if @no_global_css
  = javascript_include_tag 'jquery'
  - unless @admin_page
    = stylesheet_link_tag 'layout'
    = stylesheet_link_tag 'jquery.mmenu.all'
    = stylesheet_link_tag 'blog_fonts'
    = stylesheet_link_tag 'bootstrap/bootstrap'
- else
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
= csrf_meta_tags
%meta{ content: 'IE=edge', http: { equiv: 'X-UA-Compatible' } }
%meta{ content: 'width=device-width,initial-scale=1.0', name: 'viewport' }/
%meta{ name: 'p:domain_verify', content: '398f091f32b934c4028c306d13551d58' }
%meta{ property: 'og:title', content: page_title }
%meta{ property: 'og:description', content: page_description }
%meta{ property: 'og:image', content: asset_url('logo.png') }
%meta{ name: 'description', content: page_description }
%meta{ 'http-equiv' => "Content-Type", content: 'text/html; charset=utf-8' }
/ HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
/[if lt IE 9]
  = javascript_include_tag('html5shiv')
  = javascript_include_tag('respond')

= render partial: 'shared/global_scripts'

= yield :head
