.text-center.logo-mobile.visible-sm.visible-xs
  %a{ href: root_path, class: tracked_link, data: { name: 'Homepage icon' } }
    %img{src: '/assets/logo2.png'}/
  %a.btn.btn2-success.pull-right{ href: need_help_path, class: tracked_link }
    %b= t('header.need_help')
.row.my-menu.visible-lg.visible-md
  .col-md-2.no-padding-right.logo-pc
    %a{ href: root_path, class: tracked_link, data: { name: 'Homepage icon' } }
      %img{ src: '/assets/logo2.png' }
  %a.btn.btn2-success.pull-right{ href: need_help_path, class: tracked_link }
    %b= t('header.need_help')
  .col-md-10.no-padding-right
    .top-nav.pull-down
      .nav-collapse
        %ul.nav.nav-tabs.text-menu.main-menu.pull-right
          %li
            %a{ href: coming_soon_path, class: tracked_link }= t('header.get_inspired')
          - if current_user.designer? && current_user.portfolio_path
            %li
              %a{ href: show_portfolio_path(current_user.portfolio_path), class: tracked_link }= t('header.portfolio')
          %li
            %a{ href: coming_soon_path, class: tracked_link }= t('header.how_it_works')
          - if current_user.designer?
            %li
              %a{ href: designer_center_index_path, class: tracked_link }= t('header.designer_center')
            %li
              %a{ href: logout_sessions_path, class: tracked_link }= t('header.sign_out')
          - elsif current_user.client?
            %li
              %a{ href: client_center_index_path, class: tracked_link }= t('header.client_center')
            %li
              %a{ href: logout_sessions_path, class: tracked_link }= t('header.sign_out')
          - else
            %li.dropdown
              %a.dropdown-toggle{ data: { toggle: 'dropdown' } , href: 'sign-in.html' }
                = t('header.login')
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: client_login_sessions_path, class: tracked_link }= t('header.client_login')
                %li
                  %a{ href: designer_login_sessions_path, class: tracked_link }= t('header.designer_login')
