!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'InteriorCrowd'
    = favicon_link_tag '/assets/favicon.ico'
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = render 'shared/mixpanel'
    = csrf_meta_tags
    %meta{ content: 'IE=edge', http: { equiv: 'X-UA-Compatible' } }
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag('html5shiv')
      = javascript_include_tag('respond')

    = render partial: 'shared/setup_mixpanel'

    = yield :head
  %body.pull_top
    #body-container
      #body-header
        = render partial: 'layouts/header'
      #body-content
        = yield
      #body-footer
        = render partial: 'layouts/footer'
